<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="report_path"
            formControlName="report_path"
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="report_path">Report Path </label>
        </span>
        <span
          *ngIf="
            editForm.get('report_path')!.invalid &&
            (editForm.get('report_path')!.dirty ||
              editForm.get('report_path')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="cas_plan_content_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="casPlanContents!"
            formControlName="cas_plan_content_id"
          ></p-dropdown>
          <label for="cas_plan_content_id">Cas Plan Content </label>
        </span>
        <span
          *ngIf="
            editForm.get('cas_plan_content_id')!.invalid &&
            (editForm.get('cas_plan_content_id')!.dirty ||
              editForm.get('cas_plan_content_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('cas_plan_content_id')?.errors?.required"
            >Cas Plan Content is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="cas_assessment_sub_criteria_option_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="casAssessmentSubCriteriaOptions!"
            formControlName="cas_assessment_sub_criteria_option_id"
          ></p-dropdown>
          <label for="cas_assessment_sub_criteria_option_id"
            >Cas Assessment Sub Criteria Option
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('cas_assessment_sub_criteria_option_id')!.invalid &&
            (editForm.get('cas_assessment_sub_criteria_option_id')!.dirty ||
              editForm.get('cas_assessment_sub_criteria_option_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="
              editForm.get('cas_assessment_sub_criteria_option_id')?.errors
                ?.required
            "
            >Cas Assessment Sub Criteria Option is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
