<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="bank" type="text" pInputText formControlName="bank" />
          <label for="bank">Bank </label>
        </span>
        <span
          *ngIf="
            editForm.get('bank')!.invalid &&
            (editForm.get('bank')!.dirty ||
              editForm.get('bank')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('bank')?.errors?.required"
            >Bank is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="branch" type="text" pInputText formControlName="branch" />
          <label for="branch">Branch </label>
        </span>
        <span
          *ngIf="
            editForm.get('branch')!.invalid &&
            (editForm.get('branch')!.dirty ||
              editForm.get('branch')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('branch')?.errors?.required"
            >Branch is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="account_name"
            type="text"
            pInputText
            formControlName="account_name"
          />
          <label for="account_name">Account Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('account_name')!.invalid &&
            (editForm.get('account_name')!.dirty ||
              editForm.get('account_name')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('account_name')?.errors?.required"
            >Account Name is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="account_number"
            type="text"
            pInputText
            formControlName="account_number"
          />
          <label for="account_number">Account Number </label>
        </span>
        <span
          *ngIf="
            editForm.get('account_number')!.invalid &&
            (editForm.get('account_number')!.dirty ||
              editForm.get('account_number')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('account_number')?.errors?.required"
            >Account Number is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
