<div class="dialog-content">
  <app-loader
    [isLoading]="
      isSaving || facilityIsLoading || roleIsLoading || sectionIsLoading
    "
  ></app-loader>
  <div fxLayout="column" fxLayoutGap="4px">
    <form
      name="editForm"
      role="form"
      novalidate
      (ngSubmit)="save()"
      [formGroup]="editForm"
    >
      <div fxLayout="column" fxLayoutGap="1rem">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
          <!-- Email -->
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <input
                id="email"
                type="text"
                pInputText
                formControlName="email"
              />
              <label for="email">Email </label>
            </span>
            <span
              *ngIf="
                editForm.get('email')!.invalid &&
                (editForm.get('email')!.dirty ||
                  editForm.get('email')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="editForm.get('email')?.errors?.required"
                >Email is required.</small
              >
              <small
                class="p-error"
                *ngIf="editForm.get('email')?.errors?.email"
                >Invalid Email</small
              >
            </span>
          </div>
          <!-- First Name -->
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <input
                id="first_name"
                type="text"
                pInputText
                formControlName="first_name"
              />
              <label for="first_name">First Name </label>
            </span>
            <span
              *ngIf="
                editForm.get('first_name')!.invalid &&
                (editForm.get('first_name')!.dirty ||
                  editForm.get('first_name')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="editForm.get('first_name')?.errors?.required"
                >First Name is required.</small
              >
            </span>
          </div>
          <!-- Last Name -->
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <input
                id="last_name"
                type="text"
                pInputText
                formControlName="last_name"
              />
              <label for="last_name">Last Name </label>
            </span>
            <span
              *ngIf="
                editForm.get('last_name')!.invalid &&
                (editForm.get('last_name')!.dirty ||
                  editForm.get('last_name')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="editForm.get('last_name')?.errors?.required"
                >Last Name is required.</small
              >
            </span>
          </div>

          <!-- Last Name -->
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <input
                id="username"
                type="text"
                pInputText
                formControlName="username"
              />
              <label for="last_name">Username </label>
            </span>
            <span
              *ngIf="
                editForm.get('username')!.invalid &&
                (editForm.get('username')!.dirty ||
                  editForm.get('username')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="editForm.get('username')?.errors?.required"
                >Username is required.</small
              >
            </span>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
          <!-- Check number -->
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-inputNumber
                formControlName="cheque_number"
                id="cheque_number"
                mode="decimal"
                [min]="0"
                inputId="withoutgrouping"
                [useGrouping]="false"
              ></p-inputNumber>
              <label for="cheque_number">Check Number</label>
            </span>
            <span
              *ngIf="
                editForm.get('cheque_number')!.invalid &&
                (editForm.get('cheque_number')!.dirty ||
                  editForm.get('cheque_number')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="editForm.get('cheque_number')?.errors?.required"
                >Cheque Number is required.</small
              >
            </span>
          </div>
          <!-- Title -->
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <input
                id="title"
                type="text"
                pInputText
                formControlName="title"
              />
              <label for="title">Title </label>
            </span>
            <span
              *ngIf="
                editForm.get('title')!.invalid &&
                (editForm.get('title')!.dirty ||
                  editForm.get('title')!.touched ||
                  formError)
              "
            >
            </span>
          </div>
          <!-- Mobile number -->
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <input
                id="mobile_number"
                type="text"
                pInputText
                formControlName="mobile_number"
              />
              <label for="mobile_number">Mobile Number </label>
            </span>
            <span
              *ngIf="
                editForm.get('mobile_number')!.invalid &&
                (editForm.get('mobile_number')!.dirty ||
                  editForm.get('mobile_number')!.touched ||
                  formError)
              "
            >
            </span>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
          <!-- Roles -->
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="roles"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                appendTo="body"
                [options]="roles!"
                formControlName="role_id"
              ></p-dropdown>
              <label for="roles">Role</label>
            </span>
            <span
              *ngIf="
                editForm.get('role_id')!.invalid &&
                (editForm.get('role_id')!.dirty ||
                  editForm.get('role_id')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="editForm.get('role_id')?.errors?.required"
                >Role required.</small
              >
            </span>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="4px">
          <p-inputSwitch
            id="active"
            name="active"
            formControlName="active"
          ></p-inputSwitch>
          <label for="active">Active</label>
        </div>

        <div fxLayout="row" fxLayoutGap="0.75rem">
          <span fxFlex></span>
          <button
            class="p-button-raised"
            icon="pi pi-check"
            label="Save"
            pButton
            [disabled]="editForm.invalid"
            pRipple
            type="submit"
          ></button>
        </div>
      </div>
    </form>
  </div>
</div>
