<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="first_name"
            type="text"
            pInputText
            formControlName="first_name"
          />
          <label for="first_name">First Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('first_name')!.invalid &&
            (editForm.get('first_name')!.dirty ||
              editForm.get('first_name')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('first_name')?.errors?.required"
            >First Name is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="last_name"
            type="text"
            pInputText
            formControlName="last_name"
          />
          <label for="last_name">Last Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('last_name')!.invalid &&
            (editForm.get('last_name')!.dirty ||
              editForm.get('last_name')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('last_name')?.errors?.required"
            >Last Name is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="email" type="text" pInputText formControlName="email" />
          <label for="email">Email </label>
        </span>
        <span
          *ngIf="
            editForm.get('email')!.invalid &&
            (editForm.get('email')!.dirty ||
              editForm.get('email')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('email')?.errors?.required"
            >Email is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="cheque_number"
            type="text"
            pInputText
            formControlName="cheque_number"
          />
          <label for="cheque_number">Cheque Number </label>
        </span>
        <span
          *ngIf="
            editForm.get('cheque_number')!.invalid &&
            (editForm.get('cheque_number')!.dirty ||
              editForm.get('cheque_number')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('cheque_number')?.errors?.required"
            >Cheque Number is required.</small
          >
        </span>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="activated"
          name="activated"
          formControlName="activated"
        ></p-inputSwitch>
        <label for="activated">Activated </label>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="title" type="text" pInputText formControlName="title" />
          <label for="title">Title </label>
        </span>
        <span
          *ngIf="
            editForm.get('title')!.invalid &&
            (editForm.get('title')!.dirty ||
              editForm.get('title')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="mobile_number"
            type="text"
            pInputText
            formControlName="mobile_number"
          />
          <label for="mobile_number">Mobile Number </label>
        </span>
        <span
          *ngIf="
            editForm.get('mobile_number')!.invalid &&
            (editForm.get('mobile_number')!.dirty ||
              editForm.get('mobile_number')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_facility_user"
          name="is_facility_user"
          formControlName="is_facility_user"
        ></p-inputSwitch>
        <label for="is_facility_user">Is Facility User </label>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_super_user"
          name="is_super_user"
          formControlName="is_super_user"
        ></p-inputSwitch>
        <label for="is_super_user">Is Super User </label>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="section_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="sections!"
            formControlName="section_id"
          ></p-dropdown>
          <label for="section_id">Section </label>
        </span>
        <span
          *ngIf="
            editForm.get('section_id')!.invalid &&
            (editForm.get('section_id')!.dirty ||
              editForm.get('section_id')!.touched ||
              formError)
          "
        >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="admin_hierarchy_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="adminHierarchies!"
            formControlName="admin_hierarchy_id"
          ></p-dropdown>
          <label for="admin_hierarchy_id">Admin Hierarchy </label>
        </span>
        <span
          *ngIf="
            editForm.get('admin_hierarchy_id')!.invalid &&
            (editForm.get('admin_hierarchy_id')!.dirty ||
              editForm.get('admin_hierarchy_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('admin_hierarchy_id')?.errors?.required"
            >Admin Hierarchy is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-multiSelect
            [options]="facilities!"
            formControlName="facilities"
            optionLabel="name"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
          >
          </p-multiSelect>
          <label for="facilities">Facilities </label>
        </span>
        <span
          *ngIf="
            editForm.get('facilities')!.invalid &&
            (editForm.get('facilities')!.dirty ||
              editForm.get('facilities')!.touched ||
              formError)
          "
        >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
