<div class="dialog-content">
  <app-loader [isLoading]="true"></app-loader>
  <!-- <app-loader
    [isLoading]="
      isSaving ||
      fundSourceIsLoading ||
      taskNatureIsLoading ||
      projectIsLoading ||
      projectOutputIsLoading ||
      facilityIsLoading ||
      budgetClassIsLoading ||
      referenceIsLoading ||
      responsibleIsLoading
    "
  ></app-loader> -->
  <form
    name="generalForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="generalForm"
  >
    <mat-stepper #stepper>
      <ng-template matStepperIcon="edit">
        <i class="pi pi-pencil" style="font-size: 11px; line-height: 11px"></i>
      </ng-template>
      <ng-template matStepperIcon="error">
        <i
          class="pi pi-exclamation-triangle"
          style="font-size: 14px; line-height: 14px"
        ></i>
      </ng-template>

      <mat-step [stepControl]="generalForm" errorMessage="This step incomplete">
        <ng-template matStepLabel>General</ng-template>

        <div fxLayout="column" fxLayoutGap="20px">
          <!-- Description field -->
          <div class="p-field p-col-12 p-md-4" fxFlex>
            <span class="p-float-label">
              <input
                id="description"
                formControlName="description"
                pInputText
              />
              <label for="description">Description </label>
            </span>
            <span
              *ngIf="
                generalForm.get('description')!.invalid &&
                (generalForm.get('description')!.dirty ||
                  generalForm.get('description')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="generalForm.get('description')?.errors?.required"
                >Description is required.</small
              >
            </span>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
            <!-- Main Budget class -->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-dropdown
                  #mainBudgetClass
                  id="main_budget_class_id"
                  appendTo="body"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  formControlName="main_budget_class_id"
                  [options]="mainBudgetClasses!"
                  (onChange)="loadBudgetClasses(mainBudgetClass.value)"
                  optionValue="id"
                  optionLabel="name"
                  class="p-inputtext-sm"
                ></p-dropdown>
                <label for="main_budget_class_id">Budget Class </label>
              </span>
              <span
                *ngIf="
                  generalForm.get('main_budget_class_id')!.invalid &&
                  (generalForm.get('main_budget_class_id')!.dirty ||
                    generalForm.get('main_budget_class_id')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="
                    generalForm.get('main_budget_class_id')?.errors?.required
                  "
                  >Budget Class is required.</small
                >
              </span>
            </div>

            <!-- Sub  Budget class -->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-dropdown
                  #budgetClass
                  id="budget_class_id"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  formControlName="budget_class_id"
                  [options]="budgetClasses!"
                  optionValue="id"
                  (onChange)="loadFundSources(budgetClass.value, true)"
                  optionLabel="name"
                  class="p-inputtext-sm"
                ></p-dropdown>
                <label for="budget_class_id">Budget Class </label>
              </span>
              <span
                *ngIf="
                  generalForm.get('budget_class_id')!.invalid &&
                  (generalForm.get('budget_class_id')!.dirty ||
                    generalForm.get('budget_class_id')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="generalForm.get('budget_class_id')?.errors?.required"
                  >Budget Class is required.</small
                >
              </span>
            </div>

            <!-- Project -->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-dropdown
                  #project
                  id="project_id"
                  optionValue="id"
                  optionLabel="name"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  class="p-inputtext-sm"
                  appendTo="body"
                  [options]="projects!"
                  (onChange)="loadProjectOutput(project.value)"
                  formControlName="project_id"
                ></p-dropdown>
                <label for="project_id">Project </label>
              </span>
              <span
                *ngIf="
                  generalForm.get('project_id')!.invalid &&
                  (generalForm.get('project_id')!.dirty ||
                    generalForm.get('project_id')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="generalForm.get('project_id')?.errors?.required"
                  >Project is required.</small
                >
              </span>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
            <!-- Activity type -->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-dropdown
                  #activityType
                  id="activity_type_id"
                  optionValue="id"
                  optionLabel="name"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  class="p-inputtext-sm"
                  appendTo="body"
                  (onChange)="loadActivityTaskNature(activityType.value)"
                  [options]="activityTypes!"
                  formControlName="activity_type_id"
                ></p-dropdown>
                <label for="activity_type_id">Activity Type </label>
              </span>
              <span
                *ngIf="
                  generalForm.get('activity_type_id')!.invalid &&
                  (generalForm.get('activity_type_id')!.dirty ||
                    generalForm.get('activity_type_id')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="generalForm.get('activity_type_id')?.errors?.required"
                  >Activity Type is required.</small
                >
              </span>
            </div>
            <!-- Activity task nature -->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-dropdown
                  id="activity_task_nature_id"
                  optionValue="id"
                  optionLabel="name"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  class="p-inputtext-sm"
                  appendTo="body"
                  [options]="activityTaskNatures!"
                  formControlName="activity_task_nature_id"
                ></p-dropdown>
                <label for="activity_task_nature_id"
                  >Activity Task Nature
                </label>
              </span>
              <span
                *ngIf="
                  generalForm.get('activity_task_nature_id')!.invalid &&
                  (generalForm.get('activity_task_nature_id')!.dirty ||
                    generalForm.get('activity_task_nature_id')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="
                    generalForm.get('activity_task_nature_id')?.errors?.required
                  "
                  >Activity Task Nature is required.</small
                >
              </span>
            </div>

            <!-- Responsible perdion -->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-dropdown
                  id="responsible_person_id"
                  optionValue="id"
                  optionLabel="name"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  class="p-inputtext-sm"
                  appendTo="body"
                  [options]="responsiblePeople!"
                  formControlName="responsible_person_id"
                ></p-dropdown>
                <label for="responsible_person_id">Responsible Person </label>
              </span>
              <span
                *ngIf="
                  generalForm.get('responsible_person_id')!.invalid &&
                  (generalForm.get('responsible_person_id')!.dirty ||
                    generalForm.get('responsible_person_id')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="
                    generalForm.get('responsible_person_id')?.errors?.required
                  "
                  >Responsible Person is required.</small
                >
              </span>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
            <!-- Period Onde field -->
            <p-checkbox
              name="q1"
              [value]="true"
              label="Q1"
              [binary]="true"
              formControlName="period_one"
            ></p-checkbox>
            <p-checkbox
              name="q2"
              [binary]="true"
              [value]="true"
              label="Q2"
              formControlName="period_two"
            ></p-checkbox>
            <p-checkbox
              name="q3"
              [value]="true"
              [binary]="true"
              label="Q3"
              formControlName="period_three"
            ></p-checkbox>
            <p-checkbox
              name="q4"
              [value]="true"
              [binary]="true"
              label="Q4"
              formControlName="period_four"
            ></p-checkbox>
          </div>

          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
            <div class="p-field p-col-12 p-md-4" fxFlex>
              <span class="p-float-label">
                <input id="indicator" formControlName="indicator" pInputText />
                <label for="indicator">Indicator </label>
              </span>
              <span
                *ngIf="
                  generalForm.get('indicator')!.invalid &&
                  (generalForm.get('indicator')!.dirty ||
                    generalForm.get('indicator')!.touched ||
                    formError)
                "
              >
              </span>
            </div>
            <!-- Project output-->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-dropdown
                  id="project_output_id"
                  optionValue="id"
                  optionLabel="name"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  class="p-inputtext-sm"
                  appendTo="body"
                  [options]="projectOutputs!"
                  formControlName="project_output_id"
                ></p-dropdown>
                <label for="project_output_id">Project Output</label>
              </span>
              <span
                *ngIf="
                  generalForm.get('project_output_id')!.invalid &&
                  (generalForm.get('project_output_id')!.dirty ||
                    generalForm.get('project_output_id')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="generalForm.get('project_output_id')?.errors?.required"
                  >Project output is required.</small
                >
              </span>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
            <!-- Fund source -->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-multiSelect
                  id="budget_class_id"
                  [filter]="true"
                  display="chip"
                  dataKey="id"
                  formControlName="fund_sources"
                  [options]="fundSources!"
                  optionLabel="name"
                  class="p-inputtext-sm"
                  appendTo="body"
                ></p-multiSelect>
                <label for="budget_class_id">
                  <span>Fund Sources </span>
                </label>
              </span>
              <span
                *ngIf="
                  generalForm.get('fund_sources')!.invalid &&
                  (generalForm.get('fund_sources')!.dirty ||
                    generalForm.get('fund_sources')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="generalForm.get('fund_sources')?.errors?.required"
                  >Fund Sources are required.</small
                >
              </span>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="0.75rem">
            <span fxFlex></span>
            <button
              matStepperNext
              class="p-button-text"
              icon="pi pi-arrow-right"
              iconPos="right"
              label="Next"
              pButton
              type="button"
            ></button>
          </div>
        </div>
      </mat-step>
      <!-- Fund Source Faclity Tab -->
      <mat-step
        [stepControl]="facilityForm"
        errorMessage="Facility is required"
      >
        <!-- Indicator and project out put -->
        <form
          name="facilityForm"
          role="form"
          novalidate
          [formGroup]="facilityForm"
        >
          <ng-template matStepLabel>Facilities</ng-template>

          <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start">
              <p-table
                [value]="facilityControls.controls"
                dataKey="controls.facility_id.value"
                editMode="row"
                responsiveLayout="scroll"
                styleClass="p-datatable-gridlines"
                formArrayName="activity_facilities"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Facility</th>
                    <th>Indicator Value</th>
                    <th>Project Output Value</th>
                    <th style="width: 8rem"></th>
                  </tr>
                  <tr class="add-table-row">
                    <th>
                      <p-multiSelect
                        #facilitiesToAdd
                        fxFlex
                        id="facilities"
                        [filter]="true"
                        [maxSelectedLabels]="1"
                        [options]="facilities!"
                        optionLabel="name"
                        class="p-inputtext-sm"
                        [selectedItemsLabel]="'{0} facilities selected'"
                        appendTo="body"
                      ></p-multiSelect>
                    </th>
                    <th>
                      <input
                        #indicatorValueToAdd
                        id="indicatorValueToAdd"
                        type="text"
                        pInputText
                      />
                    </th>
                    <th>
                      <input
                        #projectOutputValueToAdd
                        id="projectOutputValueToAdd"
                        type="text"
                        pInputText
                      />
                    </th>
                    <th style="width: 8rem">
                      <div
                        fxFlex
                        fxLayout="row"
                        fxLayoutGap="2px"
                        fxLayoutAlign="end"
                      >
                        <button
                          type="button"
                          icon="pi pi-plus"
                          label="Add"
                          pButton
                          class="p-button-text p-button-rounded p-button-icon"
                          (click)="
                            addFacility(
                              facilitiesToAdd,
                              indicatorValueToAdd,
                              projectOutputValueToAdd
                            )
                          "
                        ></button>
                      </div>
                    </th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-activityFacility
                  let-editing="editing"
                  let-ri="rowIndex"
                >
                  <tr [pEditableRow]="activityFacility" [formGroupName]="ri">
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          {{ activityFacility.get("facility_name")?.value! }}
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{ activityFacility.get("facility_name")?.value! }}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input
                            [ngClass]="{
                              error:
                                activityFacility.get('indicator_value')!
                                  .invalid &&
                                (activityFacility.get('indicator_value')!
                                  .dirty ||
                                  activityFacility.get('indicator_value')!
                                    .touched ||
                                  formError)
                            }"
                            id="{{ ri }}"
                            type="text"
                            pInputText
                            formControlName="indicator_value"
                          />
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{ activityFacility.get("indicator_value")?.value! }}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input
                            [ngClass]="{
                              error:
                                activityFacility.get('project_output_value')!
                                  .invalid &&
                                (activityFacility.get('project_output_value')!
                                  .dirty ||
                                  activityFacility.get('project_output_value')!
                                    .touched ||
                                  formError)
                            }"
                            id="{{ ri }}"
                            type="text"
                            pInputText
                            formControlName="project_output_value"
                          />
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{
                            activityFacility.get("project_output_value")?.value!
                          }}
                        </ng-template>
                      </p-cellEditor>
                    </td>

                    <td style="text-align: center">
                      <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="end">
                        <button
                          *ngIf="!editing"
                          pButton
                          pRipple
                          type="button"
                          pInitEditableRow
                          icon="pi pi-pencil"
                          class="p-button-rounded p-button-text p-button-plain"
                        ></button>
                        <button
                          *ngIf="!editing"
                          pButton
                          pRipple
                          type="button"
                          (click)="
                            confirmDeleteActivity(
                              $event,
                              activityFacility.get('id')?.value,
                              ri
                            )
                          "
                          icon="pi pi-trash"
                          class="p-button-rounded p-button-text p-button-plain"
                        ></button>
                        <button
                          *ngIf="editing"
                          pButton
                          pRipple
                          type="button"
                          pSaveEditableRow
                          icon="pi pi-check"
                          class="
                            p-button-rounded
                            p-button-text
                            p-button-success
                            p-mr-2
                          "
                        ></button>
                        <button
                          *ngIf="editing"
                          pButton
                          pRipple
                          type="button"
                          pCancelEditableRow
                          icon="pi pi-times"
                          class="p-button-rounded p-button-text p-button-danger"
                        ></button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <!-- Action  -->
            <div fxLayout="row" fxLayoutGap="0.75rem">
              <span fxFlex></span>
              <button
                matStepperPrevious
                class="p-button-text"
                icon="pi pi-arrow-right"
                iconPos="left"
                label="Back"
                pButton
                type="button"
              ></button>
              <button
                matStepperNext
                class="p-button-text"
                icon="pi pi-arrow-right"
                iconPos="right"
                label="Next"
                pButton
                type="button"
              ></button>
            </div>
          </div>
        </form>
      </mat-step>
      <!-- Reference Tab -->
      <mat-step [stepControl]="referenceForm">
        <form
          name="referenceForm"
          role="form"
          novalidate
          [formGroup]="referenceForm"
        >
          <ng-template matStepLabel>References</ng-template>
          <div fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
              <!-- Priority area -->
              <div class="p-field" fxFlex>
                <span class="p-float-label">
                  <p-dropdown
                    #priorityArea
                    id="priority_area_id"
                    optionValue="id"
                    optionLabel="description"
                    [autoDisplayFirst]="false"
                    [filter]="true"
                    class="p-inputtext-sm"
                    appendTo="body"
                    (onChange)="
                      loadInterventionAndSectorProblem(priorityArea.value)
                    "
                    [options]="priorityAreas!"
                    formControlName="priority_area_id"
                  ></p-dropdown>
                  <label for="priority_area_id">Priority Area </label>
                </span>
                <span
                  *ngIf="
                    referenceForm.get('priority_area_id')!.invalid &&
                    (referenceForm.get('priority_area_id')!.dirty ||
                      referenceForm.get('priority_area_id')!.touched ||
                      formError)
                  "
                >
                  <small
                    class="p-error"
                    *ngIf="
                      referenceForm.get('priority_area_id')?.errors?.required
                    "
                    >Priority Area is required.</small
                  >
                </span>
              </div>

              <!-- Intevention -->
              <div class="p-field" fxFlex>
                <span class="p-float-label">
                  <p-dropdown
                    id="intervention_id"
                    optionValue="id"
                    optionLabel="description"
                    [autoDisplayFirst]="false"
                    [filter]="true"
                    class="p-inputtext-sm"
                    appendTo="body"
                    [options]="interventions!"
                    formControlName="intervention_id"
                  ></p-dropdown>
                  <label for="intervention_id">Intervention </label>
                </span>
                <span
                  *ngIf="
                    referenceForm.get('intervention_id')!.invalid &&
                    (referenceForm.get('intervention_id')!.dirty ||
                      referenceForm.get('intervention_id')!.touched ||
                      formError)
                  "
                >
                  <small
                    class="p-error"
                    *ngIf="
                      referenceForm.get('intervention_id')?.errors?.required
                    "
                    >Intervention is required.</small
                  >
                </span>
              </div>

              <!-- Sector problem -->
              <div class="p-field" fxFlex>
                <span class="p-float-label">
                  <p-dropdown
                    id="sector_problem_id"
                    optionValue="id"
                    optionLabel="description"
                    [autoDisplayFirst]="false"
                    [filter]="true"
                    class="p-inputtext-sm"
                    appendTo="body"
                    [options]="sectorProblems!"
                    formControlName="sector_problem_id"
                  ></p-dropdown>
                  <label for="sector_problem_id">Sector Problem </label>
                </span>
                <span
                  *ngIf="
                    referenceForm.get('sector_problem_id')!.invalid &&
                    (referenceForm.get('sector_problem_id')!.dirty ||
                      referenceForm.get('sector_problem_id')!.touched ||
                      formError)
                  "
                >
                  <small
                    class="p-error"
                    *ngIf="
                      referenceForm.get('sector_problem_id')?.errors?.required
                    "
                    >Sector Problem is required.</small
                  >
                </span>
              </div>
            </div>
            <div
              formArrayName="references"
              fxLayout="row"
              fxLayoutGap="10px"
              fxLayoutAlign="start wrap"
            >
              <div
                *ngIf="referenceLoading"
                fxLayout="row"
                fxLayoutGap="20px"
                fxLayoutAlign="center center"
              >
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
                <span>Loading References</span>
              </div>
              <div
                *ngFor="let c of referenceControls.controls; let i = index"
                fxFlex
              >
                <ng-container [formGroupName]="i">
                  <div class="p-field" fxFlex>
                    <span class="p-float-label">
                      <p-dropdown
                        *ngIf="!c.get('isMultiple')?.value"
                        id="section_id"
                        optionLabel="description"
                        [autoDisplayFirst]="false"
                        [filter]="true"
                        class="p-inputtext-sm"
                        appendTo="body"
                        dataKey="id"
                        [options]="c.get('options')?.value"
                        formControlName="value"
                      ></p-dropdown>
                      <p-multiSelect
                        *ngIf="c.get('isMultiple')?.value"
                        id="section_id"
                        optionLabel="description"
                        [filter]="true"
                        dataKey="id"
                        class="p-inputtext-sm"
                        appendTo="body"
                        [options]="c.get('options')?.value"
                        formControlName="value"
                      >
                      </p-multiSelect>

                      <label for="{{ i }}">{{ c.get("name")?.value! }}</label>
                    </span>
                    <span
                      *ngIf="
                        c.get('value')!.invalid &&
                        (c.get('value')!.dirty ||
                          c.get('value')!.touched ||
                          formError)
                      "
                    >
                      <small
                        class="p-error"
                        *ngIf="c.get('value')?.errors?.required"
                        >{{ c.get("name")?.value! }} Value is required.</small
                      >
                    </span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </form>
        <div fxLayout="row" fxLayoutGap="0.75rem">
          <span fxFlex></span>
          <button
            matStepperPrevious
            class="p-button-text"
            icon="pi pi-arrow-left"
            iconPos="left"
            label="Back"
            pButton
            type="button"
          ></button>
          <button
            class="p-button-raised"
            icon="pi pi-check"
            label="Save"
            pButton
            type="submit"
          ></button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>

<p-confirmPopup key="deletePopup"></p-confirmPopup>
