<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <mat-stepper #stepper>
      <ng-template matStepperIcon="edit">
        <i class="pi pi-pencil" style="font-size: 11px; line-height: 11px"></i>
      </ng-template>
      <mat-step [stepControl]="editForm">
        <ng-template matStepLabel>General</ng-template>

        <div fxLayout="column" fxLayoutGap="20px">
          <!-- Description field -->
          <div class="p-field p-col-12 p-md-4" fxFlex>
            <span class="p-float-label">
              <input
                id="description"
                formControlName="description"
                pInputText
              />
              <label for="description">Description </label>
            </span>
            <span
              *ngIf="
                editForm.get('description')!.invalid &&
                (editForm.get('description')!.dirty ||
                  editForm.get('description')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="editForm.get('description')?.errors?.required"
                >Description is required.</small
              >
            </span>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
            <!-- Main Budget class -->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-dropdown
                  #mainBudgetClass
                  id="main_budget_class_id"
                  appendTo="body"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  formControlName="main_budget_class_id"
                  [options]="mainBudgetClasses!"
                  (onChange)="loadBudgetClasses(mainBudgetClass.value)"
                  optionValue="id"
                  optionLabel="name"
                  class="p-inputtext-sm"
                ></p-dropdown>
                <label for="main_budget_class_id">Budget Class </label>
              </span>
              <span
                *ngIf="
                  editForm.get('main_budget_class_id')!.invalid &&
                  (editForm.get('main_budget_class_id')!.dirty ||
                    editForm.get('main_budget_class_id')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="editForm.get('main_budget_class_id')?.errors?.required"
                  >Budget Class is required.</small
                >
              </span>
            </div>

            <!-- Sub  Budget class -->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-dropdown
                  #budgetClass
                  id="budget_class_id"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  formControlName="budget_class_id"
                  [options]="budgetClasses!"
                  optionValue="id"
                  (onChange)="loadFundSources(budgetClass.value)"
                  optionLabel="name"
                  class="p-inputtext-sm"
                ></p-dropdown>
                <label for="budget_class_id">Budget Class </label>
              </span>
              <span
                *ngIf="
                  editForm.get('budget_class_id')!.invalid &&
                  (editForm.get('budget_class_id')!.dirty ||
                    editForm.get('budget_class_id')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="editForm.get('budget_class_id')?.errors?.required"
                  >Budget Class is required.</small
                >
              </span>
            </div>

            <!-- Project -->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-dropdown
                  #project
                  id="project_id"
                  optionValue="id"
                  optionLabel="name"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  class="p-inputtext-sm"
                  appendTo="body"
                  [options]="projects!"
                  (onChange)="loadProjectOutput(project.value)"
                  formControlName="project_id"
                ></p-dropdown>
                <label for="project_id">Project </label>
              </span>
              <span
                *ngIf="
                  editForm.get('project_id')!.invalid &&
                  (editForm.get('project_id')!.dirty ||
                    editForm.get('project_id')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="editForm.get('project_id')?.errors?.required"
                  >Project is required.</small
                >
              </span>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
            <!-- Activity type -->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-dropdown
                  #activityType
                  id="activity_type_id"
                  optionValue="id"
                  optionLabel="name"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  class="p-inputtext-sm"
                  appendTo="body"
                  (onChange)="loadActivityTaskNature(activityType.value)"
                  [options]="activityTypes!"
                  formControlName="activity_type_id"
                ></p-dropdown>
                <label for="activity_type_id">Activity Type </label>
              </span>
              <span
                *ngIf="
                  editForm.get('activity_type_id')!.invalid &&
                  (editForm.get('activity_type_id')!.dirty ||
                    editForm.get('activity_type_id')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="editForm.get('activity_type_id')?.errors?.required"
                  >Activity Type is required.</small
                >
              </span>
            </div>
            <!-- Activity task nature -->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-dropdown
                  id="activity_task_nature_id"
                  optionValue="id"
                  optionLabel="name"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  class="p-inputtext-sm"
                  appendTo="body"
                  [options]="activityTaskNatures!"
                  formControlName="activity_task_nature_id"
                ></p-dropdown>
                <label for="activity_task_nature_id"
                  >Activity Task Nature
                </label>
              </span>
              <span
                *ngIf="
                  editForm.get('activity_task_nature_id')!.invalid &&
                  (editForm.get('activity_task_nature_id')!.dirty ||
                    editForm.get('activity_task_nature_id')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="
                    editForm.get('activity_task_nature_id')?.errors?.required
                  "
                  >Activity Task Nature is required.</small
                >
              </span>
            </div>

            <!-- Responsible perdion -->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-dropdown
                  id="responsible_person_id"
                  optionValue="id"
                  optionLabel="name"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  class="p-inputtext-sm"
                  appendTo="body"
                  [options]="responsiblePeople!"
                  formControlName="responsible_person_id"
                ></p-dropdown>
                <label for="responsible_person_id">Responsible Person </label>
              </span>
              <span
                *ngIf="
                  editForm.get('responsible_person_id')!.invalid &&
                  (editForm.get('responsible_person_id')!.dirty ||
                    editForm.get('responsible_person_id')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="
                    editForm.get('responsible_person_id')?.errors?.required
                  "
                  >Responsible Person is required.</small
                >
              </span>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
            <!-- Period Onde field -->
            <p-checkbox
              name="q1"
              [value]="true"
              label="Q1"
              [binary]="true"
              formControlName="period_one"
            ></p-checkbox>
            <p-checkbox
              name="q2"
              [binary]="true"
              [value]="true"
              label="Q2"
              formControlName="period_two"
            ></p-checkbox>
            <p-checkbox
              name="q3"
              [value]="true"
              [binary]="true"
              label="Q3"
              formControlName="period_three"
            ></p-checkbox>
            <p-checkbox
              name="q4"
              [value]="true"
              [binary]="true"
              label="Q4"
              formControlName="period_four"
            ></p-checkbox>
          </div>

          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
            <!-- Fund source -->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-multiSelect
                  id="budget_class_id"
                  [filter]="true"
                  display="chip"
                  dataKey="id"
                  formControlName="fund_sources"
                  [options]="fundSources!"
                  optionLabel="name"
                  class="p-inputtext-sm"
                  appendTo="body"
                ></p-multiSelect>
                <label for="budget_class_id">Fund Source </label>
              </span>
              <span
                *ngIf="
                  editForm.get('fund_sources')!.invalid &&
                  (editForm.get('fund_sources')!.dirty ||
                    editForm.get('fund_sources')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="editForm.get('fund_sources')?.errors?.required"
                  >Fund Sources are required.</small
                >
              </span>
            </div>
          </div>

          <!-- Intervention -->
          <!-- <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="intervention_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="interventions!"
            formControlName="intervention_id"
          ></p-dropdown>
          <label for="intervention_id">Intervention </label>
        </span>
        <span
          *ngIf="
            editForm.get('intervention_id')!.invalid &&
            (editForm.get('intervention_id')!.dirty ||
              editForm.get('intervention_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('intervention_id')?.errors?.required"
            >Intervention is required.</small
          >
        </span>
      </div> -->
          <!-- Sector problem -->
          <!-- <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="sector_problem_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="sectorProblems!"
            formControlName="sector_problem_id"
          ></p-dropdown>
          <label for="sector_problem_id">Sector Problem </label>
        </span>
        <span
          *ngIf="
            editForm.get('sector_problem_id')!.invalid &&
            (editForm.get('sector_problem_id')!.dirty ||
              editForm.get('sector_problem_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('sector_problem_id')?.errors?.required"
            >Sector Problem is required.</small
          >
        </span>
      </div> -->

          <div fxLayout="row" fxLayoutGap="0.75rem">
            <span fxFlex></span>
            <button
              matStepperNext
              class="p-button-raised"
              icon="pi pi-check"
              label="Next"
              pButton
              type="button"
            ></button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Facilities</ng-template>
        <!-- Indicator and project out put -->
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
            <div class="p-field p-col-12 p-md-4" fxFlex>
              <span class="p-float-label">
                <input id="indicator" formControlName="indicator" pInputText />
                <label for="indicator">Indicator </label>
              </span>
              <span
                *ngIf="
                  editForm.get('indicator')!.invalid &&
                  (editForm.get('indicator')!.dirty ||
                    editForm.get('indicator')!.touched ||
                    formError)
                "
              >
              </span>
            </div>
            <!-- Project output-->
            <div class="p-field" fxFlex>
              <span class="p-float-label">
                <p-dropdown
                  id="project_output_id"
                  optionValue="id"
                  optionLabel="name"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  class="p-inputtext-sm"
                  appendTo="body"
                  [options]="projectOutputs!"
                  formControlName="project_output_id"
                ></p-dropdown>
                <label for="project_output_id">Project Output</label>
              </span>
              <span
                *ngIf="
                  editForm.get('project_output_id')!.invalid &&
                  (editForm.get('project_output_id')!.dirty ||
                    editForm.get('project_output_id')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="editForm.get('project_output_id')?.errors?.required"
                  >Project output is required.</small
                >
              </span>
            </div>
          </div>
          <!-- Facilities -->
          <p-fieldset legend="Add facilities">
            <div fxLayout="row" fxLayoutGap="4px" fxFlex>
              <span fxFlex="30">
                <p-multiSelect
                  #facilitiesToAdd
                  fxFlex
                  id="facilities"
                  [filter]="true"
                  [maxSelectedLabels]="1"
                  [options]="facilities!"
                  optionLabel="name"
                  class="p-inputtext-sm"
                  [selectedItemsLabel]="'{0} facilities selected'"
                  appendTo="body"
                ></p-multiSelect>
              </span>
              <span fxFlex="20">
                <input
                  #indicatorValueToAdd
                  id="indicatorValueToAdd"
                  type="text"
                  pInputText
                />
              </span>
              <span fxFlex="20">
                <input
                  #projectOutputValueToAdd
                  id="projectOutputValueToAdd"
                  type="text"
                  pInputText
                />
              </span>
              <span fxFlex="10">
                <button
                  type="button"
                  icon="pi pi-plus"
                  pButton
                  class="p-button-text p-button-rounded p-button-icon"
                  (click)="
                    addFacility(
                      facilitiesToAdd,
                      indicatorValueToAdd,
                      projectOutputValueToAdd
                    )
                  "
                ></button>
              </span>
            </div>
          </p-fieldset>
          <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start">
            <p-table
              [value]="facilityForm.controls"
              dataKey="controls.facility_id.value"
              editMode="row"
              responsiveLayout="scroll"
              formArrayName="activity_facilities"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Facility</th>
                  <th>Indicator Value</th>
                  <th>Project Output Valur</th>
                  <th style="width: 8rem"></th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-activityFacility
                let-editing="editing"
                let-ri="rowIndex"
              >
                <tr [pEditableRow]="activityFacility" [formGroupName]="ri">
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        {{ activityFacility.get("facility_name")?.value! }}
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{ activityFacility.get("facility_name")?.value! }}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input
                          [ngClass]="{
                            error:
                              activityFacility.get('indicator_value')!
                                .invalid &&
                              (activityFacility.get('indicator_value')!.dirty ||
                                activityFacility.get('indicator_value')!
                                  .touched ||
                                formError)
                          }"
                          id="{{ ri }}"
                          type="text"
                          pInputText
                          formControlName="indicator_value"
                        />
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{ activityFacility.get("indicator_value")?.value! }}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input
                          [ngClass]="{
                            error:
                              activityFacility.get('project_output_value')!
                                .invalid &&
                              (activityFacility.get('project_output_value')!
                                .dirty ||
                                activityFacility.get('project_output_value')!
                                  .touched ||
                                formError)
                          }"
                          id="{{ ri }}"
                          type="text"
                          pInputText
                          formControlName="project_output_value"
                        />
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{
                          activityFacility.get("project_output_value")?.value!
                        }}
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td style="text-align: center">
                    <button
                      *ngIf="!editing"
                      pButton
                      pRipple
                      type="button"
                      pInitEditableRow
                      icon="pi pi-pencil"
                      class="p-button-rounded p-button-text"
                    ></button>
                    <button
                      *ngIf="editing"
                      pButton
                      pRipple
                      type="button"
                      pSaveEditableRow
                      icon="pi pi-check"
                      class="
                        p-button-rounded p-button-text p-button-success p-mr-2
                      "
                    ></button>
                    <button
                      *ngIf="editing"
                      pButton
                      pRipple
                      type="button"
                      pCancelEditableRow
                      icon="pi pi-times"
                      class="p-button-rounded p-button-text p-button-danger"
                    ></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <!-- Action  -->
          <div fxLayout="row" fxLayoutGap="0.75rem">
            <span fxFlex></span>
            <button
              matStepperNext
              class="p-button-raised"
              icon="pi pi-check"
              label="Next"
              pButton
              type="button"
            ></button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>References</ng-template>
        <div
          formArrayName="references"
          fxLayout="row"
          fxLayoutGap="10px"
          fxLayoutAlign="start wrap"
        >
          <div
            *ngIf="referenceLoading"
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="center center"
          >
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
            <span>Loading References</span>
          </div>
          <div
            *ngFor="let c of referenceControls.controls; let i = index"
            fxFlex
          >
            <ng-container [formGroupName]="i">
              <div class="p-field" fxFlex>
                <span class="p-float-label">
                  <p-dropdown
                    *ngIf="!c.get('isMultiple')?.value"
                    id="section_id"
                    optionLabel="description"
                    [autoDisplayFirst]="false"
                    [filter]="true"
                    class="p-inputtext-sm"
                    appendTo="body"
                    dataKey="id"
                    [options]="c.get('options')?.value"
                    formControlName="value"
                  ></p-dropdown>
                  <p-multiSelect
                    *ngIf="c.get('isMultiple')?.value"
                    id="section_id"
                    optionLabel="description"
                    [filter]="true"
                    dataKey="id"
                    class="p-inputtext-sm"
                    appendTo="body"
                    [options]="c.get('options')?.value"
                    formControlName="value"
                  >
                  </p-multiSelect>

                  <label for="{{ i }}">{{ c.get("name")?.value! }}</label>
                </span>
                <span
                  *ngIf="
                    c.get('value')!.invalid &&
                    (c.get('value')!.dirty ||
                      c.get('value')!.touched ||
                      formError)
                  "
                >
                  <small
                    class="p-error"
                    *ngIf="c.get('value')?.errors?.required"
                    >{{ c.get("name")?.value! }} Value is required.</small
                  >
                </span>
              </div>
            </ng-container>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="0.75rem">
          <span fxFlex></span>
          <button
            matStepperNext
            class="p-button-raised"
            icon="pi pi-check"
            label="Save"
            pButton
            type="submit"
          ></button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>
