<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="description" formControlName="description" pInputText />
          <label for="description">Description </label>
        </span>
        <span
          *ngIf="
            editForm.get('description')!.invalid &&
            (editForm.get('description')!.dirty ||
              editForm.get('description')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('description')?.errors?.required"
            >Description is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber id="number" formControlName="number"></p-inputNumber>
          <label for="number">Number </label>
        </span>
        <span
          *ngIf="
            editForm.get('number')!.invalid &&
            (editForm.get('number')!.dirty ||
              editForm.get('number')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('number')?.errors?.required"
            >Number is required.</small
          >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-multiSelect
            id="sectors"
            optionLabel="name"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            dataKey="id"
            [options]="sectors!"
            formControlName="sectors"
          ></p-multiSelect>
          <label for="sectors">Sectors </label>
        </span>
        <span
          *ngIf="
            editForm.get('sectors')!.invalid &&
            (editForm.get('sectors')!.dirty ||
              editForm.get('sectors')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('sectors')?.errors?.required"
            >Sectors is required.</small
          >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-multiSelect
            id="objectives"
            optionLabel="description"
            [filter]="true"
            dataKey="id"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="objectives!"
            formControlName="objectives"
          ></p-multiSelect>
          <label for="objectives">Objective </label>
        </span>
      </div>

      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
