<div
  class="dialog-content"
  [draggable]
  dragHandle=".p-dialog-header"
  dragTarget=".p-dynamic-dialog"
>
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required.</small
          >
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="code" type="text" pInputText formControlName="code" />
          <label for="code">Code </label>
        </span>
        <span
          *ngIf="
            editForm.get('code')!.invalid &&
            (editForm.get('code')!.dirty ||
              editForm.get('code')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('code')?.errors?.required"
            >Code is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="sector_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="sectors!"
            formControlName="sector_id"
          ></p-dropdown>
          <label for="sector_id">Sector </label>
        </span>
        <span
          *ngIf="
            editForm.get('sector_id')!.invalid &&
            (editForm.get('sector_id')!.dirty ||
              editForm.get('sector_id')!.touched ||
              formError)
          "
        >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="position"
            [autoDisplayFirst]="false"
            [filter]="true"
            optionValue="position"
            optionLabel="name"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="sectionLevels!"
            formControlName="position"
          ></p-dropdown>
          <label for="position">Section Level</label>
        </span>
        <span
          *ngIf="
            editForm.get('position')!.invalid &&
            (editForm.get('position')!.dirty ||
              editForm.get('position')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('position')?.errors?.required"
            >Section Level is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="parent_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="parents!"
            formControlName="parent_id"
          ></p-dropdown>
          <label for="parent_id">Parent </label>
        </span>
        <span
          *ngIf="
            editForm.get('parent_id')!.invalid &&
            (editForm.get('parent_id')!.dirty ||
              editForm.get('parent_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('parent_id')?.errors?.required"
            >Parent is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
