<div class="content" fxLayout="column" fxLayoutGap="0.75rem">
  <!-- Filter Panel -->
  <p-accordion>
    <p-accordionTab [transitionOptions]="'280ms cubic-bezier(0.4, 0, 0.2, 1)'">
      <ng-template pTemplate="header">
        <span fxLayout="row" fxLayoutGap="0.5rem">
          <i class="pi pi-filter"></i>
          <span class="filter-text">Filter</span>
        </span>
      </ng-template>

      <div fxLayout="row wrap" fxLayoutGap="10px">
        <div
          fxLayout="row wrap"
          fxLayoutGap="0.75rem"
          fxFlex
          fxLayoutAlign="start center"
        >
          <div class="p-field">
            <span class="p-float-label p-input-icon-right">
              <input
                id="name"
                type="text"
                class="p-inputtext-sm"
                pInputText
                [(ngModel)]="search['name']"
              />
              <label for="name">Name </label>
              <i
                class="pi pi-times clear"
                (click)="search['name'] = undefined; onSearch()"
              ></i>
            </span>
          </div>
          <div class="p-field">
            <span class="p-float-label p-input-icon-right">
              <input
                id="code"
                type="text"
                class="p-inputtext-sm"
                pInputText
                [(ngModel)]="search['code']"
              />
              <label for="code">Code </label>
              <i
                class="pi pi-times clear"
                (click)="search['code'] = undefined; onSearch()"
              ></i>
            </span>
          </div>
          <div class="p-field">
            <span class="p-float-label">
              <p-dropdown
                id="parent_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                (onChange)="onSearch()"
                [showClear]="true"
                [filter]="true"
                [options]="parents!"
                [(ngModel)]="search['parent_id']"
              ></p-dropdown>
              <label for="parent_id">Parent </label>
            </span>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="end center">
          <button
            pButton
            class="p-button-text p-button-plain"
            icon="pi pi-times"
            label="Clear"
            (click)="clearSearch()"
          ></button>
          <button
            pButton
            class="p-button-text p-button-plain"
            icon="pi pi-search"
            label="Search"
            (click)="onSearch()"
          ></button>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>

  <!-- Table Panel -->
  <p-card>

    <p-treeTable
      #table
      [lazy]="true"
      [resizableColumns]="true"
      [autoLayout]="true"
      [loading]="isLoading"
      [columns]="cols"
      [value]="projectDataFormsNodeTree!"
      [scrollable]="true"
      (onLazyLoad)="onSortChange($event)"
      (onNodeExpand)="onNodeExpand($event)"
      [customSort]="true"
    >
      <ng-template pTemplate="caption">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="card-header-text">Project Data Forms</span>
          <button
            pButton
            icon="pi pi-plus"
            class="p-button-raised"
            [disabled]=""
            (click)="createOrUpdate()"
            label="Add Project Data Form"
          ></button>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr *ngIf="projectDataFormsNodeTree?.length">
          <th style="width: auto" *ngFor="let col of columns">
            {{ col.header}}
          </th>
          <th style="flex: 0 0 2rem"></th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns">
        <tr>
          <td style="width: auto" *ngFor="let col of columns; let i = index">
            <p-treeTableToggler
              [rowNode]="rowNode"
              *ngIf="i == 0"
            >
            </p-treeTableToggler>
            {{ rowData[col.field] }}
          </td>
          <td style="flex: 0 0 2 rem">
            <div fxLayout="row" fxLayoutAlign="end">
              <div fxLayout="row" fxLayoutGap="2px">
                  <button
                    pButton
                    pRipple
                    pTooltip="Edit"
                    tooltipPosition="bottom"
                    class="p-button-text p-button-plain p-button-rounded p-button-icon"
                    icon="pi pi-pencil"
                    (click)="createOrUpdate(rowData)"
                  ></button>
                <button
                  pButton
                  pRipple
                  pTooltip="Delete"
                  tooltipPosition="bottom"
                  class="p-button-text p-button-plain p-button-rounded p-button-icon"
                  icon="pi pi-trash"
                  (click)="delete(rowData)"
                ></button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage"> No data found </ng-template>
      <ng-template pTemplate="footer">
        <p-paginator
          #paginator
          [alwaysShow]="projectDataFormsNodeTree?.length! > 0"
          [rows]="per_page"
          dropdownAppendTo="body"
          [showCurrentPageReport]="true"
          [totalRecords]="totalItems"
          [rowsPerPageOptions]="perPageOptions"
          (onPageChange)="pageChanged($event)"
        ></p-paginator>
      </ng-template>

    </p-treeTable>


    <!--p-table
      #table
      [lazy]="true"
      [resizableColumns]="true"
      [responsive]="true"
      [autoLayout]="true"
      [loading]="isLoading"
      [columns]="cols"
      [value]="projectDataForms!"
      (onLazyLoad)="onSortChange($event)"
      [customSort]="true"
    >
      <ng-template pTemplate="caption">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="card-header-text">Project Data Forms</span>
          <button
            pButton
            icon="pi pi-plus"
            class="p-button-raised"
            [disabled]=""
            (click)="createOrUpdate()"
            label="Add Project Data Form"
          ></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr *ngIf="projectDataForms?.length">
          <th
            *ngFor="let col of columns"
            [pSortableColumn]="col.sort ? col.field : null"
          >
            {{ col.header
            }}<p-sortIcon *ngIf="col.sort" [field]="col.field"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
          <td>
            <div fxLayout="row" fxLayoutAlign="end">
              <div fxLayout="row" fxLayoutGap="2px">
                <button
                  pButton
                  pTooltip="Edit"
                  tooltipPosition="bottom"
                  class="
                    p-button-text p-button-plain p-button-rounded p-button-icon
                  "
                  icon="pi pi-pencil
              "
                  (click)="createOrUpdate(rowData)"
                ></button>
                <button
                  pButton
                  pTooltip="Delete"
                  tooltipPosition="bottom"
                  class="
                    p-button-text p-button-plain p-button-rounded p-button-icon
                  "
                  icon="pi pi-trash
              "
                  (click)="delete(rowData)"
                ></button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage"> No data found </ng-template>
    </p-table-->
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
      <p-paginator
        #paginator
        [alwaysShow]="projectDataForms?.length! > 0"
        [rows]="per_page"
        dropdownAppendTo="body"
        [showCurrentPageReport]="true"
        [totalRecords]="totalItems"
        [rowsPerPageOptions]="perPageOptions"
        (onPageChange)="pageChanged($event)"
      ></p-paginator>
    </div>
  </p-card>
</div>

<p-confirmDialog
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  header="Confirmation Delete Project Data Form"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
