<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    [formGroup]="editForm">
    <div class="card">
      <button
        pButton
        type="button"
        icon="pi pi-download"
        class="p-button-raised"
        (click)="downloadTemplate()"
        label="Download GFS Codes Upload Template"
      ></button>
      <br>
      <br>
      <div fxLayout="column" fxLayoutGap="1rem">
        <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="account_type_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="accountTypes!"
            formControlName="account_type_id"
          ></p-dropdown>
          <label for="account_type_id">Account Type </label>
        </span>
          <span
            *ngIf="
            editForm.get('account_type_id')!.invalid &&
            (editForm.get('account_type_id')!.dirty ||
              editForm.get('account_type_id')!.touched ||
              formError)
          "
          >
          <small
            class="p-error"
            *ngIf="editForm.get('account_type_id')?.errors?.required"
          >Account Type is required.</small
          >
        </span>
        </div>
        <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown [options]="categories!" id="category_id"
                          formControlName="category_id" placeholder="Select Category" [group]="true">
                <ng-template let-group pTemplate="group">
                    <div class="p-d-flex p-ai-center">
                        <span>{{group.label}}</span>
                    </div>
                </ng-template>
              </p-dropdown>
            </span>
          <span
            *ngIf="
            editForm.get('category_id')!.invalid &&
            (editForm.get('category_id')!.dirty ||
              editForm.get('category_id')!.touched ||
              formError)
          "
          >
          <small
            class="p-error"
            *ngIf="editForm.get('category_id')?.errors?.required"
          >Category is required.</small
          >
        </span>
        </div>
        <div class="p-field" fxFlex>
          <p-fileUpload name="gfsCodeS[]" [customUpload]="true" (onSelect)="onSelect($event)"
                        (uploadHandler)="onUpload($event)"
                        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
    </div>
  </form>
</div>
