<div class="dialog-content">
    <div fxLayout="column" fxLayoutGap="1rem">
      <div
        fxLayout="row"
        fxLayoutGap="0.75rem"
        fxFlex
        fxLayoutAlign="start center"
      >
        <app-admin-hierarchy-tree
          fxFlex
          [returnType]="'object'"
          (onSelect)="onAdminHierarchySelection($event)"
        ></app-admin-hierarchy-tree>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Transfer"
          pButton
          [disabled]="!adminHierarchy"
          (click)="save()"
          pRipple
          type="button"
        ></button>
      </div>
    </div>
</div>
