<div class="dialog-content">
  <p-card>
    <p-pickList sourceHeader="All Permissions"
                (onMoveToTarget)="addOnePermissions($event)"
                (onMoveAllToTarget)="addAllPermissions($event)"
                (onMoveToSource)="removeOnePermission($event)"
                (onMoveAllToSource)="removeAllPermissions($event)"
                targetHeader="Assigned Permissions"
                [dragdrop]="false" filterBy="name" [responsive]="true"
                [source]="permissions!"
                [target]="assignedPerms!">
      <ng-template let-permission pTemplate="item">
        {{permission.name}}
      </ng-template>
    </p-pickList>
  </p-card>
</div>
