<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputMask
            mask="2099/99"
            id="name"
            type="text"
            formControlName="name"
          ></p-inputMask>
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-calendar
            dataType="string"
            id="start_date"
            appendTo="body"
            [yearNavigator]="true"
            [monthNavigator]="true"
            yearRange="2020:2040"
            formControlName="start_date"
          ></p-calendar>
          <label for="start_date">Start Date </label>
        </span>
        <span
          *ngIf="
            editForm.get('start_date')!.invalid &&
            (editForm.get('start_date')!.dirty ||
              editForm.get('start_date')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('start_date')?.errors?.required"
            >Start Date is required.</small
          >
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-calendar
            dataType="string"
            id="end_date"
            appendTo="body"
            [yearNavigator]="true"
            [monthNavigator]="true"
            yearRange="2020:2040"
            formControlName="end_date"
          ></p-calendar>
          <label for="end_date">End Date </label>
        </span>
        <span
          *ngIf="
            editForm.get('end_date')!.invalid &&
            (editForm.get('end_date')!.dirty ||
              editForm.get('end_date')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('end_date')?.errors?.required"
            >End Date is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="previous_financial_year_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            optionValue="id"
            optionLabel="name"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="previousFinancialYears!"
            formControlName="previous_financial_year_id"
          ></p-dropdown>
          <label for="previous_financial_year_id"
            >Previous Financial Year
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('previous_financial_year_id')!.invalid &&
            (editForm.get('previous_financial_year_id')!.dirty ||
              editForm.get('previous_financial_year_id')!.touched ||
              formError)
          "
        >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
