<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required.</small
          >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.maxlength"
            >Name maximum length is 250 characters</small
          >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="sector_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="sectors!"
            formControlName="sector_id"
          ></p-dropdown>
          <label for="sector_id">Sector </label>
        </span>
        <span
          *ngIf="
            editForm.get('sector_id')!.invalid &&
            (editForm.get('sector_id')!.dirty ||
              editForm.get('sector_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('sector_id')?.errors?.required"
            >Sector is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="admin_hierarchy_position"
            optionValue="position"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="adminHierarchyLevels!"
            formControlName="admin_hierarchy_position"
          ></p-dropdown>
          <label for="admin_hierarchy_position">Admin Hierarchy Level </label>
        </span>
        <span
          *ngIf="
            editForm.get('admin_hierarchy_position')!.invalid &&
            (editForm.get('admin_hierarchy_position')!.dirty ||
              editForm.get('admin_hierarchy_position')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('admin_hierarchy_position')?.errors?.required"
            >Admin Hierarchy Level is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="period_type"
            optionValue="value"
            optionLabel="display"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="periodTypes!"
            formControlName="period_type"
          ></p-dropdown>
          <label for="period_type">Period Type </label>
        </span>
        <span
          *ngIf="
            editForm.get('period_type')!.invalid &&
            (editForm.get('period_type')!.dirty ||
              editForm.get('period_type')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('period_type')?.errors?.required"
            >Period Type is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="content_type"
            optionValue="value"
            optionLabel="display"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="contentTypes!"
            formControlName="content_type"
          ></p-dropdown>
          <label for="content_type">Content Type </label>
        </span>
        <span
          *ngIf="
            editForm.get('content_type')!.invalid &&
            (editForm.get('content_type')!.dirty ||
              editForm.get('content_type')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('content_type')?.errors?.required"
            >Content Type is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_active"
          name="is_active"
          formControlName="is_active"
        ></p-inputSwitch>
        <label for="is_active">Is Active </label>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
