<div class="dialog-content" style="max-height: 400px">
  <div fxLayout="column" fxLayoutGap="20px" fxFlex>
    <div *ngFor="let c of comments" fxLayout="column" fxLayoutGap="4px">
      <div
        style="
          padding: 8px;
          border-radius: 4px;
          background-color: #e4e5e6 !important;
        "
      >
        &ldquo; {{ c.comments }} &rdquo;
      </div>
      <div class="p-field">
        <span class="p-float-label">
          <textarea
            id="comments"
            [(ngModel)]="c.address_comments"
            [rows]="2"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="comments">Address Comments </label>
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
        <button
          pButton
          class="p-button-success p-button-outlined"
          (click)="address(c)"
          icon="pi pi-check"
          label="Address"
        ></button>
      </div>
    </div>
  </div>
</div>
