<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="active"
          name="active"
          formControlName="active"
        ></p-inputSwitch>
        <label for="active">Active </label>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="q1_amount"
            formControlName="q1_amount"
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
          ></p-inputNumber>
          <label for="q1_amount">Q 1 Amount </label>
        </span>
        <span
          *ngIf="
            editForm.get('q1_amount')!.invalid &&
            (editForm.get('q1_amount')!.dirty ||
              editForm.get('q1_amount')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="q2_amount"
            formControlName="q2_amount"
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
          ></p-inputNumber>
          <label for="q2_amount">Q 2 Amount </label>
        </span>
        <span
          *ngIf="
            editForm.get('q2_amount')!.invalid &&
            (editForm.get('q2_amount')!.dirty ||
              editForm.get('q2_amount')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="q3_amount"
            formControlName="q3_amount"
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
          ></p-inputNumber>
          <label for="q3_amount">Q 3 Amount </label>
        </span>
        <span
          *ngIf="
            editForm.get('q3_amount')!.invalid &&
            (editForm.get('q3_amount')!.dirty ||
              editForm.get('q3_amount')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="q4_amount"
            formControlName="q4_amount"
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
          ></p-inputNumber>
          <label for="q4_amount">Q 4 Amount </label>
        </span>
        <span
          *ngIf="
            editForm.get('q4_amount')!.invalid &&
            (editForm.get('q4_amount')!.dirty ||
              editForm.get('q4_amount')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="amount"
            formControlName="amount"
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
          ></p-inputNumber>
          <label for="amount">Amount </label>
        </span>
        <span
          *ngIf="
            editForm.get('amount')!.invalid &&
            (editForm.get('amount')!.dirty ||
              editForm.get('amount')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="forwad_year1_amount"
            formControlName="forwad_year1_amount"
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
          ></p-inputNumber>
          <label for="forwad_year1_amount">Forwad Year 1 Amount </label>
        </span>
        <span
          *ngIf="
            editForm.get('forwad_year1_amount')!.invalid &&
            (editForm.get('forwad_year1_amount')!.dirty ||
              editForm.get('forwad_year1_amount')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="forwad_year2_amount"
            formControlName="forwad_year2_amount"
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
          ></p-inputNumber>
          <label for="forwad_year2_amount">Forwad Year 2 Amount </label>
        </span>
        <span
          *ngIf="
            editForm.get('forwad_year2_amount')!.invalid &&
            (editForm.get('forwad_year2_amount')!.dirty ||
              editForm.get('forwad_year2_amount')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="chart_of_account"
            type="text"
            pInputText
            formControlName="chart_of_account"
          />
          <label for="chart_of_account">Chart Of Account </label>
        </span>
        <span
          *ngIf="
            editForm.get('chart_of_account')!.invalid &&
            (editForm.get('chart_of_account')!.dirty ||
              editForm.get('chart_of_account')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="export_to"
            type="text"
            pInputText
            formControlName="export_to"
          />
          <label for="export_to">Export To </label>
        </span>
        <span
          *ngIf="
            editForm.get('export_to')!.invalid &&
            (editForm.get('export_to')!.dirty ||
              editForm.get('export_to')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_sent"
          name="is_sent"
          formControlName="is_sent"
        ></p-inputSwitch>
        <label for="is_sent">Is Sent </label>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="delivered"
          name="delivered"
          formControlName="delivered"
        ></p-inputSwitch>
        <label for="delivered">Delivered </label>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="deleted"
          name="deleted"
          formControlName="deleted"
        ></p-inputSwitch>
        <label for="deleted">Deleted </label>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="admin_hierarchy_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="adminHierarchies!"
            formControlName="admin_hierarchy_id"
          ></p-dropdown>
          <label for="admin_hierarchy_id">Admin Hierarchy </label>
        </span>
        <span
          *ngIf="
            editForm.get('admin_hierarchy_id')!.invalid &&
            (editForm.get('admin_hierarchy_id')!.dirty ||
              editForm.get('admin_hierarchy_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('admin_hierarchy_id')?.errors?.required"
            >Admin Hierarchy is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="financial_year_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="financialYears!"
            formControlName="financial_year_id"
          ></p-dropdown>
          <label for="financial_year_id">Financial Year </label>
        </span>
        <span
          *ngIf="
            editForm.get('financial_year_id')!.invalid &&
            (editForm.get('financial_year_id')!.dirty ||
              editForm.get('financial_year_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('financial_year_id')?.errors?.required"
            >Financial Year is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="gfs_code_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="gfsCodes!"
            formControlName="gfs_code_id"
          ></p-dropdown>
          <label for="gfs_code_id">Gfs Code </label>
        </span>
        <span
          *ngIf="
            editForm.get('gfs_code_id')!.invalid &&
            (editForm.get('gfs_code_id')!.dirty ||
              editForm.get('gfs_code_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('gfs_code_id')?.errors?.required"
            >Gfs Code is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="fund_source_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="fundSources!"
            formControlName="fund_source_id"
          ></p-dropdown>
          <label for="fund_source_id">Fund Source </label>
        </span>
        <span
          *ngIf="
            editForm.get('fund_source_id')!.invalid &&
            (editForm.get('fund_source_id')!.dirty ||
              editForm.get('fund_source_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('fund_source_id')?.errors?.required"
            >Fund Source is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
