<mat-drawer-container>
  <mat-drawer
    #drawer
    [mode]="isGtMd ? 'side' : 'over'"
    [opened]="isGtMd"
    class="mat-elevation-z2"
  >
    <mat-toolbar class="mat-elevation-z0" style="padding: 0px">
      <div
        fxFlex
        fxLayout="row"
        fxLayoutGap="0.1rem"
        class="logo"
        style="height: 64px"
        fxLayoutAlign="center"
      >
        <!--<img
          style="width: 100%; height: 64px"
          src="../../../assets/images/logo.png"
        />-->
        <span style="padding: 10px">PlanRep</span>
        <!-- <span class="logo-text">PlanRep</span> -->
      </div>
    </mat-toolbar>
    <div
      class="location"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="0rem"
    >
      <img src="../../../assets/images/coat.png" />
      <div
        class="location-text"
        fxLayout="column"
        fxLayoutGap="0px"
        fxLayoutAlign="center center"
      >
        <span class="admin">{{ user?.admin_hierarchy?.name }}</span>
        <span class="section">({{ user?.section?.name }})</span>
      </div>
    </div>

    <div class="sidenav-item">
      <p-panelMenu
        pRipple
        [multiple]="false"
        [transitionOptions]="'280ms cubic-bezier(0.4, 0, 0.2, 1)'"
        [model]="currentUserMenuItems"
      ></p-panelMenu>
    </div>
  </mat-drawer>
  <mat-drawer-content style="flex: 1 1 auto">
    <div class="route-loader" *ngIf="{ loading: loading$ | async } as route">
      <mat-progress-bar
        *ngIf="route.loading"
        color="primary"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>
    <mat-toolbar class="mat-elevation-z2">
      <button
        pButton
        pRipple
        icon="pi pi-bars"
        class="p-button-plain p-button-rounded p-button-text p-ripple"
        (click)="drawer.toggle()"
      ></button>
      <span fxFlex></span>

      <div fxLayout="row" fxLayoutGap="8px" style="margin-right: 0.75rem">
        <button
          pButton
          pRipple
          class="p-button-icon p-button-rounded p-button-plain p-button-text"
          icon="pi pi-bell"
        ></button>
        <p-avatar
          pRipple
          class="p-ripple"
          size="large"
          id="avator"
          [label]="avator"
          shape="circle"
          (click)="userMenu.toggle($event)"
        ></p-avatar>
        <p-menu
          #userMenu
          [popup]="true"
          [model]="userMenus"
          appendTo="body"
        ></p-menu>
      </div>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<p-toast
  position="top-center"
  key="error"
  [preventDuplicates]="false"
></p-toast>
<p-toast
  key="info"
  position="bottom-center"
  [preventDuplicates]="false"
></p-toast>
