<mat-drawer-container>
  <mat-drawer
    #drawer
    [mode]="isGtMd ? 'side' : 'over'"
    [opened]="isGtMd"
    class="mat-elevation-z2"
  >
    <mat-toolbar class="mat-elevation-z0">
      <div fxLayout="row" fxLayoutGap="0.1rem">
        <span class="logo-text">Planrep</span>
      </div>
    </mat-toolbar>
    <div
      class="location"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="1rem"
    >
      <img src="../../../assets/images/coat.png" />
      <span>Porlarg</span>
    </div>
    <div class="sidenav-item">
      <mat-nav-list>
        <app-menu-item
          class="main"
          *ngFor="let item of navlinks"
          [item]="item"
        ></app-menu-item>
      </mat-nav-list>
    </div>
  </mat-drawer>
  <mat-drawer-content style="flex: 1 1 auto">
    <mat-toolbar class="mat-elevation-z2">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
