.mat-drawer-container {
  height: 100%;
  background: #f7f7f7;
}
p-avatar {
  cursor: pointer
}
.location {
  span.admin {
    font-size: 15px;
    font-weight: 500;
  }
  span.section {
    font-size: 13px;
    font-weight: 500;
  }
}
