<mat-drawer-container>
  <mat-drawer
    #drawer
    [mode]="isGtMd ? 'side' : 'over'"
    [opened]="isGtMd"
    class="mat-elevation-z2"
  >
    <mat-toolbar class="mat-elevation-z0">
      <div fxLayout="row" fxLayoutGap="0.1rem">
        <span class="logo-text">Planrep</span>
      </div>
    </mat-toolbar>
    <div
      class="location"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="1rem"
    >
      <img src="../../../assets/images/coat.png" />
      <span>Porlarg</span>
    </div>
    <div class="sidenav-item">
      <p-panelMenu
        [multiple]="false"
        [transitionOptions]="'280ms cubic-bezier(0.4, 0, 0.2, 1)'"
        [model]="items"
      ></p-panelMenu>
    </div>
  </mat-drawer>
  <mat-drawer-content style="flex: 1 1 auto">
    <mat-toolbar class="mat-elevation-z2">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<p-toast
  position="top-center"
  key="error"
  [preventDuplicates]="false"
></p-toast>
<p-toast
  key="info"
  position="bottom-center"
  [preventDuplicates]="false"
></p-toast>
