<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="name"
            formControlName="name"
            [rows]="1"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="template_name"
            formControlName="template_name"
            [rows]="1"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="template_name">Template Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('template_name')!.invalid &&
            (editForm.get('template_name')!.dirty ||
              editForm.get('template_name')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="query_params"
            formControlName="query_params"
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="query_params">Query Params </label>
        </span>
        <span
          *ngIf="
            editForm.get('query_params')!.invalid &&
            (editForm.get('query_params')!.dirty ||
              editForm.get('query_params')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="sql_query"
            formControlName="sql_query"
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="sql_query">Sql Query </label>
        </span>
        <span
          *ngIf="
            editForm.get('sql_query')!.invalid &&
            (editForm.get('sql_query')!.dirty ||
              editForm.get('sql_query')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="cas_plan_content_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="casPlanContents!"
            formControlName="cas_plan_content_id"
          ></p-dropdown>
          <label for="cas_plan_content_id">Cas Plan Content </label>
        </span>
        <span
          *ngIf="
            editForm.get('cas_plan_content_id')!.invalid &&
            (editForm.get('cas_plan_content_id')!.dirty ||
              editForm.get('cas_plan_content_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('cas_plan_content_id')?.errors?.required"
            >Cas Plan Content is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
