<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required</small
          >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.maxlength"
            >Name maximum length is 200 characters</small
          >
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="code" type="text" pInputText formControlName="code" />
          <label for="code">Code </label>
        </span>
        <span
          *ngIf="
            editForm.get('code')!.invalid &&
            (editForm.get('code')!.dirty ||
              editForm.get('code')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('code')?.errors?.required"
            >Code is required.</small
          >
          <small class="p-error" *ngIf="editForm.get('code')?.errors?.maxlength"
            >Code maximum length is 50 characters</small
          >
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="balance_type"
            type="text"
            pInputText
            formControlName="balance_type"
          />
          <label for="balance_type">Balance Type </label>
        </span>
        <span
          *ngIf="
            editForm.get('balance_type')!.invalid &&
            (editForm.get('balance_type')!.dirty ||
              editForm.get('balance_type')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('balance_type')?.errors?.maxlength"
            >Balance Type maximum length is 100 characters</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
