<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
    autocomplete="off"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="description"
            type="text"
            pInputText
            formControlName="description"
          />
          <label for="description">Description </label>
        </span>
        <span
          *ngIf="
            editForm.get('description')!.invalid &&
            (editForm.get('description')!.dirty ||
              editForm.get('description')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('description')?.errors?.required"
            >Description is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <h5>Fund source</h5>
        <p-multiSelect
          id="fund_sources"
          [options]="fundSources!"
          [virtualScroll]="true"
          [filter]="true"
          optionLabel="name"
          defaultLabel="Fund Source"
          formControlName="fund_sources"
          display="chip">
        </p-multiSelect>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <h5>Budget class</h5>
        <p-multiSelect
          id="budget_classes"
          [options]="budgetClasses!"
          [group]="true"
          [filter]="true"
          optionLabel = "name"
          optionGroupLabel = "name"
          optionGroupChildren = "children"
          [maxSelectedLabels]=3
          [selectedItemsLabel]="'{0} items selected'"
          defaultLabel="Sub budget Class"
          scrollHeight="150px"
          [itemSize]="5"
          display="chip"
          formControlName="budget_classes"
        >
          <ng-template let-group pTemplate="group">
            <div class="p-d-flex p-ai-center">
              <span>{{group.label}}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </div>
      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_active"
          name="is_active"
          formControlName="is_active"
        ></p-inputSwitch>
        <label for="is_active">Is Active </label>
      </div>

      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
