<div class="content" fxLayout="column" fxLayoutGap="0.75rem">
  <!-- Filter Panel -->
  <p-card class="filter filter-no-adv">
    <ng-template pTemplate="header">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <i class="pi pi-filter"></i>
        <span class="card-header-text">Filter</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="loader-area">
        <app-loader
          [isLoading]="adminAreaIsLoading || costCentreIsLoading"
        ></app-loader>
        <div fxLayout="column" fxLayoutGap="4px">
          <div fxLayout="row" fxLayoutGap="10px">
            <div
              fxLayout="row"
              fxLayoutGap="0.75rem"
              fxFlex
              fxLayoutAlign="start center"
            >
              <div class="p-field tree-input" fxFlex>
                <span class="p-float-label p-input-icon-right">
                  <input
                    fxFlex
                    id="description"
                    type="text"
                    class="p-inputtext-sm"
                    autocomplete="off"
                    pInputText
                    style="cursor: pointer"
                    (click)="adminPanel.toggle($event)"
                    [ngModel]="selectedAdminHierarchy?.label"
                  />
                  <label for="description">Admin Hierarchy</label>
                  <i class="pi pi-chevron-down"></i>
                  <div
                    style="
                      cursor: pointer;
                      position: absolute;
                      left: 0;
                      right: 0;
                      top: 0;
                      bottom: 0;
                    "
                    (click)="adminPanel.toggle($event)"
                  ></div>
                </span>
              </div>
              <div class="p-field tree-input" fxFlex>
                <span class="p-float-label p-input-icon-right">
                  <input
                    fxFlex
                    id="description"
                    type="text"
                    class="p-inputtext-sm"
                    autocomplete="off"
                    pInputText
                    style="cursor: pointer"
                    (click)="costCentrePanel.toggle($event)"
                    [ngModel]="selectedCostCentre?.section?.name"
                  />
                  <label for="description">Cost Centre</label>
                  <i class="pi pi-chevron-down"></i>
                  <div
                    style="
                      cursor: pointer;
                      position: absolute;
                      left: 0;
                      right: 0;
                      top: 0;
                      bottom: 0;
                    "
                    (click)="costCentrePanel.toggle($event)"
                  ></div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-card>

  <!-- Table Panel -->
  <p-card>
    <ng-template pTemplate="content">
      <p-table [value]="[1]" styleClass="p-datatable-gridlines">
        <!-- <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th class="fit">From</th>
            <th class="fit">Return</th>
            <th class="fit">Forward</th>
          </tr>
        </ng-template> -->
        <ng-template pTemplate="body">
          <tr style="white-space: normal" *ngIf="selectedAdminHierarchy">
            <td [attr.colspan]="2" style="white-space: normal">
              {{ selectedAdminHierarchy?.label }}
            </td>
            <td></td>
            <td>
              <button
                (click)="returnAllCostCentre()"
                pButton
                icon="pi pi-chevron-down"
                class="p-button-text p-button-warning"
                label="Return {{ selectedAdminHierarchy?.label }}"
              ></button>
            </td>
            <td>
              <button
                *ngIf="userDecionLevel?.next_decision_level"
                (click)="forwardAllCostCentre()"
                pButton
                icon="pi pi-chevron-up"
                class="p-button-text p-button-success"
                label="Forward {{ selectedAdminHierarchy?.label }}"
              ></button>
            </td>
          </tr>
          <tr style="white-space: normal" *ngIf="selectedCostCentre">
            <td [attr.colspan]="2" style="white-space: normal">
              {{ selectedCostCentre?.section?.name }}
            </td>
            <td>
              {{
                selectedCostCentre.is_returned ? "Returned by" : "Forwarded by"
              }}
              {{ selectedCostCentre.from_decision_level?.name }}
            </td>
            <td>
              <button
                (click)="returnCostCentre()"
                pButton
                icon="pi pi-chevron-down"
                class="p-button-text p-button-warning"
                [disabled]="!selectedCostCentre"
                label="Return {{ selectedCostCentre?.section?.name }}"
              ></button>
            </td>
            <td>
              <button
                *ngIf="userDecionLevel?.next_decision_level"
                (click)="forwardCostCentre()"
                pButton
                icon="pi pi-chevron-up"
                class="p-button-text p-button-success"
                [disabled]="!selectedCostCentre"
                label="Forward {{ selectedCostCentre?.section?.name }}"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-card>

  <p-card>
    <p-table
      #table
      dataKey="id"
      [lazy]="true"
      [resizableColumns]="true"
      [responsive]="true"
      [expandedRowKeys]="expandedRowKeys"
      [autoLayout]="true"
      [loading]="isLoading"
      [value]="activities!"
      styleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="caption">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="card-header-text">Activity</span>
        </div>
      </ng-template>

      <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
        let-expanded="true"
      >
        <tr style="white-space: normal">
          <td [attr.colspan]="2" style="white-space: normal">
            [ Target ] {{ rowData.long_term_target?.code }} -
            {{ rowData.long_term_target?.description }}
          </td>
          <td style="width: 80px; padding: 0px"></td>
        </tr>
        <tr style="white-space: normal" [ngClass]="{ 'tr-expanded': expanded }">
          <td [attr.colspan]="2">
            [ Facility ] {{ rowData.facility?.code }} -
            {{ rowData.facility.name }}
          </td>
          <td></td>
        </tr>
        <tr
          style="white-space: normal"
          [ngClass]="{
            'tr-expanded': expanded,
            'has-comment': rowData.hasComment
          }"
        >
          <td [attr.colspan]="2" style="white-space: normal">
            [ Activity ] {{ rowData.code }} - {{ rowData.description }}
          </td>
          <td style="width: 80px; padding: 0px">
            <button
              (click)="createOrUpdate(rowData.comments, 'ACTIVITY', rowData)"
              icon="pi pi-comment"
              pButton
              class="p-icon-only p-button-text p-button-rounded"
            ></button>
          </td>
        </tr>

        <tr style="white-space: normal" [ngClass]="{ 'tr-expanded': expanded }">
          <td [attr.colspan]="2">
            [ Budget Class ] {{ rowData.budget_class.code }} -
            {{ rowData.budget_class.name }}
          </td>
          <td></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData>
        <tr style="background-color: hsl(210, 9%, 96%)">
          <td [attr.colspan]="3" style="padding: 0px">
            <table
              class="p-datatable p-datatable-gridlines"
              style="width: 100%; background: transparent"
            >
              <thead class="p-datatable-thead">
                <tr>
                  <th>Fund Source</th>
                  <th>Item</th>
                  <th style="width: 100px">Unit</th>
                  <th style="width: 150px">Unit Price</th>
                  <th style="width: 80px">Quantity</th>
                  <th style="width: 80px">Frequency</th>
                  <th style="width: 150px">Sub Total</th>
                  <th style="width: 79px"></th>
                </tr>
              </thead>
              <tbody class="p-datatable-tbody" style="background: transparent">
                <tr
                  *ngFor="let i of rowData.inputs"
                  [ngClass]="{ 'has-comment': i.hasComment }"
                >
                  <td style="white-space: normal">
                    {{ i.fund_source?.name }}
                  </td>
                  <td style="white-space: normal">
                    {{ i.gfs_code?.code }} - {{ i.gfs_code?.name }}
                  </td>
                  <td>
                    {{ i.unit }}
                  </td>
                  <td>
                    {{ i.unit_price | currency: " " }}
                  </td>
                  <td>
                    {{ i.quantity }}
                  </td>
                  <td>
                    {{ i.frequency }}
                  </td>

                  <td>
                    {{
                      i.unit_price * i.frequency * i.quantity | currency: " "
                    }}
                  </td>
                  <td>
                    <button
                      (click)="createOrUpdate(i.comments, 'INPUT', i)"
                      icon="pi pi-comment"
                      pButton
                      class="p-icon-only p-button-text p-button-rounded"
                    ></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage"> No activity found </ng-template>
    </p-table>
    <div fxLayoutAlign="center" fxLayout="row" fxLayoutGap="10px">
      <p-paginator
        #paginator
        [rows]="1"
        dropdownAppendTo="body"
        [showCurrentPageReport]="true"
        [totalRecords]="totalItems"
        (onPageChange)="pageChanged($event)"
      ></p-paginator>
    </div>
  </p-card>
</div>

<p-confirmDialog
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  header="Confirmation Forward/Return Scrutinization"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<p-overlayPanel #adminPanel [dismissable]="true" appendTo="body">
  <ng-template pTemplate>
    <p-tree
      [value]="nodes"
      [filter]="true"
      [propagateSelectionUp]="false"
      (onNodeExpand)="nodeExpand($event)"
      [selectionMode]="'single'"
      [(selection)]="selectedAdminHierarchy"
      [loading]="treeLoading"
      (onNodeSelect)="onAdminHierarchyChange($event)"
    ></p-tree>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #costCentrePanel [dismissable]="true" appendTo="body">
  <ng-template pTemplate>
    <p-listbox
      fxFlex="0 0 400px"
      (onClick)="onCostCentreChange()"
      [filter]="true"
      [options]="submittedCostCentres!"
      [(ngModel)]="selectedCostCentre"
      optionLabel="section.name"
    >
      <ng-template let-costCentre pTemplate="item">
        <div fxFlex fxLayout="row">
          <span>{{ costCentre.section?.name }}</span>
          <span fxFlex></span>
          <i class="pi pi-user"></i>
        </div>
      </ng-template>
    </p-listbox>
  </ng-template>
</p-overlayPanel>
