<div class="content" fxLayout="column" fxLayoutGap="0.75rem">
  <!-- Filter Panel -->
  <p-card class="filter">
    <ng-template pTemplate="header">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <i class="pi pi-filter"></i>
        <span class="card-header-text">Filter</span>
      </div>
    </ng-template>
    <div fxLayout="column" fxLayoutGap="4px">
      <div fxLayout="row wrap" fxLayoutGap="10px">
        <div
          fxLayout="row wrap"
          fxLayoutGap="0.75rem"
          fxFlex
          fxLayoutAlign="start center"
        >
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <app-admin-hierarchy-tree
                (onSelect)="onAdminHierarchySelection($event)"
                [returnType]="'object'"
              ></app-admin-hierarchy-tree>
            </span>
          </div>

          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="parent_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="departments!"
                (onChange)="filterSections()"
                [(ngModel)]="parent_id"
              ></p-dropdown>
              <label for="parent_id">Department </label>
            </span>
          </div>
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="section_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="sections!"
                (onChange)="loadActivities()"
                [(ngModel)]="section_id"
              ></p-dropdown>
              <label for="section_id">Section </label>
            </span>
          </div>
        </div>
        <div
          fxLayout="row wrap"
          fxFlex="140px"
          fxLayoutGap="4px"
          fxLayoutAlign="end center"
        >
          <button
            pButton
            type="button"
            [pTooltip]="
              advFilter.selected
                ? 'Hide Advanced Search'
                : 'Show Advanced Search'
            "
            tooltipPosition="bottom"
            [icon]="
              advFilter.selected
                ? 'pi pi-angle-double-up'
                : 'pi pi-angle-double-down'
            "
            class="p-button-rounded p-button-text p-button-plain"
            (click)="advFilter.selected = !advFilter.selected"
          ></button>
          <button
            pButton
            class="p-button-primary p-button-raised"
            icon="pi pi-search"
            label="Search"
            (click)="onSearch()"
          ></button>
        </div>
      </div>
      <p-accordion>
        <p-accordionTab
          class="p-shadow-0"
          #advFilter
          [selected]="advFilter.selected"
          [transitionOptions]="'280ms cubic-bezier(0.4, 0, 0.2, 1)'"
        >
          <div fxLayout="row wrap" fxLayoutGap="10px">
            <div
              fxLayout="row wrap"
              fxLayoutGap="0.75rem"
              fxFlex
              fxLayoutAlign="start center"
            ></div>
            <div
              fxLayout="row"
              fxLayoutGap="4px"
              fxFlex="140px"
              fxLayoutAlign="end"
            >
              <button
                pButton
                pTooltip="Clear Advanced Search"
                tooltipPosition="bottom"
                class="p-button-text p-button-plain"
                icon="pi pi-times"
                label="Clear"
                (click)="clearSearch()"
              ></button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </p-card>

  <!-- Table Panel -->
  <p-card>
    <p-table [value]="scrutinizations!" dataKey="name" responsiveLayout="scroll">
      <ng-template pTemplate="header" *ngIf="scrutinizations?.length! > 0">
        <tr>
          <th style="width: 3rem"></th>
          <th>Code</th>
          <th>Activity</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-activity  let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="activity" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>{{activity.code}}</td>
          <td>{{activity.description}}</td>
          <td></td>
          <td>
            <p-badge [value]="activity.status"  severity="{{activity.status == 1?'success':'warning'}}"></p-badge>
          </td>
          <td>
            <button pButton type="button" class="p-button-outlined p-button-rounded p-button-icon" label="Comments"
                    style="margin-left: 16px" icon="pi pi-comment" (click)="setActivityComments(activity)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion"  let-activity>
        <tr>
          <td colspan="4">
            <div class="p-p-3">
              <p-table [value]="activity.inputs" dataKey="name">
                <ng-template pTemplate="header">
                  <tr>
        <th pSortableColumn="customer">input</th>
        <th pSortableColumn="date"></th>
        <th pSortableColumn="amount">Amount</th>
        <th ></th>
        <th ></th>
        <th ></th>
                  </tr>
                </ng-template>
      <ng-template pTemplate="body" let-input>
        <tr>
          <td>{{input.code+' - '+input.name}}</td>
          <td></td>
          <td>{{input.amount | currency:'TZS  '}}</td>
          <td></td>
          <td><p-badge [value]="input.status"  severity="{{input.status == 1?'success':'warning'}}"></p-badge></td>
          <td>
            <button pButton type="button" class="p-button-outlined  p-button-rounded p-button-icon" label="Comments"
                    style="margin-left: 16px" icon="pi pi-comment" (click)="setInputComments(input)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3">There are no inputs for this activity yet.</td>
        </tr>
      </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
<ng-template pTemplate="emptymessage">
  <tr>
    <td colspan="3">There are no activities for this cost centre yet.</td>
  </tr>
</ng-template>
    </p-table>
<ng-template pTemplate="footer">
  <p-paginator
    #paginator
    [alwaysShow]="scrutinizations?.length! > 0"
    [rows]="per_page"
    dropdownAppendTo="body"
    [showCurrentPageReport]="true"
    [totalRecords]="totalItems"
    [rowsPerPageOptions]="perPageOptions"
    (onPageChange)="pageChanged($event)"
  ></p-paginator>
</ng-template>
  </p-card>
</div>

<p-confirmDialog
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  header="Confirmation Delete Scrutinization"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
