<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="percentage"
            formControlName="percentage"
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
          ></p-inputNumber>
          <label for="percentage">Percentage </label>
        </span>
        <span
          *ngIf="
            editForm.get('percentage')!.invalid &&
            (editForm.get('percentage')!.dirty ||
              editForm.get('percentage')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="expenditure_centre_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="expenditureCentres!"
            formControlName="expenditure_centre_id"
          ></p-dropdown>
          <label for="expenditure_centre_id">Expenditure Centre </label>
        </span>
        <span
          *ngIf="
            editForm.get('expenditure_centre_id')!.invalid &&
            (editForm.get('expenditure_centre_id')!.dirty ||
              editForm.get('expenditure_centre_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('expenditure_centre_id')?.errors?.required"
            >Expenditure Centre is required.</small
          >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-multiSelect
            id="gfs_codes"
            [filter]="true"
            display="chip"
            dataKey="id"
            formControlName="gfs_codes"
            [options]="gfsCodes!"
            optionLabel="name"
            class="p-inputtext-sm"
            appendTo="body"
          ></p-multiSelect>
          <label for="gfs_codes">
            <span>Gfs codes </span>
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('gfs_codes')!.invalid &&
            (editForm.get('gfs_codes')!.dirty ||
              editForm.get('gfs_codes')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('gfs_codes')?.errors?.required"
            >Gfs codes are required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
