<div class="dialog-content">
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
    <div class="p-field p-col-12 p-md-4" fxFlex>

      <span class="p-float-label">
          <p-dropdown
            id="columnType"
            optionValue="value"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="columnTypes!"
            [(ngModel)]="ColumnType"
            (onChange)="columnTypeChanged($event.value)"
            [style]="{'color':'red'}"          ></p-dropdown>
          <label for="unit">Column Type </label>
        </span>

      <!--p-radioButton
        name="columnType"
        value="CUSTOM"
        (onClick)="columnTypeChanged('CUSTOM')"
        inputId="custom"
        [(ngModel)]="ColumnType"
        label="Custom Column"
      ></p-radioButton>
    </div>
    <div class="p-field p-col-12 p-md-4" fxFlex>
      <p-radioButton
        name="columnType"
        value="FY"
        (onClick)="columnTypeChanged('FY')"
        inputId="fy"
        [(ngModel)]="ColumnType"
        label="Financial Year Column"
      ></p-radioButton-->
    </div>
  </div>
  <br/>
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
    autocomplete="off"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field p-col-12 p-md-4" fxFlex>
          <span class="p-float-label">
            <input
              id="field_name"
              type="text"
              [style]="!isNotFinancialYear ? { background: '#e6e6e6' }:{ background: '#ffffff' }"
              pInputText
              formControlName="field_name"
            />
            <label for="field_name">Field Name </label>
          </span>
          <span
            *ngIf="
              editForm.get('field_name')!.invalid &&
              (editForm.get('field_name')!.dirty ||
                editForm.get('field_name')!.touched ||
                formError)"
          >
            <small
              class="p-error"
              *ngIf="editForm.get('field_name')?.errors?.required"
            >Field Name is required.</small
            >
          </span>
        </div>
        <div class="p-field p-col-12 p-md-4" fxFlex>
          <span class="p-float-label">
            <input
              id="column_number"
              type="text"
              [style]="!isNotFinancialYear ? { background: '#e6e6e6' }:{ background: '#ffffff' }"
              pInputText
              formControlName="column_number"
            />
          <label for="column_number">Column Number </label>
        </span>
          <span
            *ngIf="
            editForm.get('column_number')!.invalid &&
            (editForm.get('column_number')!.dirty ||
              editForm.get('column_number')!.touched ||formError)"
          >
         </span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field p-col-12 p-md-4" fxFlex>
          <span class="p-float-label">
          <p-inputNumber
            id="sort_order"
            formControlName="sort_order"
            [size]="90"
            [inputStyle]="!isNotFinancialYear ? { background: '#e6e6e6' }:{ background: '#ffffff' }"
          >
          </p-inputNumber>
          <label for="sort_order">Sort Order </label>
        </span>
          <span
            *ngIf="
            editForm.get('sort_order')!.invalid &&
            (editForm.get('sort_order')!.dirty ||
              editForm.get('sort_order')!.touched ||formError)
          "
          >
         </span>
        </div>

        <div class="p-field p-col-12 p-md-4" fxFlex>
          <span class="p-float-label">
          <input
            id="formula"
            type="text"
            [style]="!isNotFinancialYear ? { background: '#e6e6e6' }:{ background: '#ffffff' }"
            pInputText
            formControlName="formula"
          />
          <label for="formula">Formula </label>
        </span>
          <span
            *ngIf="
            editForm.get('formula')!.invalid &&
            (editForm.get('formula')!.dirty ||
              editForm.get('formula')!.touched ||
              formError)
          ">
          </span>
        </div>
        <div class="p-field p-col-12 p-md-4" fxFlex>
          <span class="p-float-label">
          <p-dropdown
            id="unit"
            optionValue="value"
            optionLabel="display"
            [style]="!isNotFinancialYear ? { background: '#e6e6e6' }:{ background: '#ffffff' }"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="units!"
            formControlName="unit"
          ></p-dropdown>
          <label for="unit">Unit of Measure </label>
        </span>
          <span
            *ngIf="
            editForm.get('unit')!.invalid &&
            (editForm.get('unit')!.dirty ||
              editForm.get('unit')!.touched ||
              formError)
          "
          >
          <small class="p-error" *ngIf="editForm.get('unit')?.errors?.required"
          >Unit is required.</small
          >
        </span>
        </div>

      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">

        <div class="p-field p-col-12 p-md-4" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="inputType"
              optionValue="value"
              optionLabel="display"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              appendTo="body"
              [options]="peInPutValues!"
              formControlName="type"
              (onChange)="inputTypeChanged($event)"
            ></p-dropdown>
           <label for="inputType">Input type </label>
        </span>
          <span
            *ngIf="
            editForm.get('type')!.invalid &&
            (editForm.get('type')!.dirty ||
              editForm.get('type')!.touched ||
                formError)
            "
          >
            <small class="p-error" *ngIf="editForm.get('type')?.errors?.required"
            >Input type is required.</small
            >
          </span>
        </div>

        <div class="p-field p-col-12 p-md-4" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="select_option"
              optionValue="id"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              [showClear]="true"
              class="p-inputtext-sm"
              appendTo="body"
              [options]="peSelectOption!"
              formControlName="select_option"
            ></p-dropdown>
           <label for="select_option">Options </label>
        </span>
          <span
            *ngIf="
            editForm.get('select_option')!.invalid &&
            (editForm.get('select_option')!.dirty ||
              editForm.get('select_option')!.touched ||formError)
            "
          >
            <small class="p-error" *ngIf="editForm.get('select_option')?.errors?.required"
            >Option is required.</small
            >
          </span>
        </div>

        <div class="p-field p-col-12 p-md-4" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="output_type"
              optionValue="value"
              optionLabel="display"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              appendTo="body"
              [options]="peOutPutValues!"
              formControlName="output_type"
            ></p-dropdown>
           <label for="output_type">Output Type </label>
        </span>
          <span
            *ngIf="
            editForm.get('output_type')!.invalid &&
            (editForm.get('output_type')!.dirty ||
            editForm.get('output_type')!.touched ||
            formError)"
          >
            <small class="p-error"
                   *ngIf="editForm.get('output_type')?.errors?.required">Out put type is required.</small>
          </span>
        </div>
      </div>


      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field p-col-12 p-md-4" fxFlex>
           <span class="p-float-label">
          <p-dropdown
            id="parent_id"
            optionValue="id"
            optionLabel="field_name"
            [autoDisplayFirst]="false"
            [filter]="true"
            [showClear]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="parents!"
            formControlName="parent_id"
          ></p-dropdown>
          <label for="parent_id">Parent PE definition </label>
        </span>
          <span
            *ngIf="
            editForm.get('parent_id')!.invalid &&
            (editForm.get('parent_id')!.dirty ||
              editForm.get('parent_id')!.touched ||
              formError)"
          >
        </span>
        </div>
        <div class="p-field p-col-12 p-md-4" fxFlex>
          <span class="p-float-label">
          <p-dropdown
            id="gfs_code_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            [showClear]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="gfsCodes!"
            formControlName="gfs_code_id"
          >
          <ng-template let-item pTemplate="item">
                [ {{item.code }} ]  {{item.name }}
           </ng-template>
          </p-dropdown>
          <label for="gfs_code_id">GFS Code </label>
        </span>
          <span
            *ngIf="
            editForm.get('gfs_code_id')!.invalid &&
            (editForm.get('gfs_code_id')!.dirty ||
              editForm.get('gfs_code_id')!.touched ||
              formError)"
          >
        </span>
        </div>
        <div class="p-field p-col-12 p-md-4" fxFlex>
          <span class="p-float-label">
          <p-dropdown
            id="pe_form_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="peForms!"
            formControlName="pe_form_id"
          ></p-dropdown>
          <label for="pe_form_id">PE Form </label>
        </span>
          <span
            *ngIf="
            editForm.get('pe_form_id')!.invalid &&
            (editForm.get('pe_form_id')!.dirty ||
              editForm.get('pe_form_id')!.touched ||
              formError)"
          >
          <small
            class="p-error"
            *ngIf="editForm.get('pe_form_id')?.errors?.required">Pe Form is required.</small>
        </span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field p-col-12 p-md-4" fxFlex>
          <p-inputSwitch
            id="is_input"
            name="is_input"
            formControlName="is_input"
          ></p-inputSwitch>
          <label for="is_input"> Is Input </label>
          <p-inputSwitch
            id="is_active"
            name="is_active"
            formControlName="is_active"
          ></p-inputSwitch>
          <label for="is_active"> Is Active </label>
        </div>

        <!--div class="p-field p-col-12 p-md-4" fxFlex>
         <p-inputSwitch
           id="has_breakdown"
           name="has_breakdown"
           formControlName="has_breakdown"
         ></p-inputSwitch>
         <label for="has_breakdown"> Has Breakdown </label>
       </div-->

        <!--div class="p-field p-col-12 p-md-4" fxFlex>
          <p-inputSwitch
            id="is_vertical"
            name="is_vertical"
            formControlName="is_vertical"
          ></p-inputSwitch>
          <label for="is_vertical">Vertical total </label>
        </div-->
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          *ngIf="isNotFinancialYear"
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
        <button
          *ngIf="!isNotFinancialYear"
          class="p-button-raised"
          icon="pi pi-calendar-plus"
          label="initialize FY Colums"
          pButton
          pRipple
          (click)="initializeFinancialYear()"
          type="button"
        ></button>
      </div>
    </div>
  </form>
</div>
