<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required.</small
          >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.maxlength"
            >name maximum length is 200 characters</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="serial_number"
            formControlName="serial_number"
          ></p-inputNumber>
          <label for="serial_number">Serial Number </label>
        </span>
        <span
          *ngIf="
            editForm.get('serial_number')!.invalid &&
            (editForm.get('serial_number')!.dirty ||
              editForm.get('serial_number')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('serial_number')?.errors?.required"
            >Serial Number is required.</small
          >
          <small
            class="p-error"
            *ngIf="editForm.get('serial_number')?.errors?.min"
            >Serial Number minimum value is 0</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="score_value"
            formControlName="score_value"
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
          ></p-inputNumber>
          <label for="score_value">Score Value </label>
        </span>
        <span
          *ngIf="
            editForm.get('score_value')!.invalid &&
            (editForm.get('score_value')!.dirty ||
              editForm.get('score_value')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('score_value')?.errors?.min"
            >Score Value minimum value is 0.00</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="how_to_assess"
            formControlName="how_to_assess"
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="how_to_assess"
          >How to Access
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('how_to_assess')!.invalid &&
            (editForm.get('how_to_assess')!.dirty ||
              editForm.get('how_to_assess')!.touched ||
              formError)
          "
        >
        </span>
      </div>


      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_free_score"
          name="is_free_score"
          formControlName="is_free_score"
        ></p-inputSwitch>
        <label for="is_free_score">Is Free Score </label>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="cas_assessment_criteria_option_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="casAssessmentCriteriaOptions!"
            formControlName="cas_assessment_criteria_option_id"
          ></p-dropdown>
          <label for="cas_assessment_criteria_option_id"
            >Cas Assessment Criteria Option
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('cas_assessment_criteria_option_id')!.invalid &&
            (editForm.get('cas_assessment_criteria_option_id')!.dirty ||
              editForm.get('cas_assessment_criteria_option_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="
              editForm.get('cas_assessment_criteria_option_id')?.errors
                ?.required
            "
            >Cas Assessment Criteria Option is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
