<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="percentage"
            formControlName="percentage"
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
          ></p-inputNumber>
          <label for="percentage">Percentage </label>
        </span>
        <span
          *ngIf="
            editForm.get('percentage')!.invalid &&
            (editForm.get('percentage')!.dirty ||
              editForm.get('percentage')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-multiSelect
            id="fund_sources"
            [filter]="true"
            display="chip"
            dataKey="id"
            formControlName="fund_sources"
            [options]="fundSources!"
            optionLabel="name"
            class="p-inputtext-sm"
            appendTo="body"
          ></p-multiSelect>
          <label for="fund_sources">
            <span>Fund Sources </span>
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('fund_sources')!.invalid &&
            (editForm.get('fund_sources')!.dirty ||
              editForm.get('fund_sources')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('fund_sources')?.errors?.required"
            >Fund Sources are required.</small
          >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-multiSelect
            id="sectors"
            [filter]="true"
            display="chip"
            dataKey="id"
            formControlName="sectors"
            [options]="sectors!"
            optionLabel="name"
            class="p-inputtext-sm"
            appendTo="body"
          ></p-multiSelect>
          <label for="sectors">
            <span>Sectors </span>
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('sectors')!.invalid &&
            (editForm.get('sectors')!.dirty ||
              editForm.get('sectors')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('sectors')?.errors?.required"
            >Sectors required.</small
          >
        </span>
      </div>

      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
