<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
    autocomplete="off"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field p-col-12 p-md-4" fxFlex>
<span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
          <span
            *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
          >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
          >Name is required.</small
          >
        </span>
        </div>
        <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="transport_category_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="transportCategories!"
            formControlName="transport_category_id"
          ></p-dropdown>
          <label for="transport_category_id">Transport Category </label>
        </span>
          <span
            *ngIf="
            editForm.get('transport_category_id')!.invalid &&
            (editForm.get('transport_category_id')!.dirty ||
              editForm.get('transport_category_id')!.touched ||
              formError)
          "
          >
          <small
            class="p-error"
            *ngIf="editForm.get('transport_category_id')?.errors?.required"
          >Transport Category is required.</small
          >
        </span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="registration_number"
            type="text"
            pInputText
            formControlName="registration_number"
          />
          <label for="registration_number">Registration Number </label>
        </span>
          <span
            *ngIf="
            editForm.get('registration_number')!.invalid &&
            (editForm.get('registration_number')!.dirty ||
              editForm.get('registration_number')!.touched ||
              formError)
          "
          >
          <small
            class="p-error"
            *ngIf="editForm.get('registration_number')?.errors?.required"
          >Registration Number is required.</small
          >
        </span>
        </div>

        <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-calendar
            dataType="string"
            appendTo="body"
            id="date_of_acquisition"
            formControlName="date_of_acquisition"
          ></p-calendar>
          <label for="date_of_acquisition">Date Of Acquisition </label>
        </span>
          <span
            *ngIf="
            editForm.get('date_of_acquisition')!.invalid &&
            (editForm.get('date_of_acquisition')!.dirty ||
              editForm.get('date_of_acquisition')!.touched ||
              formError)
          "
          >
          <small
            class="p-error"
            *ngIf="editForm.get('date_of_acquisition')?.errors?.required"
          >Date Of Acquisition is required.</small
          >
        </span>
        </div>

        <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="mileage"
            type="text"
            pInputText
            formControlName="mileage"
          />
          <label for="mileage">Mileage </label>
        </span>
          <span
            *ngIf="
            editForm.get('mileage')!.invalid &&
            (editForm.get('mileage')!.dirty ||
              editForm.get('mileage')!.touched ||
              formError)
          "
          >
          <small
            class="p-error"
            *ngIf="editForm.get('mileage')?.errors?.required"
          >Mileage is required.</small
          >
        </span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="station"
            type="text"
            pInputText
            formControlName="station"
          />
          <label for="station">Station </label>
        </span>
          <span
            *ngIf="
            editForm.get('station')!.invalid &&
            (editForm.get('station')!.dirty ||
              editForm.get('station')!.touched ||
              formError)
          "
          >
          <small
            class="p-error"
            *ngIf="editForm.get('station')?.errors?.required"
          >Station is required.</small
          >
        </span>
        </div>

        <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="type" type="text" pInputText formControlName="type" />
          <label for="type">Type </label>
        </span>
          <span
            *ngIf="
            editForm.get('type')!.invalid &&
            (editForm.get('type')!.dirty ||
              editForm.get('type')!.touched ||
              formError)
          "
          >
          <small class="p-error" *ngIf="editForm.get('type')?.errors?.required"
          >Type is required.</small
          >
        </span>
        </div>

        <!--div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="ownership"
            type="text"
            pInputText
            formControlName="ownership"
          />
          <label for="ownership">Ownership </label>
        </span>
          <span
            *ngIf="
            editForm.get('ownership')!.invalid &&
            (editForm.get('ownership')!.dirty ||
              editForm.get('ownership')!.touched ||
              formError)
          "
          >
          <small
            class="p-error"
            *ngIf="editForm.get('ownership')?.errors?.required"
          >Ownership is required.</small
          >
        </span>
        </div-->
        <div class="p-field p-col-12 p-md-4" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="ownership"
              optionValue="value"
              optionLabel="display"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              appendTo="body"
              [options]="ownerships!"
              formControlName="ownership"
            ></p-dropdown>
           <label for="ownership">Ownership</label>
        </span>
          <span
            *ngIf="
            editForm.get('ownership')!.invalid &&
            (editForm.get('ownership')!.dirty ||
            editForm.get('ownership')!.touched ||
            formError)"
          >
            <small class="p-error"
                   *ngIf="editForm.get('ownership')?.errors?.required">Ownership is required.</small>
          </span>
        </div>


      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field p-col-12 p-md-4" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="insurance_type"
              optionValue="value"
              optionLabel="display"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              appendTo="body"
              [options]="insuranceTypes!"
              formControlName="insurance_type"
            ></p-dropdown>
           <label for="insurance_type">Insurance Type </label>
        </span>
          <span
            *ngIf="
            editForm.get('insurance_type')!.invalid &&
            (editForm.get('insurance_type')!.dirty ||
            editForm.get('insurance_type')!.touched ||
            formError)"
          >
            <small class="p-error"
                   *ngIf="editForm.get('insurance_type')?.errors?.required">Insurance Type is required.</small>
          </span>
        </div>


        <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="asset_condition_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="assetConditions!"
            formControlName="asset_condition_id"
          ></p-dropdown>
          <label for="asset_condition_id">Asset Condition </label>
        </span>
          <span
            *ngIf="
            editForm.get('asset_condition_id')!.invalid &&
            (editForm.get('asset_condition_id')!.dirty ||
              editForm.get('asset_condition_id')!.touched ||
              formError)
          "
          >
          <small
            class="p-error"
            *ngIf="editForm.get('asset_condition_id')?.errors?.required"
          >Asset Condition is required.</small
          >
        </span>
        </div>
        <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="asset_use_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="assetUses!"
            formControlName="asset_use_id"
          ></p-dropdown>
          <label for="asset_use_id">Asset Use </label>
        </span>
          <span
            *ngIf="
            editForm.get('asset_use_id')!.invalid &&
            (editForm.get('asset_use_id')!.dirty ||
              editForm.get('asset_use_id')!.touched ||
              formError)
          "
          >
          <small
            class="p-error"
            *ngIf="editForm.get('asset_use_id')?.errors?.required"
          >Asset Use is required.</small
          >
        </span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="admin_hierarchy_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="adminHierarchies!"
            formControlName="admin_hierarchy_id"
          ></p-dropdown>
          <label for="admin_hierarchy_id">Admin Hierarchy </label>
        </span>
        <span
          *ngIf="
            editForm.get('admin_hierarchy_id')!.invalid &&
            (editForm.get('admin_hierarchy_id')!.dirty ||
              editForm.get('admin_hierarchy_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('admin_hierarchy_id')?.errors?.required"
          >Admin Hierarchy is required.</small
          >
        </span>
      </div>

        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="financial_year_id"
              optionValue="id"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              appendTo="body"
              [options]="financialYears!"
              formControlName="financial_year_id"
            ></p-dropdown>
            <label for="financial_year_id">Financial Year </label>
          </span>
          <span
            *ngIf="
              editForm.get('financial_year_id')!.invalid &&
              (editForm.get('financial_year_id')!.dirty ||
                editForm.get('financial_year_id')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('financial_year_id')?.errors?.required"
            >Financial Year is required.</small
            >
          </span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="comment"
            formControlName="comment"
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="comment">Comment </label>
        </span>
          <span
            *ngIf="
            editForm.get('comment')!.invalid &&
            (editForm.get('comment')!.dirty ||
              editForm.get('comment')!.touched ||
              formError)
          "
          >
          <small
            class="p-error"
            *ngIf="editForm.get('comment')?.errors?.required"
          >Comment is required.</small
          >
        </span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
