$navBg: #051e34;
$navBorder: rgb(255, 255, 255, 0.1);
$navText:  rgba(255,255,255,.8); //#669df6;
$navWhite: rgba(255,255,255,.98);
// $scaleSM: 0.5;
// $scaleLG: 0.5;
$tableScaleSM: 0.5;
$tableScaleLG: 0.5;
