/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #202124;
}

.mat-drawer {
  width: 240px;
  background-color: $navBg;
  border-right: none !important;
  .mat-toolbar {
    background-color: $navBg;
    box-shadow: 0 -1px 0 $navBorder inset;

    .logo {
      line-height: 32px;
      height: 32px;
      width: 32px;
      color: #ffcb2b;
    }
    .logo-text {
      font-size: 1.2rem;
      color: $navWhite;
    }
  }
  .location {
    height: 100px;
    padding-left: 1em;
    box-shadow: 0 -1px 0 $navBorder inset;

    img {
      transition: all 0.2s ease-in-out;
      vertical-align: middle;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      border: 3px solid $navText;
      padding: 2px;
    }
    span {
      font-size: 1rem;
      color: $navText;
    }
  }
}
.content {
  margin: 1.5rem;
}
