/* You can add global styles to this file, and also import other style files */
@import "variables.scss";

html {
  font-size: 16px; // Component saclling
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #202124;
}

.p-dialog .p-dialog-content {
  padding-top: 0.5rem;
}

.sidenav-item {
  padding: 0px;
  margin-top: 32px;
  background-color: transparent;

  .p-panelmenu {
    width: 100%;
    background-color: transparent;

    .p-menuitem-icon {
      font-size: 18px;
      font-weight: 500;
      color: $navIcon;
    }

    .pi {
      font-weight: 500;
    }

    .pi-chevron-right {
      font-size: 13px;
    }

    .p-menuitem-text {
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      overflow-x: hidden;

    }

    .p-menuitem-text:hover {
      color: #669df6;
    }

    .p-panelmenu-content {
      background-color: #132d49;
      color: $navText;
      padding-left: 0.75rem;

      .p-panelmenu-icon {
        display: none;
      }

      .p-menuitem {
        .p-menuitem-link {
          .p-menuitem-icon,
          .p-menuitem-text {
            color: $navText;
          }
        }

        .p-menuitem-link:hover {
          .p-menuitem-icon,
          .p-menuitem-text {
            color: white;
          }
        }

        .p-menuitem-link-active {
          .p-menuitem-icon,
          .p-menuitem-text {
            color: #f3a71f;
            line-height: 18px;
          }
        }
      }
    }

    .p-highlight {
      background-color: #132d49;
      border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    .p-panelmenu-panel {
      border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    .p-panelmenu-panel .p-panelmenu-header .p-panelmenu-header-link:focus,
    .p-panelmenu-panel .p-panelmenu-header .p-panelmenu-header-link:hover,
    .p-panelmenu-panel .p-panelmenu-header:not(.p-highlight) .p-panelmenu-header-link:hover,
    .p-panelmenu-panel .p-panelmenu-header:not(.p-highlight) .p-panelmenu-header-link:focus {
      background-color: #132d49;
    }

    .p-panelmenu-panel:first-child .p-panelmenu-header > a {
      background-color: transparent;
      color: $navText;
    }

    .p-panelmenu-panel:last-child .p-panelmenu-content {
      border-radius: 0;
    }

    .p-panelmenu-panel .p-panelmenu-header > a {
      color: $navText;
      border-radius: 0;
      background-color: transparent;
    }

    .p-panelmenu-panel .p-panelmenu-header > a:hover {
      color: #fff;
      border-radius: 0;
      background-color: transparent;
    }

    .p-panelmenu-panel {
      box-shadow: none;
    }

  }
}

.mat-drawer {
  width: 256px;
  background-color: $navBg;
  border-right: none !important;

  .mat-toolbar {
    background-color: $navBg;
    // box-shadow: 0 -1px 0 $navBorder inset;
    .logo {
      line-height: 32px;
      height: 32px;
      width: 32px;
      color: #ffcb2b;
    }

    .logo-text {
      font-size: 1.7rem;
      font-family: cursive;
      color: $logoWhite;
      margin-left: -0.75rem;

    }
  }

  .location {
    height: 96px;
    padding-left: 1.5em;
    // box-shadow: 0 -1px 0 $navBorder inset;
    background-color: #132d49;

    img {
      transition: all 0.2s ease-in-out;
      vertical-align: middle;
      // border-radius: 50%;
      width: 70px;
      height: 70px;
      // border: 3px solid $navText;
      padding: 2px;
    }

    span {
      font-size: 1rem;
      color: $logoWhite;
    }
  }

  app-menu-item.main > .menu-list-item {
    box-shadow: 0 -1px 0 $navBorder inset;
  }

  a.expanded {
    color: #669df6;
  }
}

.content {
  margin: 0.75rem;
}

.text-center {
  width: 100%;
  text-align: center;
}

.fit {
  width: 1%
}

.fit-center {
  width: 1%;
  padding: 8px 8px !important;
  text-align: center !important;
}

.filter-text {
  font-weight: 500;
}

.p-inline-message {
  padding: 0.25rem 0.5rem;

  .p-inline-message-text {
    font-size: 0.75rem;
  }
}

.p-card-header {
  padding: 1.25rem 1.25rem 0.5rem 1.25rem;
}


.p-overlaypanel .p-overlaypanel-content {
  padding: 0.75rem;
}

.p-button.planrep-tree {
  width: 100%;
  min-width: 200px;
}

.p-button.p-button-outlined.p-button-plain.planrep-tree {
  border-color: rgba(0, 0, 0, 0.38);
  font-size: 0.8125rem;
  line-height: 0.8125rem;
  font-weight: normal;
}

.card-header-text {
  font-size: 1.25rem;
  font-weight: 500;
}

.p-datatable-tbody {
  text-align: center;
}

.p-card .p-card-body {
  padding: 0.75rem 0.75rem 0.25rem 0.75rem;

  .p-card-content {
    padding-top: 0px;
  }
}

p-card.filter {
  .p-card-body {
    padding: 0.75rem 1.5rem !important;
  }

  .card-header-text {
    font-size: 0.75rem !important;
  }

  .p-card-content {
    padding-bottom: 0px !important;
  }

  .p-accordion {
    margin-top: 0.75rem;

    .p-accordion-tab {
      box-shadow: none !important;

      .p-accordion-content {
        padding: 0px !important;
        margin-bottom: 0.5rem;
      }

      .p-accordion-header {
        display: none !important;
      }
    }
  }
}

.p-avatar.p-avatar-circle {
  background: #3F51B5;
  color: #fff;
}

.p-component {
  font-size: 0.8125rem;
}

.p-tag {
  font-size: 0.75rem;
  font-weight: 500;
}

.p-dropdown, .p-multiselect, .p-inputnumber, .p-calendar, .p-password, .p-treeselect {
  min-width: 200px;
  width: 100%;
}

.tree-input .p-disabled, .p-component:disabled {
  opacity: 1;
}

.p-dropdown.p-dropdown-clearable .p-dropdown-label, .p-password {
  font-size: 0.8125rem;
  line-height: 0.8125rem;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1rem;
  padding-left: 1.25rem;
}

.p-accordion .p-accordion-tab.p-accordion-tab-active {
  margin-bottom: 0px;
}

.p-accordion p-accordiontab .p-accordion-content {
  padding: 6px 24px 16px;
}

.mat-drawer-content {
  background-color: #e4e5e6 !important;
}

i.clear {
  cursor: pointer;
}

.p-paginator {
  .p-paginator-pages .p-paginator-page {
    min-width: 36px;
    height: 36px;
    font-size: 12px;
    line-height: 12px;
  }

  .p-dropdown {
    height: 36px;
    min-width: 64px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e4e4e4;

    .p-dropdown-trigger {
      //drop down arrow
      text-align: end;
    }

    .pi {
      font-size: 11px;
    }

    .p-dropdown-label {
      font-size: 12px;
      line-height: 12px;
      text-align: left;
      min-width: 24px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
}

.p-toast-top-center, .p-toast-bottom-center {
  z-index: 3305 !important;
}

.p-datatable .p-datatable-thead > tr > th {
  color: rgba(0, 0, 0, .54);
  font-size: 0.75rem;
  padding: 0;
  padding-left: 24px;
}

.sub-table .p-datatable {
  .p-datatable-tbody tr, .p-datatable-thead tr > th, tr > td {
    background-color: transparent;
    font-size: 12px;
    height: 36px !important;

    .pi {
      font-size: 12px;
      line-height: 12px;
    }
  }
}

.p-tooltip {
  padding: 0.5rem;

  .p-tooltip-text {
    font-size: 11px;
    line-height: 11px;
    margin: 0.5rem;

  }
}

.p-datatable {
  position: relative;

  .p-datatable-header {
    border: none;
  }
}

.p-treetable {
  position: relative;

  .p-treetable-header {
    border: none;
  }
}

.p-datatable .p-datatable-thead > tr > th:first-of-type,
.p-treetable .p-treetable-thead > tr > th:first-of-type {
  padding-left: 24px;
  height: 48px;
}

.p-datatable .p-datatable-tbody > tr > td,
.p-treetable .p-treetable-tbody > tr > td {
  padding: 0;
  padding-left: 24px;
  height: 48px;
}


.p-datatable .p-datatable-tbody > tr > td:first-of-type,
.p-treetable .p-treetable-tbody > tr > td:first-of-type {
  padding-left: 24px;
}

.p-datatable .p-datatable-tbody > tr > td:last-of-type, .p-datatable .p-datatable-thead > tr > th:last-of-type,
.p-treetable .p-treetable-tbody > tr > td:last-of-type, .p-treetable .p-treetable-thead > tr > th:last-of-type {
  padding-right: 24px;
}

.p-datavalue-table {
  border-spacing: 0px;
  border-collapse: collapse;

  .p-datatable-tbody > tr > td, .p-datatable-tbody > tr > td:last-of-type {
    padding: 0;
    height: auto;

    .p-inputtext, .p-inputnumber {
      border-radius: 2px;
      width: 100%;
    }

  }

}

.p-tree {
  max-height: 400px;
  overflow: scroll;

  .p-tree-container .p-treenode {
    padding: 0.1rem;

    .p-treenode-content {
      padding: 0.1rem;

      .p-tree-toggler {
        height: 2rem;

        .pi {
          font-size: 13px;
        }
      }
    }
  }
}

.p-dialog-mask {
  align-items: flex-start !important;
  padding-top: 64px;
}

.mat-card-header {
  padding: 4px 24px 4px 0px;
}

.p-inputtext, .p-float-label {
  width: 100%;
  font-size: 0.8125rem;
}

.p-inputtext-sm .p-inputtext, .p-inputtext.p-inputtext-sm {
  font-size: 0.8125rem;
}

.p-inputtext.p-inputtext-sm {
  padding: 0.75rem
}

.p-inputtext-sm .p-inputtext,
.p-cascadeselect .p-cascadeselect-label,
.p-multiselect .p-multiselect-label {
  padding: 0.65625rem 0.65625rem;
}

.mat-dialog-content {
  padding-top: 10px !important;
}

.p-dynamic-dialog {
  min-width: 600px;
}

.p-dynamic-dialog-content {
  margin-top: 4px;
}

@media only screen and (max-width: 959px) {
  .p-dynamic-dialog {
    min-width: 96% !important;
  }
}

@media screen and (max-width: 40em) {
  .p-datatable .p-datatable-responsive .p-datatable-tbody > tr > td:first-of-type {
    padding-left: 0 !important;
  }
  .p-datatable .p-datatable-responsive .p-datatable-tbody > tr > td:last-of-type {
    border-bottom: 1px solid #e4e4e4;
    width: 100% !important;
    text-align: right;
    padding-right: 0 !important;

  }
}

input.isSaving {
  background-color: seagreen;
}

p-divider.title .p-divider.p-divider-horizontal {
  margin: 0;
}

.cursor-loader {
  cursor: wait;

  * {
    cursor: wait !important;
  }
}

