<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="baseline_statistic_id"
            optionValue="id"
            optionLabel="description"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="baselineStatistics!"
            formControlName="baseline_statistic_id"
          ></p-dropdown>
          <label for="baseline_statistic_id">Baseline Statistic </label>
        </span>
        <span
          *ngIf="
            editForm.get('baseline_statistic_id')!.invalid &&
            (editForm.get('baseline_statistic_id')!.dirty ||
              editForm.get('baseline_statistic_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('baseline_statistic_id')?.errors?.required"
            >Baseline Statistic is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="value" type="text" pInputText formControlName="value" />
          <label for="value">Value </label>
        </span>
        <span
          *ngIf="
            editForm.get('value')!.invalid &&
            (editForm.get('value')!.dirty ||
              editForm.get('value')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="admin_hierarchy_id"
              optionValue="id"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              appendTo="body"
              [options]="adminHierarchies!"
              formControlName="admin_hierarchy_id"
            ></p-dropdown>
            <label for="admin_hierarchy_id">Admin Hierarchy </label>
          </span>
          <span
            *ngIf="
              editForm.get('admin_hierarchy_id')!.invalid &&
              (editForm.get('admin_hierarchy_id')!.dirty ||
                editForm.get('admin_hierarchy_id')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('admin_hierarchy_id')?.errors?.required"
              >Admin Hierarchy is required.</small
            >
          </span>
        </div>

        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="financial_year_id"
              optionValue="id"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              appendTo="body"
              [options]="financialYears!"
              formControlName="financial_year_id"
            ></p-dropdown>
            <label for="financial_year_id">Financial Year </label>
          </span>
          <span
            *ngIf="
              editForm.get('financial_year_id')!.invalid &&
              (editForm.get('financial_year_id')!.dirty ||
                editForm.get('financial_year_id')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('financial_year_id')?.errors?.required"
              >Financial Year is required.</small
            >
          </span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
