<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required.</small
          >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.maxlength"
            >name maximum length is 200 characters</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber id="number" formControlName="number"></p-inputNumber>
          <label for="number">Number </label>
        </span>
        <span
          *ngIf="
            editForm.get('number')!.invalid &&
            (editForm.get('number')!.dirty ||
              editForm.get('number')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('number')?.errors?.required"
            >Number is required.</small
          >
          <small class="p-error" *ngIf="editForm.get('number')?.errors?.min"
            >number minimum value is 0</small
          >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="cas_assessment_category_version_id"
            optionValue="id"
            optionLabel="cas_assessment_category.name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="casAssessmentCategoryVersions!"
            formControlName="cas_assessment_category_version_id"
          ></p-dropdown>
          <label for="cas_assessment_category_version_id"
            >Cas Assessment Category Version
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('cas_assessment_category_version_id')!.invalid &&
            (editForm.get('cas_assessment_category_version_id')!.dirty ||
              editForm.get('cas_assessment_category_version_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="
              editForm.get('cas_assessment_category_version_id')?.errors
                ?.required
            "
            >Cas Assessment Category Version is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
