<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="admin_hierarchy_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="adminHierarchies!"
            formControlName="admin_hierarchy_id"
          ></p-dropdown>
          <label for="admin_hierarchy_id">Admin Hierarchy </label>
        </span>
        <span
          *ngIf="
            editForm.get('admin_hierarchy_id')!.invalid &&
            (editForm.get('admin_hierarchy_id')!.dirty ||
              editForm.get('admin_hierarchy_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('admin_hierarchy_id')?.errors?.required"
            >Admin Hierarchy is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="financial_year_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="financialYears!"
            formControlName="financial_year_id"
          ></p-dropdown>
          <label for="financial_year_id">Financial Year </label>
        </span>
        <span
          *ngIf="
            editForm.get('financial_year_id')!.invalid &&
            (editForm.get('financial_year_id')!.dirty ||
              editForm.get('financial_year_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('financial_year_id')?.errors?.required"
            >Financial Year is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="pe_sub_form_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="peSubForms!"
            formControlName="pe_sub_form_id"
          ></p-dropdown>
          <label for="pe_sub_form_id">Pe Sub Form </label>
        </span>
        <span
          *ngIf="
            editForm.get('pe_sub_form_id')!.invalid &&
            (editForm.get('pe_sub_form_id')!.dirty ||
              editForm.get('pe_sub_form_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('pe_sub_form_id')?.errors?.required"
            >Pe Sub Form is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="budget_class_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="budgetClasses!"
            formControlName="budget_class_id"
          ></p-dropdown>
          <label for="budget_class_id">Budget Class </label>
        </span>
        <span
          *ngIf="
            editForm.get('budget_class_id')!.invalid &&
            (editForm.get('budget_class_id')!.dirty ||
              editForm.get('budget_class_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('budget_class_id')?.errors?.required"
            >Budget Class is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="fund_source_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="fundSources!"
            formControlName="fund_source_id"
          ></p-dropdown>
          <label for="fund_source_id">Fund Source </label>
        </span>
        <span
          *ngIf="
            editForm.get('fund_source_id')!.invalid &&
            (editForm.get('fund_source_id')!.dirty ||
              editForm.get('fund_source_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('fund_source_id')?.errors?.required"
            >Fund Source is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="section_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="sections!"
            formControlName="section_id"
          ></p-dropdown>
          <label for="section_id">Section </label>
        </span>
        <span
          *ngIf="
            editForm.get('section_id')!.invalid &&
            (editForm.get('section_id')!.dirty ||
              editForm.get('section_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('section_id')?.errors?.required"
            >Section is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
