<button
  type="text"
  pButton
  pRipple
  pTooltip="Add Bank Account"
  tooltipPosition="bottom"
  iconPos="left"
  class="p-button-text p-button-plain p-button-primary"
  (click)="ba.toggle($event)"
>
   {{ceiling?.bank_account?.name}} &nbsp; &nbsp;<i *ngIf="ceiling?.bank_account?.name" class="pi pi-pencil"></i><i *ngIf="!ceiling?.bank_account?.name" class="pi pi-plus"></i>
</button>
<p-overlayPanel
  #ba
  [dismissable]="false"
  [showCloseIcon]="true"
  appendTo="body"
  [focusOnShow]="false"
  (onShow)="loadBankAccount()"
>
  <ng-template pTemplate>
    <div fxLayout="column" fxLayoutGap="10px" style="min-width: 200px">
      <p-table  responsiveLayout="scroll" [paginator]="false" [rows]="10" [responsive]="true">
        <ng-template pTemplate="caption">
          <form
            name="bankAccountForm"
            role="form"
            novalidate
            (ngSubmit)="saveBankAccount()"
            [formGroup]="bankAccountForm"
          >
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="4px">
              <div class="p-field" fxFlex>
              <span class="p-float-label">
          <p-dropdown
            id="bank_account_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="bankAccounts!"
            formControlName="bank_account_id"
          ></p-dropdown>
          <label for="bank_account_id">Bank Account </label>
        </span>
              </div>
              <button
                type="submit"
                pButton
                pRipple
                icon="pi pi-plus"
                class="p-button-raised p-icon-button"
                [disabled]="bankAccountForm.get('bank_account_id')!.invalid"
              ></button>
            </div>
          </form>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</p-overlayPanel>
