<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="fund_type_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="fundTypes!"
            formControlName="fund_type_id"
          ></p-dropdown>
          <label for="fund_type_id">Fund Type </label>
        </span>
        <span
          *ngIf="
            editForm.get('fund_type_id')!.invalid &&
            (editForm.get('fund_type_id')!.dirty ||
              editForm.get('fund_type_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('fund_type_id')?.errors?.required"
            >Fund Type is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="bank_account_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="bankAccounts!"
            formControlName="bank_account_id"
          ></p-dropdown>
          <label for="bank_account_id">Bank Account </label>
        </span>
        <span
          *ngIf="
            editForm.get('bank_account_id')!.invalid &&
            (editForm.get('bank_account_id')!.dirty ||
              editForm.get('bank_account_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('bank_account_id')?.errors?.required"
            >Bank Account is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <div fxLayout="row" fxLayoutGap="2px">
          <p-inputSwitch
            id="is_active"
            name="is_active"
            formControlName="is_active"
          ></p-inputSwitch>
          <label for="is_active">Active </label>
        </div>
      </div>
      <div class="p-field" fxFlex>
        <div fxLayout="row" fxLayoutGap="2px">
          <p-inputSwitch
            id="is_pe"
            name="is_pe"
            formControlName="is_pe"
          ></p-inputSwitch>
          <label for="is_pe">Is PE </label>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
