<div class="content" fxLayout="column" fxLayoutGap="0.75rem">
  <!-- Filter Panel -->
  <p-card class="filter">
    <ng-template pTemplate="header">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <i class="pi pi-filter"></i>
        <span class="card-header-text">Filter</span>
      </div>
    </ng-template>
    <div fxLayout="column" fxLayoutGap="4px">
      <div fxLayout="row wrap" fxLayoutGap="10px">
        <div
          fxLayout="row wrap"
          fxLayoutGap="0.75rem"
          fxFlex
          fxLayoutAlign="start center"
        >
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="pe_form_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="peForms!"
                (onChange)="filterChanged()"
                [(ngModel)]="pe_form_id"
              ></p-dropdown>
              <label for="pe_form_id">PE Form </label>
            </span>
          </div>
        </div>
        <div
          fxLayout="row wrap"
          fxFlex="140px"
          fxLayoutGap="4px"
          fxLayoutAlign="end center"
        >
          <button
            pButton
            pRipple
            type="button"
            [pTooltip]="
              advFilter.selected
                ? 'Hide Advanced Search'
                : 'Show Advanced Search'
            "
            tooltipPosition="bottom"
            [icon]="
              advFilter.selected
                ? 'pi pi-angle-double-up'
                : 'pi pi-angle-double-down'
            "
            class="p-button-rounded p-button-text p-button-plain"
            (click)="advFilter.selected = !advFilter.selected"
          ></button>
          <button
            pButton
            pRipple
            class="p-button-primary p-button-raised"
            icon="pi pi-search"
            label="Search"
            (click)="onSearch()"
          ></button>
        </div>
      </div>
      <p-accordion>
        <p-accordionTab
          class="p-shadow-0"
          #advFilter
          [selected]="advFilter.selected"
          [transitionOptions]="'280ms cubic-bezier(0.4, 0, 0.2, 1)'"
        >
          <div fxLayout="row wrap" fxLayoutGap="10px">
            <div
              fxLayout="row wrap"
              fxLayoutGap="0.75rem"
              fxFlex
              fxLayoutAlign="start center"
            >
              <div class="p-field" fxFlex>
                <span class="p-float-label p-input-icon-right">
                  <input
                    id="field_name"
                    type="text"
                    class="p-inputtext-sm"
                    pInputText
                    [(ngModel)]="search['field_name']"
                  />
                  <label for="field_name">Field Name </label>
                  <i
                    class="pi pi-times clear"
                    (click)="search['field_name'] = undefined; onSearch()"
                  ></i>
                </span>
              </div>
              <div class="p-field" fxFlex>
                <span class="p-float-label p-input-icon-right">
                  <input
                    id="formula"
                    type="text"
                    class="p-inputtext-sm"
                    pInputText
                    [(ngModel)]="search['formula']"
                  />
                  <label for="formula">Formula </label>
                  <i
                    class="pi pi-times clear"
                    (click)="search['formula'] = undefined; onSearch()"
                  ></i>
                </span>
              </div>
              <div class="p-field" fxFlex>
                <span class="p-float-label p-input-icon-right">
                  <input
                    id="type"
                    type="text"
                    class="p-inputtext-sm"
                    pInputText
                    [(ngModel)]="search['type']"
                  />
                  <label for="type">Type </label>
                  <i
                    class="pi pi-times clear"
                    (click)="search['type'] = undefined; onSearch()"
                  ></i>
                </span>
              </div>
              <div class="p-field" fxFlex>
                <span class="p-float-label p-input-icon-right">
                  <input
                    id="select_option"
                    type="text"
                    class="p-inputtext-sm"
                    pInputText
                    [(ngModel)]="search['select_option']"
                  />
                  <label for="select_option">Select Option </label>
                  <i
                    class="pi pi-times clear"
                    (click)="search['select_option'] = undefined; onSearch()"
                  ></i>
                </span>
              </div>
              <div class="p-field" fxFlex>
                <span class="p-float-label p-input-icon-right">
                  <input
                    id="output_type"
                    type="text"
                    class="p-inputtext-sm"
                    pInputText
                    [(ngModel)]="search['output_type']"
                  />
                  <label for="output_type">Output Type </label>
                  <i
                    class="pi pi-times clear"
                    (click)="search['output_type'] = undefined; onSearch()"
                  ></i>
                </span>
              </div>
              <div class="p-field" fxFlex>
                <span class="p-float-label">
                  <p-dropdown
                    id="unit"
                    optionValue="value"
                    optionLabel="display"
                    [autoDisplayFirst]="false"
                    [filter]="true"
                    class="p-inputtext-sm"
                    [options]="units!"
                    [(ngModel)]="search['unit']"
                  ></p-dropdown>
                  <label for="unit">Unit </label>
                </span>
              </div>
            </div>
            <div
              fxLayout="row"
              fxLayoutGap="4px"
              fxFlex="140px"
              fxLayoutAlign="end"
            >
              <button
                pButton
                pRipple
                pTooltip="Clear Advanced Search"
                tooltipPosition="bottom"
                class="p-button-text p-button-plain"
                icon="pi pi-times"
                label="Clear"
                (click)="clearSearch()"
              ></button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </p-card>

  <!-- Table Panel -->
  <p-card>
    <p-treeTable
        #table
        [lazy]="true"
        [resizableColumns]="true"
        [autoLayout]="true"
        [loading]="isLoading"
        [columns]="cols"
        [value]="peDefinitionsNodeTree!"
        [scrollable]="true"
        (onLazyLoad)="onSortChange($event)"
        (onNodeExpand)="onNodeExpand($event)"
        [customSort]="true"
    >
      <ng-template pTemplate="caption">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="card-header-text">PE Columns</span>
          <button
            pButton
            pRipple
            icon="pi pi-plus"
            class="p-button-raised"
            [disabled]="!pe_form_id"
            (click)="createOrUpdate()"
            label="PE Columns"
          ></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr *ngIf="peDefinitionsNodeTree?.length">
          <th style="width: 40%" *ngFor="let col of columns">
            {{ col.header}}
          </th>
          <th>Column Number</th>
          <th>Formula</th>
          <th>Order</th>
          <th style="flex: 0 0 2rem"></th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns">
        <tr>
          <td style="width: 40%" *ngFor="let col of columns; let i = index">
            <p-treeTableToggler
              [rowNode]="rowNode"
              *ngIf="i == 0"
            >
            </p-treeTableToggler>
            {{ rowData[col.field] }}
          </td>
          <td>{{rowData?.column_number}}</td>
          <td>{{rowData?.formula}}</td>
          <td>{{rowData?.sort_order}}</td>
          <td style="flex: 0 0 2 rem">
            <div fxLayout="row" fxLayoutAlign="end">
              <div fxLayout="row" fxLayoutGap="2px">
                <div *ngIf="rowData?.unit !=='Annually'">
                  <button
                    pButton
                    pRipple
                    pTooltip="Edit"
                    tooltipPosition="bottom"
                    class="p-button-text p-button-plain p-button-rounded p-button-icon"
                    icon="pi pi-pencil"
                    (click)="createOrUpdate(rowData)"
                  ></button>
                </div>
                <button
                  pButton
                  pRipple
                  pTooltip="Delete"
                  tooltipPosition="bottom"
                  class="p-button-text p-button-plain p-button-rounded p-button-icon"
                  icon="pi pi-trash"
                  (click)="delete(rowData)"
                ></button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage"> No data found </ng-template>
      <ng-template pTemplate="footer">
        <p-paginator
          #paginator
          [alwaysShow]="peDefinitionsNodeTree?.length! > 0"
          [rows]="per_page"
          dropdownAppendTo="body"
          [showCurrentPageReport]="true"
          [totalRecords]="totalItems"
          [rowsPerPageOptions]="perPageOptions"
          (onPageChange)="pageChanged($event)"
        ></p-paginator>
      </ng-template>
    </p-treeTable>
  </p-card>
</div>

<p-confirmDialog
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  header="Confirmation Delete Pe Definition"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
