<div class="content" fxLayout="column" fxLayoutGap="0.75rem">
  <!-- Filter Panel -->
  <p-card class="filter">
    <ng-template pTemplate="header">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <i class="pi pi-filter"></i>
        <span class="card-header-text">Filter</span>
      </div>
    </ng-template>
    <div fxLayout="column" fxLayoutGap="4px">
      <div fxLayout="row " fxLayoutGap="10px">
        <div
          fxLayout="row "
          fxLayoutGap="0.75rem"
          fxFlex
          fxLayoutAlign="start center"
        >
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="cas_assessment_round_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="casAssessmentRounds!"
                (onChange)="loadAssessors()"
                [(ngModel)]="cas_assessment_round_id"
              ></p-dropdown>
              <label for="cas_assessment_round_id">Cas  Round </label>
            </span>
          </div>
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="period_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="periods!"
                (onChange)="loadAssessors()"
                [(ngModel)]="period_id"
              ></p-dropdown>
              <label for="period_id">Period </label>
            </span>
          </div>
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="cas_assessment_category_version_id"
                optionValue="id"
                optionLabel="cas_category_name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="casAssessmentCategoryVersions!"
                (onChange)="loadAssessors()"
                [(ngModel)]="cas_assessment_category_version_id"
              ></p-dropdown>
              <label for="cas_assessment_category_version_id"
                >Cas Category Version
              </label>
            </span>
          </div>
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="financial_year_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="financialYears!"
                (onChange)="loadAssessors()"
                [(ngModel)]="financial_year_id"
              ></p-dropdown>
              <label for="financial_year_id">Financial Year </label>
            </span>
          </div>
        </div>
        <div
          fxLayout="row "
          fxFlex="140px"
          fxLayoutGap="4px"
          fxLayoutAlign="end center"
        >
          <button
            pButton
            type="button"
            [pTooltip]="
              advFilter.selected
                ? 'Hide Advanced Search'
                : 'Show Advanced Search'
            "
            tooltipPosition="bottom"
            [icon]="
              advFilter.selected
                ? 'pi pi-angle-double-up'
                : 'pi pi-angle-double-down'
            "
            class="p-button-rounded p-button-text p-button-plain"
            (click)="advFilter.selected = !advFilter.selected"
          ></button>
          <button
            pButton
            class="p-button-primary p-button-raised"
            icon="pi pi-search"
            label="Search"
            (click)="loadAssessors()"
          ></button>
        </div>
      </div>
      <p-accordion>
        <p-accordionTab
          class="p-shadow-0"
          #advFilter
          [selected]="advFilter.selected"
          [transitionOptions]="'280ms cubic-bezier(0.4, 0, 0.2, 1)'"
        >
          <div fxLayout="row " fxLayoutGap="10px">
            <div
              fxLayout="row "
              fxLayoutGap="0.75rem"
              fxFlex
              fxLayoutAlign="start center"
            ></div>
            <div
              fxLayout="row"
              fxLayoutGap="4px"
              fxFlex="140px"
              fxLayoutAlign="end"
            >
              <button
                pButton
                pTooltip="Clear Advanced Search"
                tooltipPosition="bottom"
                class="p-button-text p-button-plain"
                icon="pi pi-times"
                label="Clear"
                (click)="clearSearch()"
              ></button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </p-card>

  <!-- Table Panel -->
  <p-card>
    <p-table [value]="assessors!" dataKey="email" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="card-header-text">CAS Assessors</span>
          <button
            pButton
            pRipple
            icon="pi pi-plus"
            class="p-button-raised"
            [disabled]="!cas_assessment_round_id ||
            !period_id ||
            !cas_assessment_category_version_id ||
            !financial_year_id"
            (click)="createOrUpdate()"
            label="Add CAS Assessor"
          ></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th>First name</th>
          <th>Last name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Mobile number</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-assessor  let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="assessor" (click)="loadRegions(assessor.id)" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>{{assessor.first_name}}</td>
          <td>{{assessor.last_name}}</td>
          <td>{{assessor.username}}</td>
          <td>{{assessor.email}}</td>
          <td>{{assessor.mobile_number}}</td>
          <td>
            <div fxLayout="row" fxLayoutAlign="end">
              <div fxLayout="row" fxLayoutGap="2px">
                <button
                  pButton
                  pRipple
                  pTooltip="Edit"
                  tooltipPosition="bottom"
                  class="
                    p-button-text p-button-plain p-button-rounded p-button-icon
                  "
                  icon="pi pi-pencil
              "
                  (click)="createOrUpdate(assessor)"
                ></button>
                <button
                  pButton
                  pRipple
                  pTooltip="Delete"
                  tooltipPosition="bottom"
                  class="
                    p-button-text p-button-plain p-button-rounded p-button-icon
                  "
                  icon="pi pi-trash
              "
                  (click)="delete(assessor)"
                ></button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion"  let-assessor>
        <tr>
          <td colspan="16">
            <div class="p-p-3">
              <p-table [value]="assignedRegions!" dataKey="id">
                <ng-template pTemplate="header">
        <tr>
          <th >Administrative area name</th>
          <th ></th>
          <th ></th>
          <th ></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-input>
        <tr>
          <td>{{input.code}} -  {{input.name}}</td>
          <td></td>
          <td></td>
          <td>
            <div fxLayout="row" fxLayoutAlign="end">
              <div fxLayout="row" fxLayoutGap="2px">
                <button
                  pButton
                  pRipple
                  pTooltip="Edit"
                  tooltipPosition="bottom"
                  class="
                    p-button-text p-button-plain p-button-rounded p-button-icon
                  "
                  icon="pi pi-pencil
              "
                  (click)="createOrUpdate(input)"
                ></button>
                <button
                  pButton
                  pRipple
                  pTooltip="Delete"
                  tooltipPosition="bottom"
                  class="
                    p-button-text p-button-plain p-button-rounded p-button-icon
                  "
                  icon="pi pi-trash
              "
                  (click)="delete(input)"
                ></button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">There are no assigned regions yet.</td>
        </tr>
      </ng-template>
    </p-table>
    </div>
    </td>
    </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
  <tr>
    <td colspan="7">There are no assessors yet.</td>
  </tr>
</ng-template>
</p-table>
<ng-template pTemplate="footer">
  <p-paginator
    #paginator
    [alwaysShow]="assessors?.length! > 0"
    [rows]="per_page"
    dropdownAppendTo="body"
    [showCurrentPageReport]="true"
    [totalRecords]="totalItems"
    [rowsPerPageOptions]="perPageOptions"
    (onPageChange)="pageChanged($event)"
  ></p-paginator>
</ng-template>
  </p-card>

<p-confirmDialog
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  header="Confirmation Delete Assessor Assignment"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
