<div class="dialog-content">
  <form
    name="formGroup"
    role="form"
    novalidate
    (ngSubmit)="reset()"
    [formGroup]="formGroup"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="old-password" type="password" pInputText formControlName="oldPassword" />
          <label for="old-password">Old Password</label>
        </span>
        <span *ngIf="formGroup.get('oldPassword')!.invalid && (formGroup.get('oldPassword')!.dirty || formGroup.get('oldPassword')!.touched)">
          <small class="p-error" *ngIf="formGroup.get('oldPassword')?.errors?.required">Old Password is required.</small>
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="password" type="password" pInputText formControlName="password" />
          <label for="password">New Password</label>
        </span>
        <span *ngIf="formGroup.get('password')!.invalid && (formGroup.get('password')!.dirty || formGroup.get('password')!.touched)">
          <small class="p-error" *ngIf="formGroup.get('password')?.errors?.required">New Password is required.</small>
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="passwordConfirmation" type="password" pInputText formControlName="passwordConfirmation" />
          <label for="passwordConfirmation">New Password Confirmation</label>
        </span>
        <span *ngIf="formGroup.get('passwordConfirmation')!.invalid && (formGroup.get('passwordConfirmation')!.dirty || formGroup.get('passwordConfirmation')!.touched)">
          <small class="p-error" *ngIf="formGroup.get('passwordConfirmation')?.errors?.required">New Password Confirmation is required.</small>
          <small class="p-error" *ngIf="formGroup.get('passwordConfirmation')?.errors?.matching">Passwords Mismatch.</small>
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          [disabled]="formGroup.invalid"
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
