<div class="dialog-content">
  <app-loader [isLoading]="isSaving"></app-loader>
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="20px">
      <!--Activity  -->
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <input
              id="activity"
              type="text"
              disabled
              pInputText
              [value]="facilityActivity?.description"
            />
            <label for="activity">Activity</label>
          </span>
        </div>
      </div>
      <!-- Gfs Row -->
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <!-- Gfs Code -->
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="gfs_code_id"
              optionLabel="name"
              optionValue="id"
              [autoDisplayFirst]="false"
              [filter]="true"
              filterBy="code,name"
              class="p-inputtext-sm"
              [options]="gfsCodes!"
              formControlName="gfs_code_id"
            >
              <ng-template let-gfs pTemplate="item">
                <span>[ {{ gfs.code }} ] {{ gfs.name }}</span>
              </ng-template>
            </p-dropdown>
            <label for="gfs_code_id">Gfs Code </label>
          </span>
          <span
            *ngIf="
              editForm.get('gfs_code_id')!.invalid &&
              (editForm.get('gfs_code_id')!.dirty ||
                editForm.get('gfs_code_id')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('gfs_code_id')?.errors?.required"
              >Gfs Code is required.</small
            >
          </span>
        </div>
        <!-- Unit  -->
        <div class="p-field" fxFlex="200px">
          <span class="p-float-label">
            <p-dropdown
              id="unit"
              optionLabel="display"
              optionValue="value"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              [options]="units!"
              formControlName="unit"
            >
            </p-dropdown>
            <label for="unit">Unit</label>
          </span>
          <span
            *ngIf="
              editForm.get('unit')!.invalid &&
              (editForm.get('unit')!.dirty ||
                editForm.get('unit')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('unit')?.errors?.required"
              >Required!</small
            >
          </span>
        </div>
      </div>

      <!-- Price Row -->
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <!-- Unit price -->
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-inputNumber
              #unitPrice
              id="unit_price"
              (onInput)="
                updateTotal($event.value, quantity.value, frequency.value)
              "
              formControlName="unit_price"
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            ></p-inputNumber>
            <label for="unit_price">Unit Price </label>
          </span>
          <span
            *ngIf="
              editForm.get('unit_price')!.invalid &&
              (editForm.get('unit_price')!.dirty ||
                editForm.get('unit_price')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('unit_price')?.errors?.required"
              >Required!</small
            >
          </span>
        </div>

        <!-- Quantity -->
        <div class="p-field" fxFlex="0 0 80px">
          <span class="p-float-label">
            <p-inputNumber
              #quantity
              id="quantity"
              formControlName="quantity"
              mode="decimal"
              (onInput)="
                updateTotal(unitPrice.value, $event.value, frequency.value)
              "
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            ></p-inputNumber>
            <label for="quantity">Quantity </label>
          </span>
          <span
            *ngIf="
              editForm.get('quantity')!.invalid &&
              (editForm.get('quantity')!.dirty ||
                editForm.get('quantity')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('quantity')?.errors?.required"
              >Required!</small
            >
          </span>
        </div>

        <!-- Frequencey -->
        <div class="p-field" fxFlex="0 0 80px">
          <span class="p-float-label">
            <p-inputNumber
              #frequency
              id="frequency"
              formControlName="frequency"
              (onInput)="
                updateTotal(unitPrice.value, quantity.value, $event.value)
              "
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            ></p-inputNumber>
            <label for="frequency">Frequency </label>
          </span>
          <span
            *ngIf="
              editForm.get('frequency')!.invalid &&
              (editForm.get('frequency')!.dirty ||
                editForm.get('frequency')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('frequency')?.errors?.required"
              >Required!</small
            >
          </span>
        </div>

        <!-- Total -->
        <p-fieldset fxFlex legend="Total" class="total-fieldset">
          <strong>{{ total | currency: " " }}</strong>
        </p-fieldset>

        <div fxLayout="column" fxLayoutGap="2px">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
            <!-- Q1 -->
            <div class="p-field" fxFlex="0 0 70px">
              <span class="p-float-label">
                <p-inputNumber
                  #q1
                  [max]="100"
                  [min]="0"
                  id="period_one"
                  (onInput)="
                    onPeriodChange($event.value, q2.value, q3.value, q4.value)
                  "
                  formControlName="period_one"
                  mode="decimal"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                ></p-inputNumber>
                <label for="period_one">Q1(%)</label>
              </span>
              <span
                *ngIf="
                  editForm.get('period_one')!.invalid &&
                  (editForm.get('period_one')!.dirty ||
                    editForm.get('period_one')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="editForm.get('period_one')?.errors?.required"
                  >Q1 required</small
                >
              </span>
            </div>
            <!-- Q2 -->
            <div class="p-field" fxFlex="0 0 70px">
              <span class="p-float-label">
                <p-inputNumber
                  #q2
                  (onInput)="
                    onPeriodChange(q1.value, $event.value, q3.value, q4.value)
                  "
                  [max]="100"
                  [min]="0"
                  id="period_two"
                  formControlName="period_two"
                  mode="decimal"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                ></p-inputNumber>
                <label for="period_two">Q2(%)</label>
              </span>
              <span
                *ngIf="
                  editForm.get('period_two')!.invalid &&
                  (editForm.get('period_two')!.dirty ||
                    editForm.get('period_two')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="editForm.get('period_two')?.errors?.required"
                  >Q2 required</small
                >
              </span>
            </div>
            <!-- Q3 -->
            <div class="p-field" fxFlex="0 0 70px">
              <span class="p-float-label">
                <p-inputNumber
                  #q3
                  (onInput)="
                    onPeriodChange(q1.value, q2.value, $event.value, q4.value)
                  "
                  [max]="100"
                  [min]="0"
                  id="period_three"
                  formControlName="period_three"
                  mode="decimal"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                ></p-inputNumber>
                <label for="period_three">Q3(%)</label>
              </span>
              <span
                *ngIf="
                  editForm.get('period_three')!.invalid &&
                  (editForm.get('period_three')!.dirty ||
                    editForm.get('period_three')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="editForm.get('period_three')?.errors?.required"
                  >Q3 required</small
                >
              </span>
            </div>
            <!-- Q4 -->
            <div class="p-field" fxFlex="0 0 70px">
              <span class="p-float-label">
                <p-inputNumber
                  #q4
                  (onInput)="
                    onPeriodChange(q1.value, q2.value, q3.value, $event.value)
                  "
                  [max]="100"
                  [min]="0"
                  id="period_four"
                  formControlName="period_four"
                  mode="decimal"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                ></p-inputNumber>
                <label for="period_four">Q4(%)</label>
              </span>
              <span
                *ngIf="
                  editForm.get('period_four')!.invalid &&
                  (editForm.get('period_four')!.dirty ||
                    editForm.get('period_four')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="editForm.get('period_four')?.errors?.required"
                  >Q4 required</small
                >
              </span>
            </div>
          </div>
          <small
            class="p-error"
            *ngIf="formError && editForm.get('period')?.errors?.required"
            >Quarter sum must be 100</small
          >
        </div>
      </div>

      <p-divider fxFlex class="title" align="center">
        <small>Forward Estimates</small>
      </p-divider>

      <!-- Forward  Yr1 row -->
      <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
        <span fxFlex></span>
        <!-- Quantity+1 -->
        <span>Year+1</span>
        <div class="p-field" fxFlex="0 0 80px">
          <span class="p-float-label">
            <p-inputNumber
              #quantityYrOne
              id="quantity"
              formControlName="quantity_yr_one"
              mode="decimal"
              (onInput)="
                updateTotalYrOne(
                  unitPrice.value,
                  $event.value,
                  frequencyYrOne.value
                )
              "
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            ></p-inputNumber>
            <label for="quantity_yr_one">Quantity</label>
          </span>
          <span
            *ngIf="
              editForm.get('quantity_yr_one')!.invalid &&
              (editForm.get('quantity_yr_one')!.dirty ||
                editForm.get('quantity_yr_one')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('quantity_yr_one')?.errors?.required"
              >Required!</small
            >
          </span>
        </div>
        <!-- frequnecy+1 -->
        <div class="p-field" fxFlex="0 0 80px">
          <span class="p-float-label">
            <p-inputNumber
              #frequencyYrOne
              id="frequency_yr_one"
              formControlName="frequency_yr_one"
              (onInput)="
                updateTotalYrOne(
                  unitPrice.value,
                  quantityYrOne.value,
                  $event.value
                )
              "
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            ></p-inputNumber>
            <label for="frequency_yr_one">Frequency</label>
          </span>
          <span
            *ngIf="
              editForm.get('frequency_yr_one')!.invalid &&
              (editForm.get('frequency_yr_one')!.dirty ||
                editForm.get('frequency_yr_one')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('frequency_yr_one')?.errors?.required"
              >Required</small
            >
          </span>
        </div>

        <!-- Year+1 total -->
        <p-fieldset fxFlex="200px" legend="Total Year+1" class="total-fieldset">
          <strong>{{ totalYrOne | currency: " " }}</strong>
        </p-fieldset>
      </div>
      <!-- Forward  Yr2 row -->
      <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
        <span fxFlex></span>
        <!-- Quantity+1 -->
        <span>Year+2</span>
        <div class="p-field" fxFlex="0 0 80px">
          <span class="p-float-label">
            <p-inputNumber
              #quantityYrTwo
              id="quantity_yr_two"
              formControlName="quantity_yr_two"
              mode="decimal"
              (onInput)="
                updateTotalYrTwo(
                  unitPrice.value,
                  $event.value,
                  frequencyYrTwo.value
                )
              "
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            ></p-inputNumber>
            <label for="quantity_yr_two">Quantity</label>
          </span>
          <span
            *ngIf="
              editForm.get('quantity_yr_two')!.invalid &&
              (editForm.get('quantity_yr_two')!.dirty ||
                editForm.get('quantity_yr_two')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('quantity_yr_two')?.errors?.required"
              >Required!</small
            >
          </span>
        </div>
        <!-- frequnecy+1 -->
        <div class="p-field" fxFlex="0 0 80px">
          <span class="p-float-label">
            <p-inputNumber
              #frequencyYrTwo
              id="frequency_yr_two"
              formControlName="frequency_yr_two"
              (onInput)="
                updateTotalYrTwo(
                  unitPrice.value,
                  quantityYrTwo.value,
                  $event.value
                )
              "
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            ></p-inputNumber>
            <label for="frequency_yr_two">Frequency</label>
          </span>
          <span
            *ngIf="
              editForm.get('frequency_yr_two')!.invalid &&
              (editForm.get('frequency_yr_two')!.dirty ||
                editForm.get('frequency_yr_two')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('frequency_yr_two')?.errors?.required"
              >Required!</small
            >
          </span>
        </div>

        <!-- Year+2 total -->
        <p-fieldset fxFlex="200px" legend="Total Year+2" class="total-fieldset">
          <strong>{{ totalYrTwo | currency: " " }}</strong>
        </p-fieldset>
      </div>

      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
        <p-checkbox
          name="is_inkind"
          [binary]="true"
          label="Is Inkind"
          formControlName="is_inkind"
        ></p-checkbox>

        <p-checkbox
          #hasBeakDown
          name="has_breakdown"
          [binary]="true"
          (onChange)="onHasBreakDownChange($event.checked)"
          label="Has breakdown"
          formControlName="has_breakdown"
        ></p-checkbox>
      </div>
      <!-- Break downs -->

      <div
        fxLayout="column"
        fxLayoutGap="10px"
        fxLayoutAlign="start"
        *ngIf="editForm.get('has_breakdown')?.value"
      >
        <p-divider fxFlex class="title" align="center">
          <small>Breakdowns</small>
        </p-divider>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between">
          <button
            icon="pi pi-plus"
            pButton
            type="button"
            class="p-button-sm p-button-text"
            label="Add Item"
            (click)="breakDownPanel.toggle($event)"
          ></button>
          <span fxLayout="row" fxLayoutAlign="end">
            <small
              class="p-error"
              *ngIf="
                formError && editForm.get('breakdownValid')?.errors?.required
              "
              >Breakdown sum must equal to {{ total }}</small
            >
            <p-fieldset
              fxFlex="200px"
              legend="Total Breakdown"
              class="total-fieldset"
            >
              <strong>{{ totalToBreakDown | currency: " " }}</strong>
            </p-fieldset>
          </span>
        </div>

        <p-table
          [value]="breakDownControls.controls"
          dataKey="controls.item.value"
          editMode="row"
          [resizableColumns]="true"
          [responsive]="true"
          [autoLayout]="true"
          styleClass="p-datatable-gridlines"
          formArrayName="breakdowns"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Item</th>
              <th>Unit</th>
              <th>Unit Price</th>
              <th>Quantity</th>
              <th>Frequency</th>
              <th>Sub Total</th>
              <th style="width: 80px"></th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-breakdown
            let-editing="editing"
            let-ri="rowIndex"
          >
            <tr [pEditableRow]="breakdown" [formGroupName]="ri">
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      [ngClass]="{
                        error:
                          breakdown.get('item')!.invalid &&
                          (breakdown.get('item')!.dirty ||
                            breakdown.get('item')!.touched ||
                            formError)
                      }"
                      id="item_{{ ri }}"
                      type="text"
                      pInputText
                      formControlName="item"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ breakdown.get("item")?.value! }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width: 80px">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-dropdown
                      id="unit_{{ ri }}"
                      optionLabel="display"
                      optionValue="value"
                      [autoDisplayFirst]="false"
                      [filter]="true"
                      class="p-inputtext-sm"
                      [options]="units!"
                      formControlName="unit"
                    >
                    </p-dropdown>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ breakdown.get("unit")?.value! }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber
                      [style]="{ 'min-width': '140px' }"
                      id="unit_price_{{ ri }}"
                      mode="decimal"
                      [minFractionDigits]="2"
                      [maxFractionDigits]="2"
                      formControlName="unit_price"
                    ></p-inputNumber>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ breakdown.get("unit_price")?.value! | currency: " " }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width: 100px">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber
                      id="quantity_{{ ri }}"
                      mode="decimal"
                      [minFractionDigits]="2"
                      [maxFractionDigits]="2"
                      formControlName="quantity"
                    ></p-inputNumber>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ breakdown.get("quantity")?.value! }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width: 100px">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber
                      id="frequency_{{ ri }}"
                      mode="decimal"
                      [minFractionDigits]="2"
                      [maxFractionDigits]="2"
                      formControlName="frequency"
                    ></p-inputNumber>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ breakdown.get("frequency")?.value! }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td></td>
              <td style="text-align: center">
                <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="end">
                  <!-- <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-text p-button-plain"
                  ></button> -->
                  <button
                    *ngIf="!editing"
                    pButton
                    type="button"
                    (click)="removeControl(ri)"
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-text p-button-plain"
                  ></button>
                  <button
                    *ngIf="editing"
                    pButton
                    type="button"
                    pSaveEditableRow
                    icon="pi pi-check"
                    class="
                      p-button-rounded p-button-text p-button-success p-mr-2
                    "
                  ></button>
                  <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pCancelEditableRow
                    icon="pi pi-times"
                    class="p-button-rounded p-button-text p-button-danger"
                  ></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          [disabled]="budgetIsLocked"
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>

<p-overlayPanel
  #breakDownPanel
  [dismissable]="false"
  [showCloseIcon]="true"
  appendTo="body"
>
  <ng-template pTemplate>
    <form
      name="breakDownForm"
      [formGroup]="breakDownForm"
      (ngSubmit)="addItem()"
    >
      <div style="width: 840px" fxLayout="column" fxLayoutGap="20px">
        <!-- Params -->
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <input
                formControlName="item"
                #itemToAdd
                id="itemToAdd"
                type="text"
                pInputText
              />
              <label for="itemToAdd">Item</label>
            </span>
            <span
              *ngIf="
                breakDownForm.get('item')!.invalid &&
                (breakDownForm.get('item')!.dirty ||
                  breakDownForm.get('item')!.touched ||
                  breakDownFormError)
              "
            >
              <small
                class="p-error"
                *ngIf="breakDownForm.get('item')?.errors?.required"
                >Item is required.</small
              >
            </span>
          </div>

          <div class="p-field" fxFlex="0 1 140px">
            <span class="p-float-label">
              <p-inputNumber
                #unitPriceToAdd
                id="unit_price"
                mode="decimal"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
                formControlName="unit_price"
              ></p-inputNumber>
              <label for="unit_price">Unit Price</label>
            </span>
            <span
              *ngIf="
                breakDownForm.get('unit_price')!.invalid &&
                (breakDownForm.get('unit_price')!.dirty ||
                  breakDownForm.get('unit_price')!.touched ||
                  breakDownFormError)
              "
            >
              <small
                class="p-error"
                *ngIf="breakDownForm.get('unit_price')?.errors?.required"
                >Required!</small
              >
            </span>
          </div>

          <div class="p-field" fxFlex="0 0 80px">
            <span class="p-float-label">
              <p-inputNumber
                #quantityToAdd
                id="quantityToAdd"
                mode="decimal"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
                formControlName="quantity"
              ></p-inputNumber>
              <label for="quantityToAdd">Quantity</label>
            </span>
            <span
              *ngIf="
                breakDownForm.get('quantity')!.invalid &&
                (breakDownForm.get('quantity')!.dirty ||
                  breakDownForm.get('quantity')!.touched ||
                  breakDownFormError)
              "
            >
              <small
                class="p-error"
                *ngIf="breakDownForm.get('quantity')?.errors?.required"
                >Required!</small
              >
            </span>
          </div>

          <div class="p-field" fxFlex="0 0 80px">
            <span class="p-float-label">
              <p-inputNumber
                #frequencyToAdd
                id="frequencyToAdd"
                mode="decimal"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
                formControlName="frequency"
              ></p-inputNumber>
              <label for="frequencyToAdd">Frequency</label>
            </span>
            <span
              *ngIf="
                breakDownForm.get('frequency')!.invalid &&
                (breakDownForm.get('frequency')!.dirty ||
                  breakDownForm.get('frequency')!.touched ||
                  breakDownFormError)
              "
            >
              <small
                class="p-error"
                *ngIf="breakDownForm.get('frequency')?.errors?.required"
                >Required!</small
              >
            </span>
          </div>

          <div class="p-field" fxFlex="0 1 100px">
            <span class="p-float-label">
              <p-dropdown
                id="unit"
                optionLabel="display"
                optionValue="value"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="units!"
                formControlName="unit"
              >
              </p-dropdown>
              <label for="unit">Unit</label>
            </span>
            <span
              *ngIf="
                breakDownForm.get('unit')!.invalid &&
                (breakDownForm.get('unit')!.dirty ||
                  breakDownForm.get('unit')!.touched ||
                  breakDownFormError)
              "
            >
              <small
                class="p-error"
                *ngIf="breakDownForm.get('unit')?.errors?.required"
                >Required!</small
              >
            </span>
          </div>

          <p-fieldset fxFlex legend="Total" class="total-fieldset">
            <strong>{{ totalToAdd | currency: " " }}</strong>
          </p-fieldset>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Add"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </form>
  </ng-template>
</p-overlayPanel>
