<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="20px">
      <!--Activity  -->
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <input
              id="activity"
              type="text"
              disabled
              pInputText
              [value]="facilityActivity?.description"
            />
            <label for="activity">Activity</label>
          </span>
        </div>
      </div>
      <!-- Gfs Row -->
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <!-- Gfs Code -->
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="gfs_code_id"
              optionLabel="name"
              optionValue="id"
              [autoDisplayFirst]="false"
              [filter]="true"
              filterBy="code,name"
              class="p-inputtext-sm"
              [options]="gfsCodes!"
              formControlName="gfs_code_id"
            >
              <ng-template let-gfs pTemplate="item">
                <span>[ {{ gfs.code }} ] {{ gfs.name }}</span>
              </ng-template>
            </p-dropdown>
            <label for="gfs_code_id">Gfs Code </label>
          </span>
          <span
            *ngIf="
              editForm.get('gfs_code_id')!.invalid &&
              (editForm.get('gfs_code_id')!.dirty ||
                editForm.get('gfs_code_id')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('gfs_code_id')?.errors?.required"
              >Gfs Code is required.</small
            >
          </span>
        </div>
        <!-- Unit  -->
        <div class="p-field" fxFlex="200px">
          <span class="p-float-label">
            <p-dropdown
              id="unit"
              optionLabel="display"
              optionValue="value"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              [options]="units!"
              formControlName="unit"
            >
            </p-dropdown>
            <label for="unit">Unit</label>
          </span>
          <span
            *ngIf="
              editForm.get('unit')!.invalid &&
              (editForm.get('unit')!.dirty ||
                editForm.get('unit')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('unit')?.errors?.required"
              >Unit is required.</small
            >
          </span>
        </div>
      </div>

      <!-- Price Row -->
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <!-- Unit price -->
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-inputNumber
              #unitPrice
              id="unit_price"
              (onInput)="
                updateTotal($event.value, quantity.value, frequency.value)
              "
              formControlName="unit_price"
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            ></p-inputNumber>
            <label for="unit_price">Unit Price </label>
          </span>
          <span
            *ngIf="
              editForm.get('unit_price')!.invalid &&
              (editForm.get('unit_price')!.dirty ||
                editForm.get('unit_price')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('unit_price')?.errors?.required"
              >Unit Price is required.</small
            >
          </span>
        </div>

        <!-- Quantity -->
        <div class="p-field" fxFlex="0 0 80px">
          <span class="p-float-label">
            <p-inputNumber
              #quantity
              id="quantity"
              formControlName="quantity"
              mode="decimal"
              (onInput)="
                updateTotal(unitPrice.value, $event.value, frequency.value)
              "
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            ></p-inputNumber>
            <label for="quantity">Quantity </label>
          </span>
          <span
            *ngIf="
              editForm.get('quantity')!.invalid &&
              (editForm.get('quantity')!.dirty ||
                editForm.get('quantity')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('quantity')?.errors?.required"
              >Quantity is required.</small
            >
          </span>
        </div>

        <!-- Frequencey -->
        <div class="p-field" fxFlex="0 0 80px">
          <span class="p-float-label">
            <p-inputNumber
              #frequency
              id="frequency"
              formControlName="frequency"
              (onInput)="
                updateTotal(unitPrice.value, quantity.value, $event.value)
              "
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            ></p-inputNumber>
            <label for="frequency">Frequency </label>
          </span>
          <span
            *ngIf="
              editForm.get('frequency')!.invalid &&
              (editForm.get('frequency')!.dirty ||
                editForm.get('frequency')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('frequency')?.errors?.required"
              >Frequency is required.</small
            >
          </span>
        </div>

        <!-- Total -->
        <p-fieldset fxFlex legend="Total" class="total-fieldset">
          <strong>{{ total | currency: " " }}</strong>
        </p-fieldset>
        <div fxLayout="column" fxLayoutGap="2px">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
            <!-- Q1 -->
            <div class="p-field" fxFlex="0 0 70px">
              <span class="p-float-label">
                <p-inputNumber
                  #q1
                  [max]="100"
                  [min]="0"
                  id="period_one"
                  (onInput)="
                    onPeriodChange($event.value, q2.value, q3.value, q4.value)
                  "
                  formControlName="period_one"
                  mode="decimal"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                ></p-inputNumber>
                <label for="period_one">Q1(%)</label>
              </span>
              <span
                *ngIf="
                  editForm.get('period_one')!.invalid &&
                  (editForm.get('period_one')!.dirty ||
                    editForm.get('period_one')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="editForm.get('period_one')?.errors?.required"
                  >Q1 required</small
                >
              </span>
            </div>
            <!-- Q2 -->
            <div class="p-field" fxFlex="0 0 70px">
              <span class="p-float-label">
                <p-inputNumber
                  #q2
                  (onInput)="
                    onPeriodChange(q1.value, $event.value, q3.value, q4.value)
                  "
                  [max]="100"
                  [min]="0"
                  id="period_two"
                  formControlName="period_two"
                  mode="decimal"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                ></p-inputNumber>
                <label for="period_two">Q2(%)</label>
              </span>
              <span
                *ngIf="
                  editForm.get('period_two')!.invalid &&
                  (editForm.get('period_two')!.dirty ||
                    editForm.get('period_two')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="editForm.get('period_two')?.errors?.required"
                  >Q2 required</small
                >
              </span>
            </div>
            <!-- Q3 -->
            <div class="p-field" fxFlex="0 0 70px">
              <span class="p-float-label">
                <p-inputNumber
                  #q3
                  (onInput)="
                    onPeriodChange(q1.value, q2.value, $event.value, q4.value)
                  "
                  [max]="100"
                  [min]="0"
                  id="period_three"
                  formControlName="period_three"
                  mode="decimal"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                ></p-inputNumber>
                <label for="period_three">Q3(%)</label>
              </span>
              <span
                *ngIf="
                  editForm.get('period_three')!.invalid &&
                  (editForm.get('period_three')!.dirty ||
                    editForm.get('period_three')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="editForm.get('period_three')?.errors?.required"
                  >Q3 required</small
                >
              </span>
            </div>
            <!-- Q4 -->
            <div class="p-field" fxFlex="0 0 70px">
              <span class="p-float-label">
                <p-inputNumber
                  #q4
                  (onInput)="
                    onPeriodChange(q1.value, q2.value, q3.value, $event.value)
                  "
                  [max]="100"
                  [min]="0"
                  id="period_four"
                  formControlName="period_four"
                  mode="decimal"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                ></p-inputNumber>
                <label for="period_four">Q4(%)</label>
              </span>
              <span
                *ngIf="
                  editForm.get('period_four')!.invalid &&
                  (editForm.get('period_four')!.dirty ||
                    editForm.get('period_four')!.touched ||
                    formError)
                "
              >
                <small
                  class="p-error"
                  *ngIf="editForm.get('period_four')?.errors?.required"
                  >Q4 required</small
                >
              </span>
            </div>
          </div>
          <small
            class="p-error"
            *ngIf="formError && editForm.get('period')?.errors?.required"
            >Quarter sum must be 100</small
          >
        </div>
      </div>

      <!-- Forward row -->
      <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
        <span fxFlex></span>
        <div fxLayout="column" fxLayoutGap="20px" fxFlex="200px">
          <!-- Year One forward -->
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-inputNumber
                id="forward_year_one_amount"
                formControlName="forward_year_one_amount"
                mode="decimal"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
              ></p-inputNumber>
              <label for="forward_year_one_amount">Total Year2 </label>
            </span>
            <span
              *ngIf="
                editForm.get('forward_year_one_amount')!.invalid &&
                (editForm.get('forward_year_one_amount')!.dirty ||
                  editForm.get('forward_year_one_amount')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="
                  editForm.get('forward_year_one_amount')?.errors?.required
                "
                >Forward Yr1 required</small
              >
            </span>
          </div>
          <!-- Year Two forward -->
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-inputNumber
                id="forward_year_two_amount"
                formControlName="forward_year_two_amount"
                mode="decimal"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
              ></p-inputNumber>
              <label for="forward_year_two_amount">Total Year 3 </label>
            </span>
            <span
              *ngIf="
                editForm.get('forward_year_two_amount')!.invalid &&
                (editForm.get('forward_year_two_amount')!.dirty ||
                  editForm.get('forward_year_two_amount')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="
                  editForm.get('forward_year_one_amount')?.errors?.required
                "
                >Forward Yr2 required</small
              >
            </span>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
        <p-checkbox
          name="is_inkind"
          [binary]="true"
          label="Is Inkind"
          formControlName="is_inkind"
        ></p-checkbox>

        <p-checkbox
          #hasBeakDown
          name="has_breakdown"
          [binary]="true"
          label="Has breakdown"
          formControlName="has_breakdown"
        ></p-checkbox>
      </div>
      <div
        fxLayout="column"
        fxLayoutGap="10px"
        fxLayoutAlign="start"
        *ngIf="editForm.get('has_breakdown')?.value"
      >
        <p-table
          [value]="breakDownControls.controls"
          dataKey="controls.item.value"
          editMode="row"
          responsiveLayout="scroll"
          styleClass="p-datatable-gridlines breakdown"
          formArrayName="breakdowns"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Item</th>
              <th>Unit Price</th>
              <th>Quantity</th>
              <th>Frequency</th>
              <th>Sub Total</th>
              <th style="width: 80px"></th>
            </tr>
            <tr class="add-table-row">
              <th>
                <input #itemToAdd id="itemToAdd" type="text" pInputText />
              </th>
              <th>
                <p-inputNumber
                  [style]="{ 'min-width': '140px' }"
                  #unitPriceToAdd
                  id="unitPriceToAdd"
                  mode="decimal"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                ></p-inputNumber>
              </th>
              <th style="width: 100px">
                <p-inputNumber
                  [style]="{ 'min-width': '80px', width: '80px' }"
                  #quantityToAdd
                  id="quantityToAdd"
                  mode="decimal"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                ></p-inputNumber>
              </th>
              <th style="width: 100px">
                <p-inputNumber
                  [style]="{ 'min-width': '80px', width: '80px' }"
                  #frequencyToAdd
                  id="frequencyToAdd"
                  mode="decimal"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                ></p-inputNumber>
              </th>
              <th></th>
              <th style="width: 100px">
                <div
                  fxFlex
                  fxLayout="row"
                  fxLayoutGap="2px"
                  fxLayoutAlign="end"
                >
                  <button
                    type="button"
                    icon="pi pi-plus"
                    label="Add"
                    pButton
                    class="p-button-text p-button-rounded p-button-icon"
                    (click)="
                      addItem(
                        itemToAdd,
                        unitPriceToAdd,
                        quantityToAdd,
                        frequencyToAdd
                      )
                    "
                  ></button>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-breakdown
            let-editing="editing"
            let-ri="rowIndex"
          >
            <tr [pEditableRow]="breakdown" [formGroupName]="ri">
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      [ngClass]="{
                        error:
                          breakdown.get('item')!.invalid &&
                          (breakdown.get('item')!.dirty ||
                            breakdown.get('item')!.touched ||
                            formError)
                      }"
                      id="item_{{ ri }}"
                      type="text"
                      pInputText
                      formControlName="item"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ breakdown.get("item")?.value! }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber
                      [style]="{ 'min-width': '140px' }"
                      id="unit_price_{{ ri }}"
                      mode="decimal"
                      [minFractionDigits]="2"
                      [maxFractionDigits]="2"
                      formControlName="unit_price"
                    ></p-inputNumber>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ breakdown.get("unit_price")?.value! | currency: " " }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber
                      [style]="{ 'min-width': '70px', width: '70px' }"
                      id="quantity_{{ ri }}"
                      mode="decimal"
                      [minFractionDigits]="2"
                      [maxFractionDigits]="2"
                      formControlName="quantity"
                    ></p-inputNumber>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ breakdown.get("quantity")?.value! }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber
                      [style]="{ 'min-width': '70px', width: '70px' }"
                      id="frequency_{{ ri }}"
                      mode="decimal"
                      [minFractionDigits]="2"
                      [maxFractionDigits]="2"
                      formControlName="frequency"
                    ></p-inputNumber>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ breakdown.get("frequency")?.value! }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td></td>

              <td style="text-align: center">
                <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="end">
                  <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-text p-button-plain"
                  ></button>
                  <button
                    *ngIf="!editing"
                    pButton
                    type="button"
                    (click)="removeControl(ri)"
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-text p-button-plain"
                  ></button>
                  <button
                    *ngIf="editing"
                    pButton
                    type="button"
                    pSaveEditableRow
                    icon="pi pi-check"
                    class="
                      p-button-rounded p-button-text p-button-success p-mr-2
                    "
                  ></button>
                  <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pCancelEditableRow
                    icon="pi pi-times"
                    class="p-button-rounded p-button-text p-button-danger"
                  ></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
