<script src="admin-ceiling-dissemination.component.ts"></script>
<div class="ui-dialog-content">
  <div class="content" fxLayout="column" fxLayoutGap="0.75rem">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <span class="card-header-text"><b style="font-size:16px">Revenue Source : {{ceiling?.ceiling?.fund_source?.gfs_code?.name}}</b>
        &nbsp;<p-badge style="cursor: pointer" (click)="downloadHsbfAllocation()" *ngIf="ceiling?.ceiling?.fund_source.code === 'Z01'" [value]="'Download Allocation'" styleClass="p-mr-2"><i class="pi pi-times"></i></p-badge>
        &nbsp;&nbsp;<p-badge severity="success" style="cursor: pointer" (click)="confirmHsbfAllocation($event)" *ngIf="ceiling?.ceiling?.fund_source.code === 'Z01'" [value]="'Confirm Allocation'" styleClass="p-mr-2"><i class="pi pi-times"></i></p-badge>
      </span>
    </div>
    <div class="overlay-position"><span #overlayTarget></span></div>
    <div fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row wrap" fxLayoutGap="10px">
        <div fxLayout="row wrap" fxLayoutGap="0.75rem" fxFlex fxLayoutAlign="start center">
          <div  class="p-field" fxFlex>
             <span class="p-float-label">
                  <div  fxLayout="row" fxLayoutAlign="space-between center">
                     <span><b>{{ceiling?.section?.section_level?.name}}</b></span>
                    <span>
                      <b [className]="(ceiling?.amount!>0?(totalAllocatedCeiling[currentCeilingChain?.section_level_position?.position]?.amount/ceiling?.amount!)*100:0.00)>0 && (ceiling?.amount!>0?(totalAllocatedCeiling[currentCeilingChain?.section_level_position?.position]?.amount/ceiling?.amount!)*100:0.00)<=100?'success':'error'">
                       {{totalAllocatedCeiling[currentCeilingChain?.section_level_position?.position]?.amount  | number : '1.2-2'}} ({{ceiling?.amount!>0?(totalAllocatedCeiling[currentCeilingChain?.section_level_position?.position]?.amount/ceiling?.amount!)*100:0.00 | number : '1.2-2'}} %)
                      </b>Allocated
                    </span>
                  </div>
               </span>
            <p-dropdown
              optionValue=""
              optionLabel="section.name"
              [autoDisplayFirst]="true"
              [(ngModel)]="ceiling!.section!.position"
              [filter]="true"
              [options]="parentCeiling!"
              styleClass="form-control"
            >
              <ng-template let-item pTemplate="item">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <span class=""> {{item.section.name}} </span>
                  <span *ngIf="section_level_position! <= item.section.position!"  class="">&nbsp;&nbsp; <b>{{item.amount | currency:"TZS":"TSH"}}</b> &nbsp;&nbsp; <p-badge (click)="allocateCeiling(currentCeilingChain?.section_level_position.position,op,$event,item,currentCeilingChain!)"  *ngIf="currentCeilingChain?.next && ceiling?.ceiling?.fund_source.code !== 'Z01'" [value]="'Allocate'" styleClass="p-mr-2"></p-badge></span>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="selectedItem">
                <span class=""> {{item.section.name}}</span>
                <span *ngIf="section_level_position! <= item.section.position!" class="">&nbsp;&nbsp; <b>{{item.amount | currency:"TZS":"TSH"}}</b></span>
              </ng-template>
            </p-dropdown>
          </div>
          <div *ngFor="let chain of ceilingChain" class="p-field" fxFlex>
               <span class="p-float-label">
                  <div  fxLayout="row" fxLayoutAlign="space-between center">
                     <span><b>{{chain.section_level_position.name}}</b></span>
                    <span >
                      <b [className]="(selectedCeiling[chain?.section_level_position?.position]?.amount!>0?(totalAllocatedCeiling[chain?.section_level_position?.position]?.amount/selectedCeiling[chain?.section_level_position?.position]?.amount!)*100:0.00)>0 && (selectedCeiling[chain?.section_level_position?.position]?.amount!>0?(totalAllocatedCeiling[chain?.section_level_position?.position]?.amount/selectedCeiling[chain?.section_level_position?.position]?.amount!)*100:0.00)<=100?'success':'error'">
                      {{totalAllocatedCeiling[chain?.section_level_position?.position]?.amount  | number : '1.2-2'}} ({{selectedCeiling[chain?.section_level_position?.position]?.amount!>0?(totalAllocatedCeiling[chain?.section_level_position?.position]?.amount/selectedCeiling[chain?.section_level_position?.position]?.amount!)*100:0.00 | number : '1.2-2'}} %)
                      </b>Allocated
                    </span>
                  </div>
               </span>
            <p-dropdown
              optionValue=""
              optionLabel="section.name"
              [autoDisplayFirst]="false"
              [filter]="true"
              [options]="adminCeilingByLevel[chain.section_level_position.position]!"
              (onChange)="onchange($event.value,chain!)"
              styleClass="form-control"
            >
              <ng-template let-item pTemplate="item">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <span class=""> {{item.section.name}} </span>
                  <span *ngIf="section_level_position! <= item.section.position!"  class="">&nbsp;&nbsp; <b>{{item.amount | currency:"TZS":"TSH"}}</b> &nbsp;&nbsp; <p-badge (click)="allocateCeiling(chain?.section_level_position.position,op,$event,item,chain!)"  *ngIf="chain?.next && ceiling?.ceiling?.fund_source.code !== 'Z01'" [value]="'Allocate'" styleClass="p-mr-2"></p-badge></span>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="selectedItem">
                <span class=""> {{item.section.name}}</span>
                <span *ngIf="section_level_position! <= item.section.position!" class="">&nbsp;&nbsp; <b>{{item.amount | currency:"TZS":"TSH"}}</b></span>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row wrap" fxLayoutGap="10px">
        <div fxLayout="row wrap" fxLayoutGap="0.75rem" fxFlex fxLayoutAlign="start center">
          <div class="p-field" fxFlex>
            <p-table
              #fc
              class="ceiling"
              [value]="facilityCeiling!"
              [scrollable]="true"
              scrollHeight="flex"
              dataKey="id"
              editMode="row"
              [paginator]="true" [rows]="5"
              [globalFilterFields]="['council','facility']"
              dataKey="id"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,25,50]"
            >
              <ng-template pTemplate="caption">
                <div fxLayout="column" fxLayoutGap="10px">
                  <div fxLayout="row wrap" fxLayoutGap="10px">
                    <div fxLayout="row" fxLayoutGap="0.75rem" >
                      <span><b>{{finalCeiling?.section?.name}} Allocation</b></span>
                      <button *ngIf="finalCeiling?.amount > 0 && facilityCeiling!.length > 0 && ceiling?.ceiling?.fund_source.code !== 'Z01'" (click)="upload.toggle($event)"  style="float: right !important;"  icon="pi pi-upload" pButton pRipple type="button" label="Upload Final Ceiling"></button>
                    </div>
                  </div>
                </div>
                <br>
                <div fxLayout="column" fxLayoutGap="10px">
                  <div fxLayout="row wrap" fxLayoutGap="10px">
                    <div fxLayout="row" fxLayoutGap="0.75rem" fxFlex fxLayoutAlign="start center">
                      <div class="p-field" fxFlex>
                  <span class="p-input-icon-left" style="width: 100%">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (ngModelChange)="fc.filterGlobal($event, 'contains')" [(ngModel)]="facilityFilterValue" placeholder="Search..." />
                </span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header" >
                <tr *ngIf="totalFacilityAllocatedAmount! > finalCeiling?.amount">
                  <th colspan="4">
                    <span><b style="color: red">Allocation Exceed Ceiling No Change Will Be saved !</b></span>
                  </th>
                </tr>
                <tr>
                  <th>Council</th>
                  <th>Facility</th>
                  <th class="end">Amount (TSH)</th>
                  <th class="end">%</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-editing="editing" let-rowIndex="rowIndex" let-columns="columns">
                <tr>
                  <td>{{rowData?.council}}</td>
                  <td>{{rowData?.facility}}</td>
                  <td>
                    <div  class="p-field" fxFlex style="text-align: end;">
                      <span *ngIf="rowData.is_locked || rowData.is_approved || ceiling?.ceiling?.fund_source.code === 'Z01'">
                        {{rowData!.amount | currency:"TZS":"TSH"}}
                      </span>
                      <p-inputNumber
                        *ngIf="!rowData.is_locked && !rowData.is_approved"
                        mode="decimal"
                        prefix="TSH "
                        [(ngModel)]="rowData!.amount"
                        [minFractionDigits]="2"
                        [maxFractionDigits]="2"
                        inputStyleClass="bg-red"
                        (onBlur)="updateFacilityCeiling(rowData)"
                        (onInput)="facilityCeilingChange(rowData,$event.value)"
                        [min]="0"
                      ></p-inputNumber>
                    </div>
                  </td>
                  <td >
                    <div  class="p-field" fxFlex style="text-align: end;">
                      <span *ngIf="rowData.is_locked || rowData.is_approved || ceiling?.ceiling?.fund_source.code === 'Z01'">
                        {{rowData!.percent | number : '1.2-2'}} %
                      </span>
                      <p-inputNumber
                        *ngIf="!rowData.is_locked && !rowData.is_approved"
                        mode="decimal"
                        suffix=" %"
                        [(ngModel)]="rowData.percent"
                        [minFractionDigits]="2"
                        [maxFractionDigits]="2"
                        (onBlur)="updateFacilityCeiling(rowData)"
                        (onInput)="getFacilityPercent(rowData,$event.value)"
                        [min]="0"
                        [max]="100"
                      ></p-inputNumber>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage"> No Ceiling Found </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-dialog-footer">
  <p-button (click)="close()"  label="Close" icon="pi pi-times"></p-button>
</div>

<p-overlayPanel
  appendTo="body"
  #op
  id="overlay"
  [showCloseIcon]="true"
  [dismissable]="false"
  [focusOnShow]="false"
  [style]="marginStyle"
>
  <div class="dialog-content" style="overflow: auto">
    <div class="card">
      <p-table
        #c
        class="ceiling"
        [value]="toAllocate!"
        [scrollable]="true"
        scrollHeight="32vh"
        dataKey="id"
        editMode="row"
        [globalFilterFields]="['admin_hierarchy.name','section.name']"
      >
        <ng-template pTemplate="caption">
          <span><b>{{selectedCeiling[allocationPosition!]?.section?.name!}} Allocation</b></span>
          <br>
          <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row wrap" fxLayoutGap="10px">
              <div fxLayout="row" fxLayoutGap="0.75rem" fxFlex fxLayoutAlign="start center">
                <div class="p-field" fxFlex>
                  <span class="p-input-icon-left" style="width: 100%">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (ngModelChange)="c.filterGlobal($event, 'contains')" [(ngModel)]="filterValue" placeholder="Search..." />
                </span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" >
          <tr>
            <th colspan="4" *ngIf="(totalAllocatedCeiling[allocationPosition!]?.amount) > selectedCeiling![allocationPosition!]?.amount!">
              <span><b style="color: red">Allocation Exceed Ceiling No Change Will Be saved !</b></span>
            </th>
          </tr>
          <tr>
            <th>Council</th>
            <th>{{toAllocate!.length>0?toAllocate![0]?.section?.section_level?.name:null}}</th>
            <th class="end">Amount (TSH)</th>
            <th class="end">%</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData  let-rowIndex="rowIndex" let-columns="columns">
          <tr>
            <td>{{rowData?.admin_hierarchy.name}}</td>
            <td>{{rowData?.section?.name}}</td>
            <td  styleClass="col-button">
              <div  class="p-field" fxFlex style="text-align: end;">
                      <span *ngIf="rowData.is_locked || rowData.is_approved">
                         <div class="p-field" fxFlex style="text-align:end">
                        {{rowData!.amount | currency:"TZS":"TSH"}}
                         </div>
                      </span>
                    <p-inputNumber
                      *ngIf="!rowData.is_locked && !rowData.is_approved"
                      mode="decimal"
                      prefix="TSH "
                      [(ngModel)]="rowData!.amount"
                      [minFractionDigits]="2"
                      [maxFractionDigits]="2"
                      (onBlur)="updateCeiling(rowData)"
                      (onInput)="ceilingChange(rowData,$event.value)"
                      [min]="0"
                    ></p-inputNumber>
              </div>
            </td>
            <td>
              <div  class="p-field" fxFlex style="text-align: end;">
                <span *ngIf="rowData.is_locked || rowData.is_approved">
                   <div class="p-field" fxFlex style="text-align:end">
                  {{rowData!.amount | currency:"TZS":"TSH"}}
                   </div>
                </span>
                <p-inputNumber
                  *ngIf="!rowData.is_locked && !rowData.is_approved"
                mode="decimal"
                suffix=" %"
                [(ngModel)]="rowData.percent"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
                (onBlur)="updateCeiling(rowData)"
                (onInput)="getPercent(rowData,$event.value)"
                [min]="0"
                [max]="100"
              ></p-inputNumber>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage"> No Ceiling Found </ng-template>
      </p-table>
    </div>
  </div>
</p-overlayPanel>
<p-overlayPanel #upload [showCloseIcon]="true" [style]="{width: '600px'}">
  <ng-template pTemplate>
    <p-fieldset legend="{{finalCeiling?.ceiling?.fund_source?.name}} || {{finalCeiling?.ceiling?.budget_class?.name}}">
      <button style="width: 100%" icon="pi pi-download" (click)="downloadFacilityCeiTemplate()" pButton pRipple type="button" label="Download Template"></button>
    </p-fieldset>
    <br>
    <p-fileUpload [customUpload]="true" (onSelect)="onSelect($event)" (uploadHandler)="uploadFacilityCeiling($event,upload)"
                  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" [maxFileSize]="1000000">
      <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </ng-template>
</p-overlayPanel>
<p-toast position="bottom-center" key="facility"  [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p *ngFor="let ms of message.data">{{ms}}</p>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-confirmPopup key="uniqueallocationdialog"  #allocation></p-confirmPopup>
