.ceiling::ng-deep {
  th{
    background-color: #F3F3F3  !important;
    border: none !important;
  }
  td{
    border: none !important;
    text-align: center;
    input{
      text-align: end !important;
      float: right !important;
    }
    .end{
      text-align: end !important;
      width: 100% !important;
    }
  }
}


