<form
  name="editForm"
  role="form"
  novalidate
  (ngSubmit)="lockCeiling()"
  [formGroup]="lockCeilingForm"
>
<div class="dialog-content">
  <!-- Filter Panel -->
  <p-card class="filter">
    <ng-template pTemplate="header">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <i class="pi pi-filter"></i>
        <span class="card-header-text">Main Filter</span>
      </div>
    </ng-template>

    <div fxLayout="column" fxLayoutGap="20px">
      <div fxLayout="row wrap" fxLayoutGap="px">
        <div
          fxLayout="row wrap"
          fxLayoutGap="0.75rem"
          fxFlex
          fxLayoutAlign="start center"
        >
          <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="admin_hierarchy_position"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            optionValue="position"
            optionLabel="name"
            class="p-inputtext-sm"
            appendTo="body"
            (ngModelChange)="loadAdminHierarchies($event)"
            [options]="adminHierarchyPositions!"
            formControlName="admin_hierarchy_position"
          ></p-dropdown>
          <label for="admin_hierarchy_position"
          >Admin Hierarchy Level
          </label>
        </span>
          </div>
          <div class="p-field" fxFlex>
            <p-multiSelect [options]="adminHierarchies!" (ngModelChange)="getAdminHierarchies($event)" [filter]="true" appendTo="body" [itemSize]="15" formControlName="admin_hierarchies" defaultLabel="Select  Admin Hierarchy" optionValue="id" optionLabel="name" selectedItemsLabel="{0} Admin Hierarchy selected" scrollHeight="200px"></p-multiSelect>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="10px">
        <div class="p-field" fxFlex>
          <p-multiSelect formControlName="budget_classes" optionLabel="name" appendTo="body" selectedItemsLabel="{0} SBC selected"	 optionGroupChildren="children" optionValue="id"  [filter]="true" [itemSize]="34" [options]="budgetClasses!" [group]="true"  defaultLabel="Select Budget Classes" scrollHeight="200px">
            <ng-template let-group pTemplate="group">
              <div class="p-d-flex p-ai-center">
                <span>{{group.label}}</span>
              </div>
            </ng-template>
          </p-multiSelect>
        </div>
        <div class="p-field" fxFlex>
          <p-multiSelect [options]="fundSources!"  [filter]="true" appendTo="body" [itemSize]="15" formControlName="fund_sources" defaultLabel="Select  Fund Source" optionValue="id" optionLabel="name" selectedItemsLabel="{0} Fund Source selected" scrollHeight="200px"></p-multiSelect>
        </div>
        <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="section_position"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            optionValue="position"
            optionLabel="name"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="sectionPositions!"
            formControlName="section_position"
          ></p-dropdown>
          <label for="section_position"
          >Section Levels Level
          </label>
        </span>
        </div>
      </div>
    </div>
  </p-card>
  <p-card class="card" >
    <ng-template pTemplate="header">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <i class="pi pi-list"></i>
        <span class="card-header-text">Summary</span>
      </div>
    </ng-template>
    <p-accordion (onOpen)="onTabOpen($event.index)" cache="true" *ngIf="ceilingLockStatus!.length > 0">
      <p-accordionTab  id="{{admin.id}}}"  *ngFor="let admin of ceilingLockStatus" header="{{admin?.name}}">
        <ng-template pTemplate="content">
          <div class="card">
            <p-table
              #c
              class="ceiling"
              [value]="sectionLevelStatus!"
              dataKey="id"
              editMode="row"
              dataKey="id"
            >
              <ng-template pTemplate="header" >
                <tr>
                  <th>Section Level</th>
                  <th>Total Ceiling Lines</th>
                  <th>Locked</th>
                  <th>Unlocked</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-editing="editing" let-rowIndex="rowIndex">
                <tr>
                  <td>{{rowData?.name}}</td>
                  <td>{{rowData?.lines}}</td>
                  <td>{{rowData?.locked}}</td>
                  <td>{{rowData?.unlocked}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <div fxLayout="row" style="text-align: center;margin: 3em" fxLayoutGap="8px">
                  No Ceiling Status Found
                </div>
              </ng-template>
            </p-table>
          </div>
        </ng-template>
      </p-accordionTab>
    </p-accordion>

  </p-card>

</div>
<div class="p-dialog-footer">
  <p-button (onClick)="close()" label="Cancel" icon="pi pi-times" styleClass="p-button-outlined p-button-primary"></p-button>
  <p-button (onClick)="lock(false)" [disabled]="!lockCeilingForm.valid" label="Unlock" icon="pi pi-unlock" styleClass="p-button-outlined p-button-primary"></p-button>
  <p-button (onClick)="lock(true)"[disabled]="!lockCeilingForm.valid" label="Lock" icon="pi pi-lock" styleClass="p-button-primary"></p-button>
</div>
</form>
