<div class="content" fxLayout="column" fxLayoutGap="0.75rem">
  <!-- Filter Panel -->
  <p-card class="filter">
    <ng-template pTemplate="header">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      </div>
    </ng-template>

    <div fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="row" fxFlex fxLayoutGap="10px" fxLayoutAlign="start">

        <div class="p-field" fxFlex>
          <app-admin-hierarchy-tree
            fxFlex
            [stateKey]="'admin_cost_centre'"
            [returnType]="'object'"
            (onSelect)="onAdminHierarchySelection($event)"
          ></app-admin-hierarchy-tree>
        </div>

        <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="section_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="sections!"
                (onChange)="filterChanged()"
                [(ngModel)]="section_id"
              >
                <ng-template let-section pTemplate="sections">
                            <span>[ {{section.code}} ] - {{section.name}}</span>
                </ng-template>
              </p-dropdown>
              <label for="section_id">Section </label>
            </span>
        </div>

        <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="financial_year_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="financialYears!"
                (onChange)="filterChanged()"
                [(ngModel)]="financial_year_id"
              ></p-dropdown>
              <label for="financial_year_id">Financial Year </label>
            </span>
        </div>
      </div>

      <div fxLayout="row" fxFlex fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="project_data_form_parent_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="projectDataFormParent!"
                (onChange)="onDataFormParentChanged()"
                [(ngModel)]="project_data_form_parent_id"
              >
              </p-dropdown>
              <label for="project_data_form_parent_id">Project Data Form </label>
            </span>
         </div>

        <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="project_data_form_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="projectDataForms!"
                (onChange)="mandatoryFilterChanged()"
                [(ngModel)]="project_data_form_id"
              ></p-dropdown>
              <label for="project_data_form_id">Project Data Form Content </label>
            </span>
        </div>

        <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="project_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="projects!"
                (onChange)="mandatoryFilterChanged()"
                [(ngModel)]="project_id"
              >
                 <ng-template let-project pTemplate="sections">
                            <span>[ {{project.code}} ] - {{project.name}}</span>
                </ng-template>
              </p-dropdown>
              <label for="project_id">Project </label>
            </span>
        </div>
      </div>
    </div>




    <!--div fxLayout="column" fxLayoutGap="4px">
      <div fxLayout="row wrap" fxLayoutGap="10px">
        <div
          fxLayout="row wrap"
          fxLayoutGap="0.75rem"
          fxFlex
          fxLayoutAlign="start center"
        >
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="admin_hierarchy_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="adminHierarchies!"
                (onChange)="filterChanged()"
                [(ngModel)]="admin_hierarchy_id"
              ></p-dropdown>
              <label for="admin_hierarchy_id">Admin Hierarchy </label>
            </span>
          </div>
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="financial_year_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="financialYears!"
                (onChange)="filterChanged()"
                [(ngModel)]="financial_year_id"
              ></p-dropdown>
              <label for="financial_year_id">Financial Year </label>
            </span>
          </div>
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="section_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="sections!"
                (onChange)="filterChanged()"
                [(ngModel)]="section_id"
              ></p-dropdown>
              <label for="section_id">Section </label>
            </span>
          </div>
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="project_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="projects!"
                (onChange)="filterChanged()"
                [(ngModel)]="project_id"
              ></p-dropdown>
              <label for="project_id">Project </label>
            </span>
          </div>
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="project_data_form_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="false"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="projectDataForms!"
                (onChange)="filterChanged()"
                [(ngModel)]="project_data_form_id"
              ></p-dropdown>
              <label for="project_data_form_id">Project Data Form </label>
            </span>
          </div>
        </div>
        <div
          fxLayout="row wrap"
          fxFlex="140px"
          fxLayoutGap="4px"
          fxLayoutAlign="end center"
        >
          <button
            pButton
            type="button"
            [pTooltip]="
              advFilter.selected
                ? 'Hide Advanced Search'
                : 'Show Advanced Search'
            "
            tooltipPosition="bottom"
            [icon]="
              advFilter.selected
                ? 'pi pi-angle-double-up'
                : 'pi pi-angle-double-down'
            "
            class="p-button-rounded p-button-text p-button-plain"
            (click)="advFilter.selected = !advFilter.selected"
          ></button>
          <button
            pButton
            class="p-button-primary p-button-raised"
            icon="pi pi-search"
            label="Search"
            (click)="onSearch()"
          ></button>
        </div>
      </div>
      <p-accordion>
        <p-accordionTab
          class="p-shadow-0"
          #advFilter
          [selected]="advFilter.selected"
          [transitionOptions]="'280ms cubic-bezier(0.4, 0, 0.2, 1)'"
        >
          <div fxLayout="row wrap" fxLayoutGap="10px">
            <div
              fxLayout="row wrap"
              fxLayoutGap="0.75rem"
              fxFlex
              fxLayoutAlign="start center"
            ></div>
            <div
              fxLayout="row"
              fxLayoutGap="4px"
              fxFlex="140px"
              fxLayoutAlign="end"
            >
              <button
                pButton
                pTooltip="Clear Advanced Search"
                tooltipPosition="bottom"
                class="p-button-text p-button-plain"
                icon="pi pi-times"
                label="Clear"
                (click)="clearSearch()"
              ></button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div-->
  </p-card>

  <!-- Table Panel -->

  <p-toolbar>
    <div class="p-toolbar-group-left">
        <span class="card-header-text">
          Project Data Form
          <br/>
        </span>
    </div>
  </p-toolbar>

  <p-card>

    <div fxLayout="column" fxLayoutGap="1rem">
      <div *ngFor="let projectQuestion of projectDataFormQuestions" class="p-field" fxFlex>

        <div *ngIf="projectQuestion?.input_type === 'radio' ; else notRadioButton">
          <h5 style="font-weight: bold">[ {{projectQuestion.number}} ] {{projectQuestion.name}}</h5>
          <div *ngFor="let option of projectQuestion.options" class="field-checkbox" style="padding-bottom: 10px">
            <p-radioButton
              [value]="option"
              name="{{projectQuestion.id}}"
              inputId="{{ projectQuestion.id! }}-{{ option.id! }}"
              [(ngModel)]="dataValuesArray[projectQuestion.id!][option.id!].value"
              (onBlur)="saveValue($event,[projectQuestion.id!][option.id!])"
            >
            </p-radioButton>
            <label [for]="option.id"> {{option.label}}</label>
          </div>
        </div>

        <ng-template #notRadioButton>
          <ng-container *ngIf="projectQuestion?.input_type === 'check' ; else isNumberBlock">
            <h5 style="font-weight: bold">[ {{projectQuestion.number}} ] {{projectQuestion.name}}</h5>
            <div *ngFor="let option of projectQuestion.options" class="field-checkbox" style="padding-bottom: 10px">
              <p-checkbox
                name="{{projectQuestion.id}}"
                [value]="option"
                inputId="{{ projectQuestion.id! }}-{{ option.id! }}"
                [(ngModel)]="dataValuesArray[projectQuestion.id!][option.id!].value"
                (onChange)="saveValue($event,[projectQuestion.id!][option.id!])"
              >
              </p-checkbox>
              <label [for]="option.id"> {{option.label}}</label>
            </div>
          </ng-container>
        </ng-template>

        <ng-template #isNumberBlock>
          <ng-container *ngIf="projectQuestion?.input_type === 'number' ; else isDateBlock">
            <h5 style="font-weight: bold"> [ {{projectQuestion.number}} ] {{projectQuestion.name}}</h5>
            <div *ngFor="let option of projectQuestion.options" class="field-checkbox" style="padding-bottom: 10px">
              <p-inputNumber
                [size]="14"
                value="option"
                autocomplete="off"
                inputId="{{ projectQuestion.id! }}-{{ option.id! }}"
                [(ngModel)]="dataValuesArray[projectQuestion.id!][option.id!].value"
                (ngModelChange)="saveValue($event,[projectQuestion.id!][option.id!])"
                [min]="0"
                [max]="1000000000000000"
                [inputStyle]="{'text-align': 'right','max-width':'2px !important'}">
              </p-inputNumber>
            </div>
          </ng-container>
        </ng-template>


        <ng-template #isDateBlock>
          <ng-container *ngIf="projectQuestion?.input_type === 'date' ; else anyBlock">
            <h5 style="font-weight: bold"> [ {{projectQuestion.number}} ] {{projectQuestion.name}}</h5>
            <div *ngFor="let option of projectQuestion.options" class="field col-4 md:col-4" style="padding-bottom: 10px">
              <p-calendar
                appendTo="body"
                id="{{ projectQuestion.id! }}-{{ option.id! }}"
                (onBlur)="saveValue($event,[projectQuestion.id!][option.id!])"
                [monthNavigator]="true"
                [yearNavigator]="true"
                dateFormat="yy-mm-dd"
                [(ngModel)]="dataValuesArray[projectQuestion.id!][option.id!].value"
                [inputStyle]="{'text-align': 'right','max-width':'2px !important'}">
              </p-calendar>
            </div>
          </ng-container>
        </ng-template>

        <ng-template #anyBlock>
          <ng-container *ngIf="projectQuestion?.input_type === 'text'">
          <h5 style="font-weight: bold"> [ {{projectQuestion.number}} ] {{projectQuestion.name}}</h5>
          <div *ngFor="let option of projectQuestion.options" class="field-checkbox" style="padding-bottom: 10px">
            <input
              type="text"
              pInputText
              id="{{ projectQuestion.id! }}-{{ option.id! }}"
              (blur)="saveValue($event,[projectQuestion.id!][option.id!])"
              [(ngModel)]="dataValuesArray[projectQuestion.id!][option.id!].value"
            >
          </div>
          </ng-container>
        </ng-template>

      </div>
    </div>
  </p-card>

  <p-card *ngIf="projectDataFormQuestions">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
      <button
        pButton pRipple
        type="button"
        label="Complete"
        icon="pi pi-check">
      </button>
      <button
        pButton pRipple
        type="button"
        label="Incomplete"
        icon="pi pi-undo"
        class="p-button-raised p-button-text">
      </button>
    </div>
  </p-card>
</div>

<p-confirmDialog
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  header="Confirmation Delete Project Data Form Item"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
