<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required.</small
          >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="expenditure_category_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="expenditureCategories!"
            formControlName="expenditure_category_id"
          ></p-dropdown>
          <label for="expenditure_category_id">Expenditure Category </label>
        </span>
        <span
          *ngIf="
            editForm.get('expenditure_category_id')!.invalid &&
            (editForm.get('expenditure_category_id')!.dirty ||
              editForm.get('expenditure_category_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('expenditure_category_id')?.errors?.required"
            >Expenditure Category is required.</small
          >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="sector_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="sectors!"
            formControlName="sector_id"
          ></p-dropdown>
          <label for="sector_id">Sectors </label>
        </span>
        <span
          *ngIf="
            editForm.get('sector_id')!.invalid &&
            (editForm.get('sector_id')!.dirty ||
              editForm.get('sector_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('sector_id')?.errors?.required"
            >Sector</small
          >
        </span>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_active"
          name="is_active"
          formControlName="is_active"
        ></p-inputSwitch>
        <label for="is_active">Is Active </label>
      </div>

      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
