.configuration::ng-deep {
th{
  background-color: #F3F3F3  !important;
  border: none !important;
  padding:0.5em !important;
}
td{
  border: none !important;
  padding:0.5em !important;
.end{
  width: 100% !important;
}
}
}


