<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="code" type="text" pInputText formControlName="code" />
          <label for="code">Code </label>
        </span>
        <span
          *ngIf="
            editForm.get('code')!.invalid &&
            (editForm.get('code')!.dirty ||
              editForm.get('code')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('code')?.errors?.required"
            >Code is required.</small
          >
        </span>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="current_budget_locked"
          name="current_budget_locked"
          formControlName="current_budget_locked"
        ></p-inputSwitch>
        <label for="current_budget_locked">Current Budget Locked </label>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_carryover_budget_locked"
          name="is_carryover_budget_locked"
          formControlName="is_carryover_budget_locked"
        ></p-inputSwitch>
        <label for="is_carryover_budget_locked"
          >Is Carryover Budget Locked
        </label>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_supplementary_budget_locked"
          name="is_supplementary_budget_locked"
          formControlName="is_supplementary_budget_locked"
        ></p-inputSwitch>
        <label for="is_supplementary_budget_locked"
          >Is Supplementary Budget Locked
        </label>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_current_budget_approved"
          name="is_current_budget_approved"
          formControlName="is_current_budget_approved"
        ></p-inputSwitch>
        <label for="is_current_budget_approved"
          >Is Current Budget Approved
        </label>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_carryover_budget_approved"
          name="is_carryover_budget_approved"
          formControlName="is_carryover_budget_approved"
        ></p-inputSwitch>
        <label for="is_carryover_budget_approved"
          >Is Carryover Budget Approved
        </label>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_supplementary_budget_approved"
          name="is_supplementary_budget_approved"
          formControlName="is_supplementary_budget_approved"
        ></p-inputSwitch>
        <label for="is_supplementary_budget_approved"
          >Is Supplementary Budget Approved
        </label>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="parent_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            optionValue="id"
            optionLabel="name"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="parents!"
            formControlName="parent_id"
          ></p-dropdown>
          <label for="parent_id">Parent </label>
        </span>
        <span
          *ngIf="
            editForm.get('parent_id')!.invalid &&
            (editForm.get('parent_id')!.dirty ||
              editForm.get('parent_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('parent_id')?.errors?.required"
            >Parent is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="admin_hierarchy_position"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            optionValue="position"
            optionLabel="name"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="adminHierarchyPositions!"
            formControlName="admin_hierarchy_position"
          ></p-dropdown>
          <label for="admin_hierarchy_position"
            >Admin Hierarchy Position
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('admin_hierarchy_position')!.invalid &&
            (editForm.get('admin_hierarchy_position')!.dirty ||
              editForm.get('admin_hierarchy_position')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('admin_hierarchy_position')?.errors?.required"
            >Admin Hierarchy Position is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="current_budget_decision_level_id"
            [autoDisplayFirst]="false"
            [filter]="true"
            optionValue="id"
            optionLabel="name"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="currentBudgetDecisionLevels!"
            formControlName="current_budget_decision_level_id"
          ></p-dropdown>
          <label for="current_budget_decision_level_id"
            >Current Budget Decision Level
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('current_budget_decision_level_id')!.invalid &&
            (editForm.get('current_budget_decision_level_id')!.dirty ||
              editForm.get('current_budget_decision_level_id')!.touched ||
              formError)
          "
        >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="carryover_budget_decision_level_id"
            [autoDisplayFirst]="false"
            [filter]="true"
            optionValue="id"
            optionLabel="name"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="carryoverBudgetDecisionLevels!"
            formControlName="carryover_budget_decision_level_id"
          ></p-dropdown>
          <label for="carryover_budget_decision_level_id"
            >Carryover Budget Decision Level
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('carryover_budget_decision_level_id')!.invalid &&
            (editForm.get('carryover_budget_decision_level_id')!.dirty ||
              editForm.get('carryover_budget_decision_level_id')!.touched ||
              formError)
          "
        >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="supplementary_budget_decision_level_id"
            [autoDisplayFirst]="false"
            [filter]="true"
            optionValue="id"
            optionLabel="name"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="supplementaryBudgetDecisionLevels!"
            formControlName="supplementary_budget_decision_level_id"
          ></p-dropdown>
          <label for="supplementary_budget_decision_level_id"
            >Supplementary Budget Decision Level
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('supplementary_budget_decision_level_id')!.invalid &&
            (editForm.get('supplementary_budget_decision_level_id')!.dirty ||
              editForm.get('supplementary_budget_decision_level_id')!.touched ||
              formError)
          "
        >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
