<div class="content" fxLayout="column" fxLayoutGap="0.75rem">
  <!-- Filter Panel -->
  <p-card class="filter filter-no-adv">
    <ng-template pTemplate="header">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <button
          icon="pi pi-arrow-left"
          pButton
          (click)="back()"
          class="
            p-button-rounded
            p-button-plain
            p-button-text
            p-button-outline
            p-button-icon-only
          "
        ></button>
        <p-divider fxFlex class="title" align="center">
          <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <span fxLayout="column" fxLayoutAlign="centre center">
              <small>Budget Type</small>
              <strong>{{ budget_type }}</strong>
            </span>
            <i *ngIf="budgetIsLocked" class="pi pi-lock" style="color: red"></i>
            <i
              *ngIf="!budgetIsLocked"
              class="pi pi-lock-open pi-primary"
              style="color: green"
            ></i>
          </span>
        </p-divider>
        <p-divider fxFlex class="title" align="center">
          <span fxLayout="column" fxLayoutAlign="centre center">
            <small>Financial year</small>
            <strong>2021/22</strong>
          </span>
        </p-divider>
        <p-divider fxFlex class="title" align="center">
          <span fxLayout="column" fxLayoutAlign="centre center">
            <small>Admin Area</small>
            <strong>{{
              adminHierarchyCostCentre?.admin_hierarchy?.name
            }}</strong>
          </span>
        </p-divider>
        <p-divider fxFlex class="title" align="center">
          <span fxLayout="column" fxLayoutAlign="centre center">
            <small>Cost centre</small>
            <strong>{{ adminHierarchyCostCentre?.section?.name }}</strong>
          </span>
        </p-divider>
        <p-divider fxFlex class="title" align="center">
          <span
            fxLayout="column"
            fxLayoutAlign="centre center"
            [ngSwitch]="budget_type"
          >
            <small>Decision Level</small>
            <p-tag severity="primary" *ngSwitchCase="'CURRENT' || 'APPROVED'">{{
              adminHierarchyCostCentre?.current_budget_decision_level?.name
            }}</p-tag>
            <strong *ngSwitchCase="'CARRYOVER'">{{
              adminHierarchyCostCentre?.carryover_budget_decision_level?.name
            }}</strong>
            <strong *ngSwitchCase="'SUPPLEMENTARY'">{{
              adminHierarchyCostCentre?.supplementary_budget_decision_level
                ?.name
            }}</strong>
          </span>
        </p-divider>
        <button
          *ngIf="!budgetIsLocked"
          icon="pi pi-arrow-right"
          pButton
          [routerLink]="[
            '/activity-input',
            budget_type!,
            adminHierarchyCostCentre?.id
          ]"
          class="
            p-button-rounded p-button-text p-button-outline p-button-icon-only
          "
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="loader-area">
        <app-loader
          [isLoading]="facilityIsLoading || targetIsLoading"
        ></app-loader>
        <div fxLayout="column" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutGap="0px">
            <div
              fxLayout="row"
              fxLayoutGap="10px"
              fxFlex="0 0 100%"
              fxLayoutAlign="start center"
            >
              <!-- Target -->
              <div class="p-field" fxFlex="0 0 75%">
                <span class="p-float-label">
                  <p-dropdown
                    id="financial_year_target_id"
                    optionLabel="description"
                    [autoDisplayFirst]="false"
                    [filter]="true"
                    class="p-inputtext-sm"
                    [options]="targets!"
                    (onChange)="filterChanged()"
                    [(ngModel)]="financialYearTarget"
                  ></p-dropdown>
                  <label for="financial_year_target_id">Target </label>
                </span>
              </div>

              <div class="p-field" fxFlex="0 1 25%">
                <span class="p-float-label">
                  <p-dropdown
                    id="facility_id"
                    optionLabel="name"
                    optionValue="id"
                    optionGroupLabel="name"
                    optionGroupChildren="values"
                    [group]="true"
                    [filter]="true"
                    [showClear]="false"
                    [autoDisplayFirst]="false"
                    class="p-inputtext-sm"
                    [options]="facilityGroupByType!"
                    (onChange)="filterChanged()"
                    [(ngModel)]="facility_id"
                  ></p-dropdown>
                  <label for="facility_id">Facility</label>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-card>

  <!-- Table Panel -->
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
    <p-card fxFlex="0 0 100%">
      <p-table
        #table
        [lazy]="true"
        [resizableColumns]="true"
        columnResizeMode="expand"
        [responsive]="true"
        [autoLayout]="true"
        [loading]="isLoading"
        [columns]="cols"
        [value]="activities!"
        (onLazyLoad)="onSortChange($event)"
        [customSort]="true"
      >
        <ng-template pTemplate="caption">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="card-header-text">Activities</span>
            <button
              *ngIf="!budgetIsLocked"
              pButton
              icon="pi pi-plus"
              class="p-button-raised"
              [disabled]="
                !financialYearTarget ||
                !financialYear ||
                !adminHierarchyCostCentre ||
                !budget_type ||
                !facility_id
              "
              (click)="createOrUpdate()"
              label="Add Activity"
            ></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr *ngIf="activities?.length">
            <th [pSortableColumn]="'code'">
              Code
              <p-sortIcon [field]="'code'"></p-sortIcon>
            </th>
            <th>Description</th>
            <th>Budget Class</th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr
            [ngClass]="{
              'has-comment': rowData.addressable_comments.length
            }"
          >
            <td>
              {{ rowData.code }}
            </td>
            <td style="white-space: normal">
              {{ rowData.description }}
            </td>
            <td>
              {{ rowData?.budget_class?.name }}
            </td>
            <td>
              <div fxLayout="row" fxLayoutAlign="end">
                <div fxLayout="row" fxLayoutGap="2px">
                  <button
                    *ngIf="rowData.addressable_comments.length"
                    (click)="addressComments(rowData)"
                    icon="pi pi-comment"
                    pButton
                    class="
                      p-icon-only p-button-text p-button-plain p-button-rounded
                    "
                  ></button>
                  <button
                    pButton
                    pTooltip="Edit"
                    tooltipPosition="bottom"
                    class="
                      p-button-text
                      p-button-plain
                      p-button-rounded
                      p-button-icon
                    "
                    icon="pi pi-pencil
                "
                    (click)="createOrUpdate(rowData)"
                  ></button>
                  <button
                    *ngIf="!budgetIsLocked"
                    pButton
                    pTooltip="Delete"
                    tooltipPosition="bottom"
                    class="
                      p-button-text
                      p-button-plain
                      p-button-rounded
                      p-button-icon
                    "
                    icon="pi pi-trash
                "
                    (click)="delete(rowData)"
                  ></button>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage"> No data found </ng-template>
      </p-table>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
        <p-paginator
          #paginator
          [alwaysShow]="activities?.length! > 0"
          [rows]="per_page"
          dropdownAppendTo="body"
          [showCurrentPageReport]="true"
          [totalRecords]="totalItems"
          [rowsPerPageOptions]="perPageOptions"
          (onPageChange)="pageChanged($event)"
        ></p-paginator>
      </div>
    </p-card>
    <!-- <p-card fxFlex="230px"> </p-card> -->
  </div>
</div>

<p-confirmDialog
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  header="Confirmation Delete Activity"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
