<button
  type="text"
  pButton
  pRipple
  iconPos="left"
  class="p-button-outlined p-button-plain p-button-primary"
  (click)="op.toggle($event)"
>
  <i class="pi pi-table"></i>&nbsp; Options
</button>
<p-overlayPanel
  #op
  [dismissable]="false"
  [showCloseIcon]="true"
  appendTo="body"
  (onShow)="loadCategoryCategoryOptions()"
  (onHide)="onHide()"
  [focusOnShow]="false"
>
  <ng-template pTemplate>
    <div fxLayout="column" fxLayoutGap="10px" style="min-width: 200px">
      <p-table
        #table
        [lazy]="true"
        [resizableColumns]="true"
        [responsive]="true"
        [autoLayout]="true"
        [loading]="isLoading"
        [columns]="cols"
        [value]="categoryCategoryOptions!"
      >
        <ng-template pTemplate="caption">
          <form
            name="editForm"
            role="form"
            novalidate
            (ngSubmit)="createOrUpdate()"
            [formGroup]="editForm"
          >
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="4px">
              <div class="p-field" fxFlex>
                <span class="p-float-label">
                  <p-dropdown
                    id="category_option_id"
                    optionValue="id"
                    optionLabel="name"
                    [autoDisplayFirst]="false"
                    [filter]="true"
                    class="p-inputtext-sm"
                    appendTo="body"
                    [options]="categoryOptions!"
                    formControlName="category_option_id"
                  ></p-dropdown>
                  <label for="category_option_id">Category Option </label>
                </span>
                <span
                  *ngIf="
                    editForm.get('category_option_id')!.invalid &&
                    (editForm.get('category_option_id')!.dirty ||
                      editForm.get('category_option_id')!.touched ||
                      formError)
                  "
                >
                  <small
                    class="p-error"
                    *ngIf="editForm.get('category_option_id')?.errors?.required"
                    >Category Option is required.</small
                  >
                </span>
              </div>

              <div class="p-field p-col-12 p-md-4" fxFlex>
                <span class="p-float-label">
                  <p-inputNumber
                    id="sort_order"
                    formControlName="sort_order"
                  ></p-inputNumber>
                  <label for="sort_order">Sort Order </label>
                </span>
                <span
                  *ngIf="
                    editForm.get('sort_order')!.invalid &&
                    (editForm.get('sort_order')!.dirty ||
                      editForm.get('sort_order')!.touched ||
                      formError)
                  "
                >
                  <small
                    class="p-error"
                    *ngIf="editForm.get('sort_order')?.errors?.required"
                    >Sort Order is required.</small
                  >
                </span>
              </div>
              <button
                type="submit"
                pButton
                pRipple
                icon="pi pi-plus"
                class="p-button-raised p-icon-button"
                [disabled]="!category_id"
              ></button>
            </div>
          </form>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr *ngIf="categoryCategoryOptions?.length">
            <th [pSortableColumn]="'category_option_id'">
              Category Option
              <p-sortIcon [field]="'category_option_id'"></p-sortIcon>
            </th>
            <th
              *ngFor="let col of columns"
              [pSortableColumn]="col.sort ? col.field : null"
            >
              {{ col.header }}
              <p-sortIcon *ngIf="col.sort" [field]="col.field"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td>
              {{ rowData.category_option?.name }}
            </td>
            <td *ngFor="let col of columns">
              {{ rowData[col.field] }}
            </td>
            <td>
              <div fxLayout="row" fxLayoutAlign="end">
                <div fxLayout="row" fxLayoutGap="2px">
                  <button
                    pButton
                    pRipple
                    pTooltip="Delete"
                    tooltipPosition="bottom"
                    class="
                      p-button-text
                      p-button-plain
                      p-button-rounded
                      p-button-icon
                    "
                    icon="pi pi-trash
            "
                    (click)="deleteOption($event, rowData)"
                  ></button>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage"> No data found</ng-template>
      </p-table>
      <p-confirmPopup key="option"></p-confirmPopup>
    </div>
  </ng-template>
</p-overlayPanel>
