<div class="content" fxLayout="column" fxLayoutGap="0.75rem">
  <!-- Filter Panel -->
  <p-card class="filter filter-no-adv">
    <ng-template pTemplate="header">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <button
          icon="pi pi-arrow-left"
          pButton
          (click)="back()"
          class="
            p-button-rounded p-button-plain p-button-text p-button-icon-only
          "
        ></button>

        <p-divider fxFlex class="title" align="center">
          <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <span fxLayout="column" fxLayoutAlign="centre center">
              <small>Budget Type</small>
              <strong>{{ budget_type }}</strong>
            </span>
            <i *ngIf="budgetIsLocked" class="pi pi-lock" style="color: red"></i>
            <i
              *ngIf="!budgetIsLocked"
              class="pi pi-lock-open pi-primary"
              style="color: green"
            ></i>
          </span>
        </p-divider>
        <p-divider fxFlex class="title" align="center">
          <span fxLayout="column" fxLayoutAlign="centre center">
            <small>Financial year</small>
            <strong>2021/22</strong>
          </span>
        </p-divider>
        <p-divider fxFlex class="title" align="center">
          <span fxLayout="column" fxLayoutAlign="centre center">
            <small>Admin Area</small>
            <strong>{{
              adminHierarchyCostCentre?.admin_hierarchy?.name
            }}</strong>
          </span>
        </p-divider>

        <p-divider fxFlex class="title" align="center">
          <span fxLayout="column" fxLayoutAlign="centre center">
            <small>Cost centre</small>
            <strong>{{ adminHierarchyCostCentre?.section?.name }}</strong>
          </span>
        </p-divider>

        <p-divider fxFlex class="title" align="center">
          <span
            fxLayout="column"
            fxLayoutAlign="centre center"
            [ngSwitch]="budget_type"
          >
            <small>Decision Level</small>
            <p-tag severity="primary" *ngSwitchCase="'CURRENT' || 'APPROVED'">{{
              adminHierarchyCostCentre?.current_budget_decision_level?.name
            }}</p-tag>
            <strong *ngSwitchCase="'CARRYOVER'">{{
              adminHierarchyCostCentre?.carryover_budget_decision_level?.name
            }}</strong>
            <strong *ngSwitchCase="'SUPPLEMENTARY'">{{
              adminHierarchyCostCentre?.supplementary_budget_decision_level
                ?.name
            }}</strong>
          </span>
        </p-divider>
        <button
          (click)="forward()"
          *ngIf="!budgetIsLocked"
          icon="pi pi-arrow-right"
          pButton
          class="
            p-button-rounded
            p-button-primary
            p-button-outline
            p-button-icon-only
          "
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="loader-area">
        <app-loader
          [isLoading]="
            facilityIsLoading ||
            activityLoading ||
            budgetClassIsLoading ||
            fundSourceIsLoading
          "
        ></app-loader>
        <div fxLayout="column" fxLayoutGap="10px">
          <div fxLayout="row" fxLayoutGap="10px">
            <div
              fxLayout="row"
              fxLayoutGap="10px"
              fxFlex
              fxLayoutAlign="start center"
            >
              <!-- Facility -->
              <div class="p-field" fxFlex="0 1 25%">
                <span class="p-float-label">
                  <p-dropdown
                    #facility
                    id="facility_id"
                    optionValue="id"
                    optionLabel="name"
                    optionGroupLabel="name"
                    optionGroupChildren="values"
                    [autoDisplayFirst]="false"
                    [group]="true"
                    [filter]="true"
                    class="p-inputtext-sm"
                    [options]="facilityGroupByType!"
                    (onChange)="loadFundSource(facility.value)"
                    [(ngModel)]="facility_id"
                  ></p-dropdown>
                  <label for="facility_id">Facility </label>
                </span>
              </div>

              <!-- Fund source -->
              <div class="p-field" fxFlex="0 1 75%">
                <span class="p-float-label">
                  <p-dropdown
                    id="fund_source_id"
                    optionLabel="name"
                    optionValue="id"
                    [autoDisplayFirst]="false"
                    [filter]="true"
                    class="p-inputtext-sm"
                    [options]="fundSources!"
                    (onChange)="loadFacilityActivities()"
                    [(ngModel)]="fund_source_id"
                  >
                  </p-dropdown>
                  <label for="fund_source_id">Fund Source </label>
                </span>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
            <!-- Activity -->
            <div class="p-field" fxFlex="0 0 100%">
              <span class="p-float-label">
                <p-dropdown
                  id="activity_id"
                  optionLabel="description"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  filterBy="code,description"
                  class="p-inputtext-sm"
                  [options]="facilityActivities!"
                  (onChange)="activityChanges()"
                  [(ngModel)]="facilityActivity"
                >
                  <ng-template pTemplate="selectedItem">
                    <span
                      >[ {{ facilityActivity.code }} ]
                      {{ facilityActivity.description }}</span
                    >
                  </ng-template>
                  <ng-template let-activity pTemplate="item">
                    <span
                      >[ {{ activity.code }} ] {{ activity.description }}</span
                    >
                  </ng-template>
                </p-dropdown>
                <label for="activity_id">Activity </label>
              </span>
            </div>
          </div>
          <div
            style="padding-top: 10px !important"
            *ngIf="facilityActivity"
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="end"
          >
            <p-fieldset
              class="total-fieldset ceiling-total"
              fxFlex="0 1 20%"
              legend="Ceiling Total"
            >
              <strong>{{ budgetStatus?.ceilingAmount | currency: " " }}</strong>
            </p-fieldset>
            <p-fieldset
              class="total-fieldset used-total"
              fxFlex="0 1 20%"
              legend="Used Total"
            >
              <strong>{{ budgetStatus?.usedAmount | currency: " " }}</strong>
            </p-fieldset>
            <p-fieldset
              class="total-fieldset"
              [ngClass]="{
                'balance-warn': budgetStatus?.balanceAmount! < 1000,
                'balance-success': budgetStatus?.balanceAmount! > 0
              }"
              fxFlex="0 1 20%"
              legend="Balance Total"
            >
              <strong>{{ budgetStatus?.balanceAmount | currency: " " }}</strong>
            </p-fieldset>
          </div>
        </div>
      </div>
    </ng-template>
  </p-card>
  <!-- Table Panel -->
  <p-card>
    <p-table
      #table
      [lazy]="true"
      [resizableColumns]="true"
      [responsive]="true"
      [autoLayout]="true"
      [loading]="isLoading"
      [value]="activityInputs!"
      (onLazyLoad)="onSortChange($event)"
      [customSort]="true"
    >
      <ng-template pTemplate="caption">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="card-header-text">Activity Inputs</span>
          <div
            fxLayout="row"
            fxFlex
            fxLayoutGap="10px"
            fxLayoutAlign="end center"
          >
            <p-fieldset
              *ngIf="facilityActivity"
              class="total-fieldset"
              fxFlex="0 1 200px"
              legend="Activity Total"
            >
              <strong>{{
                budgetStatus?.activityAmount | currency: " "
              }}</strong>
            </p-fieldset>
            <button
              *ngIf="budgetStatus?.balanceAmount! >= 0 && !budgetIsLocked"
              pButton
              icon="pi pi-plus"
              class="p-button-raised"
              [disabled]="
                !facilityActivity || !financialYear || !fund_source_id
              "
              (click)="createOrUpdate()"
              label="Add Input"
            ></button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr *ngIf="activityInputs?.length">
          <th [pSortableColumn]="'gfs_code_id'">
            Gfs Code
            <p-sortIcon [field]="'gfs_code_id'"></p-sortIcon>
          </th>
          <th>Unit</th>
          <th style="text-align: right">Unit Price</th>
          <th style="text-align: right">Quantity</th>
          <th style="text-align: right">Frequency</th>
          <th style="text-align: right">Sub Total</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr
          [ngClass]="{
            'has-comment': rowData.addressable_comments.length
          }"
        >
          <td>[ {{ rowData.gfs_code.code }} ] {{ rowData.gfs_code.name }}</td>
          <td>
            {{ rowData.unit }}
          </td>
          <td style="text-align: right">
            {{ rowData.unit_price | currency: " " }}
          </td>
          <td style="text-align: right">
            {{ rowData.quantity | currency: " " }}
          </td>
          <td style="text-align: right">
            {{ rowData.frequency | currency: " " }}
          </td>
          <td style="text-align: right">
            {{
              rowData.unit_price * rowData.quantity * rowData.frequency
                | currency: " "
            }}
          </td>
          <td>
            <div fxLayout="row" fxLayoutAlign="end">
              <div fxLayout="row" fxLayoutGap="2px">
                <button
                  *ngIf="rowData.addressable_comments.length"
                  (click)="addressComments(rowData)"
                  icon="pi pi-comment"
                  pButton
                  class="
                    p-icon-only p-button-text p-button-plain p-button-rounded
                  "
                ></button>
                <button
                  pButton
                  pTooltip="Edit"
                  tooltipPosition="bottom"
                  class="
                    p-button-text p-button-plain p-button-rounded p-button-icon
                  "
                  icon="pi pi-pencil
              "
                  (click)="createOrUpdate(rowData)"
                ></button>
                <button
                  *ngIf="!budgetIsLocked"
                  pButton
                  pTooltip="Delete"
                  tooltipPosition="bottom"
                  class="
                    p-button-text p-button-plain p-button-rounded p-button-icon
                  "
                  icon="pi pi-trash
              "
                  (click)="delete(rowData)"
                ></button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage"> No data found </ng-template>
    </p-table>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
      <p-paginator
        #paginator
        [alwaysShow]="activityInputs?.length! > 0"
        [rows]="per_page"
        dropdownAppendTo="body"
        [showCurrentPageReport]="true"
        [totalRecords]="totalItems"
        [rowsPerPageOptions]="perPageOptions"
        (onPageChange)="pageChanged($event)"
      ></p-paginator>
    </div>
  </p-card>
</div>

<p-confirmDialog
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  header="Confirmation Delete Activity Input"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<p-confirmDialog
  key="forward"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  header="Confirmation Forward Budget"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
