<script src="initiate-projection.component.ts"></script>
<div class="ui-dialog-content">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
    <span class="card-header-text"><b style="font-size:16px">Fund Source : {{this.fundSource?.name}}</b></span>
  </div>
  <br>
  <p-pickList [source]="revenueSources!" [target]="selectedRevenueSources" sourceHeader="Revenue Source" targetHeader="Selected Source" [dragdrop]="true"
              [responsive]="true" [sourceStyle]="{'max-height':'15rem'}" [targetStyle]="{'max-height':'15rem'}" filterBy="name"
              sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name">
    <ng-template let-gfs pTemplate="item">
      <div class="product-item">
        <div class="product-list-detail">
          <h5 class="p-mb-2">[{{gfs.code}}]{{gfs.name}}</h5>
        </div>
      </div>
    </ng-template>
  </p-pickList>
</div>
<div class="p-dialog-footer" style="bottom: 0">
  <p-button (click)="initiateProjection()" label="Save & Close" icon="pi pi-save"></p-button>
</div>
