<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="user_id"
            optionValue="id"
            optionLabel="username"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="users!"
            formControlName="user_id"
          >
            <ng-template let-item pTemplate="item">
                 {{item.first_name+'   '+item.last_name+ ' ' }} [  {{item.email }}]
           </ng-template>
          </p-dropdown>
          <label for="user_id">User </label>
        </span>
        <span
          *ngIf="
            editForm.get('user_id')!.invalid &&
            (editForm.get('user_id')!.dirty ||
              editForm.get('user_id')!.touched ||
              formError)
          "
        >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-multiSelect id="admin_hierarchies"
                         [options]="admin_hierarchies!"
                         [virtualScroll]="true"
                         [filter]="true"
                         optionLabel="name"
                         optionValue="id"
                         display="chip"
                         appendTo="body"
                         formControlName="admin_hierarchies"
          ></p-multiSelect>

          <label for="admin_hierarchies">Admin Hierarchy  </label>
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="cas_assessment_round_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="casAssessmentRounds!"
            formControlName="cas_assessment_round_id"
          ></p-dropdown>
          <label for="cas_assessment_round_id">Cas  Round </label>
        </span>
        <span
          *ngIf="
            editForm.get('cas_assessment_round_id')!.invalid &&
            (editForm.get('cas_assessment_round_id')!.dirty ||
              editForm.get('cas_assessment_round_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('cas_assessment_round_id')?.errors?.required"
            >Cas  Round is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="period_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="periods!"
            formControlName="period_id"
          ></p-dropdown>
          <label for="period_id">Period </label>
        </span>
        <span
          *ngIf="
            editForm.get('period_id')!.invalid &&
            (editForm.get('period_id')!.dirty ||
              editForm.get('period_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('period_id')?.errors?.required"
            >Period is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="cas_assessment_category_version_id"
            optionValue="id"
            optionLabel="cas_category_name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="casAssessmentCategoryVersions!"
            formControlName="cas_assessment_category_version_id"
          ></p-dropdown>
          <label for="cas_assessment_category_version_id"
            >Cas  Category Version
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('cas_assessment_category_version_id')!.invalid &&
            (editForm.get('cas_assessment_category_version_id')!.dirty ||
              editForm.get('cas_assessment_category_version_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="
              editForm.get('cas_assessment_category_version_id')?.errors
                ?.required
            "
            >Cas  Category Version is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="financial_year_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="financialYears!"
            formControlName="financial_year_id"
          ></p-dropdown>
          <label for="financial_year_id">Financial Year </label>
        </span>
        <span
          *ngIf="
            editForm.get('financial_year_id')!.invalid &&
            (editForm.get('financial_year_id')!.dirty ||
              editForm.get('financial_year_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('financial_year_id')?.errors?.required"
            >Financial Year is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
