<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="long_term_target_id"
            optionValue="id"
            optionLabel="description"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="longTermTargets!"
            formControlName="long_term_target_id"
          ></p-dropdown>
          <label for="long_term_target_id">Target </label>
        </span>
        <span
          *ngIf="
            editForm.get('long_term_target_id')!.invalid &&
            (editForm.get('long_term_target_id')!.dirty ||
              editForm.get('long_term_target_id')!.touched ||
              formError)
          "
        >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="performance_indicator_id"
            optionValue="id"
            optionLabel="description"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="performanceIndicators!"
            formControlName="performance_indicator_id"
          ></p-dropdown>
          <label for="performance_indicator_id">Performance Indicator </label>
        </span>
        <span
          *ngIf="
            editForm.get('performance_indicator_id')!.invalid &&
            (editForm.get('performance_indicator_id')!.dirty ||
              editForm.get('performance_indicator_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('performance_indicator_id')?.errors?.required"
            >Performance Indicator is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field p-col-12 p-md-4" fxFlex>
          <span class="p-float-label">
            <input
              id="baseline_value"
              type="text"
              pInputText
              formControlName="baseline_value"
            />
            <label for="baseline_value">Baseline Value </label>
          </span>
          <span
            *ngIf="
              editForm.get('baseline_value')!.invalid &&
              (editForm.get('baseline_value')!.dirty ||
                editForm.get('baseline_value')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('baseline_value')?.errors?.required"
              >Baseline Value is required.</small
            >
          </span>
        </div>
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <input
              id="actual_value"
              type="text"
              pInputText
              formControlName="actual_value"
            />
            <label for="actual_value">Actual Value </label>
          </span>
          <span
            *ngIf="
              editForm.get('actual_value')!.invalid &&
              (editForm.get('actual_value')!.dirty ||
                editForm.get('actual_value')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('actual_value')?.errors?.required"
              >Actual Value is required.</small
            >
          </span>
        </div>

        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
          <!-- Y0 -->
          <div class="p-field" fxFlex *ngIf="financialYears.length > 0">
            <span class="p-float-label">
              <input id="y0" type="text" pInputText formControlName="y0" />
              <label for="y0">{{ financialYears[0].name }}</label>
            </span>
            <span
              *ngIf="
                editForm.get('y0')!.invalid &&
                (editForm.get('y0')!.dirty ||
                  editForm.get('y0')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="editForm.get('y0')?.errors?.required"
                >{{ financialYears[0].name }} Value is required.</small
              >
            </span>
          </div>
          <!-- Y1 -->
          <div class="p-field" fxFlex *ngIf="financialYears.length > 1">
            <span class="p-float-label">
              <input id="y1" type="text" pInputText formControlName="y1" />
              <label for="y1">{{ financialYears[1].name }}</label>
            </span>
            <span
              *ngIf="
                editForm.get('y1')!.invalid &&
                (editForm.get('y1')!.dirty ||
                  editForm.get('y1')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="editForm.get('y1')?.errors?.required"
                >{{ financialYears[1].name }} Value is required.</small
              >
            </span>
          </div>

          <!-- Y2 -->
          <div class="p-field" fxFlex *ngIf="financialYears.length > 2">
            <span class="p-float-label">
              <input id="y2" type="text" pInputText formControlName="y2" />
              <label for="y2">{{ financialYears[2].name }}</label>
            </span>
            <span
              *ngIf="
                editForm.get('y2')!.invalid &&
                (editForm.get('y2')!.dirty ||
                  editForm.get('y2')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="editForm.get('y2')?.errors?.required"
                >{{ financialYears[2].name }} Value is required.</small
              >
            </span>
          </div>

          <!-- Y3 -->
          <div class="p-field" fxFlex *ngIf="financialYears.length > 3">
            <span class="p-float-label">
              <input id="y3" type="text" pInputText formControlName="y3" />
              <label for="y3">{{ financialYears[3].name }}</label>
            </span>
            <span
              *ngIf="
                editForm.get('y3')!.invalid &&
                (editForm.get('y3')!.dirty ||
                  editForm.get('y3')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="editForm.get('y3')?.errors?.required"
                >{{ financialYears[3].name }} Value is required.</small
              >
            </span>
          </div>

          <!-- Y4 -->
          <div class="p-field" fxFlex *ngIf="financialYears.length > 4">
            <span class="p-float-label">
              <input id="y4" type="text" pInputText formControlName="y4" />
              <label for="y4">{{ financialYears[4].name }}</label>
            </span>
            <span
              *ngIf="
                editForm.get('y4')!.invalid &&
                (editForm.get('y4')!.dirty ||
                  editForm.get('y4')!.touched ||
                  formError)
              "
            >
              <small
                class="p-error"
                *ngIf="editForm.get('y4')?.errors?.required"
                >{{ financialYears[4].name }} Value is required.</small
              >
            </span>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
