<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
    autocomplete="off"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field p-col-12 p-md-4" fxFlex>
          <span class="p-float-label">
            <input id="name" type="text" pInputText formControlName="name" />
            <label for="name">Name </label>
          </span>
          <span
            *ngIf="
              editForm.get('name')!.invalid &&
              (editForm.get('name')!.dirty ||
                editForm.get('name')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('name')?.errors?.required"
              >Name is required.</small
            >
          </span>
        </div>

        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="admin_hierarchy_id"
              optionValue="id"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              appendTo="body"
              [options]="adminHierarchies!"
              formControlName="admin_hierarchy_id"
            ></p-dropdown>
            <label for="admin_hierarchy_id">Admin Hierarchy </label>
          </span>
          <span
            *ngIf="
              editForm.get('admin_hierarchy_id')!.invalid &&
              (editForm.get('admin_hierarchy_id')!.dirty ||
                editForm.get('admin_hierarchy_id')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('admin_hierarchy_id')?.errors?.required"
              >Admin Hierarchy is required.</small
            >
          </span>
        </div>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="description"
            type="text"
            pInputText
            formControlName="description"
          />
          <label for="description">Description </label>
        </span>
        <span
          *ngIf="
            editForm.get('description')!.invalid &&
            (editForm.get('description')!.dirty ||
              editForm.get('description')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="start_financial_year_id"
              optionValue="id"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              appendTo="body"
              [options]="startFinancialYears!"
              formControlName="start_financial_year_id"
            ></p-dropdown>
            <label for="start_financial_year_id">Start Financial Year </label>
          </span>
          <span
            *ngIf="
              editForm.get('start_financial_year_id')!.invalid &&
              (editForm.get('start_financial_year_id')!.dirty ||
                editForm.get('start_financial_year_id')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('start_financial_year_id')?.errors?.required"
              >Start Financial Year is required.</small
            >
          </span>
        </div>
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="end_financial_year_id"
              optionValue="id"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              appendTo="body"
              [options]="endFinancialYears!"
              formControlName="end_financial_year_id"
            ></p-dropdown>
            <label for="end_financial_year_id">End Financial Year </label>
          </span>
          <span
            *ngIf="
              editForm.get('end_financial_year_id')!.invalid &&
              (editForm.get('end_financial_year_id')!.dirty ||
                editForm.get('end_financial_year_id')!.touched ||
                formError)
            "
          >
            <small
              class="p-error"
              *ngIf="editForm.get('end_financial_year_id')?.errors?.required"
              >End Financial Year is required.</small
            >
          </span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_active"
          name="is_active"
          formControlName="is_active"
        ></p-inputSwitch>
        <label for="is_active">Is Active </label>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <p-fileUpload
          [showUploadButton]="false"
          name="url"
          id="url"
          url=""
          [maxFileSize]="10000000"
          (onSelect)="onSelect($event)"
          accept="application/pdf"
        >
          <ng-template pTemplate="content" let-files>
            <button
              *ngIf="editForm.get('id')?.value!"
              pButton
              type="button"
              pTooltip="Edit"
              tooltipPosition="bottom"
              class="
                p-button-text p-button-plain p-button-rounded p-button-icon
              "
              icon="pi pi-download"
              (click)="downloadStrategicPlan()"
            ></button>
          </ng-template>
        </p-fileUpload>
      </div>

      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
