<div class="dialog-content">
  <app-loader
    [isLoading]="isSaving || levelIsLoading || adminIsLoading"
  ></app-loader>
  <div fxLayout="column" fxLayoutGap="20px">
    <p-fieldset legend="Target">
      <strong>{{ longTermTarget?.description }}</strong>
    </p-fieldset>

    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <input
            id="target"
            pInputText
            [(ngModel)]="currentAdminTarget.description"
          />
          <label for="target"
            >Confirm Target for year {{ currentFinancialYear?.name }}</label
          >
        </span>
      </div>
    </div>
    <p-divider fxFlex class="title" align="center">
      <small
        >Lower levels {{ section?.name }} Priorities for
        {{ currentFinancialYear?.name }}
      </small>
    </p-divider>
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div class="p-field" fxFlex="0 1 50%">
          <span class="p-float-label">
            <p-dropdown
              id="admin_hierarchy_level"
              appendTo="body"
              [(ngModel)]="selectedLevel"
              [autoDisplayFirst]="false"
              [filter]="false"
              (onChange)="loadChildrenTarget()"
              [options]="adminLevels!"
              optionLabel="name"
              class="p-inputtext-sm"
            ></p-dropdown>
            <label for="admin_hierarchy_level">Lower Level</label>
          </span>
        </div>

        <div class="p-field" fxFlex="0 1 50%">
          <span class="p-float-label">
            <p-dropdown
              id="admin_hierarchy"
              [(ngModel)]="adminAreaTargetToAdd"
              appendTo="body"
              [autoDisplayFirst]="false"
              [filter]="true"
              [options]="adminHierarchies!"
              optionLabel="admin_area_name"
              class="p-inputtext-sm"
            ></p-dropdown>
            <label for="admin_hierarchy"
              >Select {{ selectedLevel?.name }} to Add</label
            >
          </span>
        </div>

        <button
          [disabled]="!adminAreaTargetToAdd"
          fxFlex="1 0 120px"
          icon="pi pi-plus"
          pButton
          type="button"
          class="p-button-sm p-button-outlined"
          label="Add Priority"
          (click)="genericPriorityPanel.toggle($event)"
        ></button>
      </div>
      <p-table
        #dt
        [value]="childAdminHierarchyTargets!"
        dataKey="admin_area_code"
        editMode="row"
        responsiveLayout="scroll"
        styleClass="p-datatable-gridlines"
        [globalFilterFields]="['admin_area_name', 'parent']"
      >
        <ng-template pTemplate="header">
          <tr>
            <th colspan="2" style="padding: 4px; width: 150px">
              <p-columnFilter
                type="text"
                class="in-table-header"
                field="admin_area_name"
              ></p-columnFilter>
            </th>
            <th>Priorities</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-target
          let-editing="editing"
          let-ri="rowIndex"
        >
          <tr [pEditableRow]="target">
            <td style="width: 150px; padding: 0px 10px">
              {{ target?.parent }}
            </td>
            <td style="width: 150px; padding: 0px 10px">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  {{ target?.admin_area_name! }}
                </ng-template>
                <ng-template pTemplate="output">
                  {{ target?.admin_area_name! }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    id="{{ target.code }}"
                    type="text"
                    pInputText
                    [(ngModel)]="target.description"
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ target.description! }}
                </ng-template>
              </p-cellEditor>
            </td>

            <td style="text-align: center">
              <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="end">
                <button
                  *ngIf="!editing"
                  pButton
                  pRipple
                  type="button"
                  pInitEditableRow
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-text p-button-plain"
                ></button>
                <button
                  *ngIf="editing"
                  pButton
                  pRipple
                  (click)="save(target, false)"
                  type="button"
                  pSaveEditableRow
                  icon="pi pi-check"
                  class="p-button-rounded p-button-text p-button-success p-mr-2"
                ></button>
                <button
                  *ngIf="editing"
                  pButton
                  pRipple
                  type="button"
                  pCancelEditableRow
                  icon="pi pi-times"
                  class="p-button-rounded p-button-text p-button-danger"
                ></button>
                <button
                  *ngIf="!editing"
                  pButton
                  (click)="delete($event, target.id)"
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-text p-button-danger"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
      <button
        [disabled]="currentAdminTarget?.description?.length === 0"
        class="p-button-raised"
        icon="pi pi-check"
        label="Save"
        (click)="save(currentAdminTarget!, true)"
        pButton
        type="button"
      ></button>
    </div>
  </div>
</div>

<p-overlayPanel
  #genericPriorityPanel
  [dismissable]="false"
  [showCloseIcon]="true"
  appendTo="body"
>
  <ng-template pTemplate>
    <div style="width: 840px" fxLayout="column" fxLayoutGap="20px">
      <!-- Generic Target -->
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="genetic_priority"
            optionLabel="description"
            [autoDisplayFirst]="false"
            (onChange)="prepareParams()"
            [filter]="true"
            dataKey="id"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="genericPriorities!"
            [(ngModel)]="genericPriority"
          ></p-dropdown>
          <label for="genetic_priority">Generic Priority</label>
        </span>
        <span *ngIf="paramsError && !genericPriority">
          <small class="p-error">Generic priority is required.</small>
        </span>
      </div>

      <!-- Params -->
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="p-field" fxFlex *ngFor="let p of params">
          <span class="p-float-label">
            <input
              id="{{ p }}"
              type="text"
              pInputText
              [(ngModel)]="paramValues[p]"
            />
            <label for="{{ p }}">{{ p }} </label>
          </span>
          <span *ngIf="paramsError && !paramValues[p]">
            <small class="p-error">{{ p }} value is required.</small>
          </span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Apply"
          (click)="createFromGeneric()"
          pButton
          pRipple
          type="button"
        ></button>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>

<p-confirmPopup key="deletePriority"></p-confirmPopup>
