<div class="dialog-content">
  <div fxLayout="column" fxLayoutGap="20px">
    <p-fieldset legend="Long Term Target">
      {{ longTermTarget?.description }}
    </p-fieldset>

    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <input
            id="target"
            pInputText
            [(ngModel)]="currentAdminTarget.description"
          />
          <label for="target">Financial year target </label>
        </span>
      </div>
      <button
        class="p-button-raised"
        icon="pi pi-check"
        label="Save"
        (click)="save(currentAdminTarget!)"
        pButton
        type="button"
      ></button>
    </div>

    <div fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="start">
      <p-table
        #dt
        [value]="childAdminHierarchyTargets!"
        dataKey="admin_area_code"
        editMode="row"
        responsiveLayout="scroll"
        styleClass="p-datatable-gridlines"
        [globalFilterFields]="['admin_area_name']"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 14rem; padding: 0px; border: none">
              <div class="p-field in-table-header">
                <span class="p-float-label">
                  <p-dropdown
                    id="admin_hierarchy_level"
                    appendTo="body"
                    [autoDisplayFirst]="false"
                    [filter]="false"
                    (onChange)="loadChildrenTarget($event.value)"
                    [options]="adminLevels!"
                    optionLabel="name"
                    optionValue="position"
                    class="p-inputtext-sm"
                  ></p-dropdown>
                  <label for="admin_hierarchy_level">Lower level</label>
                </span>
              </div>
            </th>
            <th>Target/Priority</th>
            <th style="width: 8rem"></th>
          </tr>
          <tr>
            <th style="padding: 0px">
              <p-columnFilter
                type="text"
                class="in-table-header"
                field="admin_area_name"
              ></p-columnFilter>
            </th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-target
          let-editing="editing"
          let-ri="rowIndex"
        >
          <tr [pEditableRow]="target">
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  {{ target?.admin_area_name! }}
                </ng-template>
                <ng-template pTemplate="output">
                  {{ target?.admin_area_name! }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    id="{{ target.code }}"
                    type="text"
                    pInputText
                    [(ngModel)]="target.description"
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ target.description! }}
                </ng-template>
              </p-cellEditor>
            </td>

            <td style="text-align: center">
              <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="end">
                <button
                  *ngIf="!editing"
                  pButton
                  pRipple
                  type="button"
                  pInitEditableRow
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-text p-button-plain"
                ></button>
                <button
                  *ngIf="editing"
                  pButton
                  pRipple
                  (click)="save(target)"
                  type="button"
                  pSaveEditableRow
                  icon="pi pi-check"
                  class="p-button-rounded p-button-text p-button-success p-mr-2"
                ></button>
                <button
                  *ngIf="editing"
                  pButton
                  pRipple
                  type="button"
                  pCancelEditableRow
                  icon="pi pi-times"
                  class="p-button-rounded p-button-text p-button-danger"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
