<div class="content" fxLayout="column" fxLayoutGap="0.75rem">
  <!-- Filter Panel -->
  <p-card class="filter">
    <ng-template pTemplate="header">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <i class="pi pi-filter"></i>
        <span class="card-header-text">Filter</span>
      </div>
    </ng-template>
    <div fxLayout="column" fxLayoutGap="4px">
      <div fxLayout="row wrap" fxLayoutGap="10px">
        <div
          fxLayout="row wrap"
          fxLayoutGap="0.75rem"
          fxFlex
          fxLayoutAlign="start center"
        >
          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="financial_year_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="true"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="financialYears!"
                (onChange)="filterChanged()"
                [(ngModel)]="financial_year_id"
              ></p-dropdown>
              <label for="financial_year_id">Financial Year </label>
            </span>
          </div>

          <div class="p-field" fxFlex>
            <span class="p-float-label">
              <p-dropdown
                id="cas_assessment_round_id"
                optionValue="id"
                optionLabel="name"
                [autoDisplayFirst]="true"
                [filter]="true"
                class="p-inputtext-sm"
                [options]="casAssessmentRounds!"
                (onChange)="filterChanged()"
                [(ngModel)]="casAssessmentRounds"
              ></p-dropdown>
              <label for="cas_assessment_round_id"> </label>
            </span>
          </div>
        </div>
        <div
          fxLayout="row wrap"
          fxFlex="140px"
          fxLayoutGap="4px"
          fxLayoutAlign="end center"
        >
          <button
            pButton
            type="button"
            [pTooltip]="
              advFilter.selected
                ? 'Hide Advanced Search'
                : 'Show Advanced Search'
            "
            tooltipPosition="bottom"
            [icon]="
              advFilter.selected
                ? 'pi pi-angle-double-up'
                : 'pi pi-angle-double-down'
            "
            class="p-button-rounded p-button-text p-button-plain"
            (click)="advFilter.selected = !advFilter.selected"
          ></button>
          <button
            pButton
            class="p-button-primary p-button-raised"
            icon="pi pi-search"
            label="Search"
            (click)="onSearch()"
          ></button>
        </div>
      </div>
      <p-accordion>
        <p-accordionTab
          class="p-shadow-0"
          #advFilter
          [selected]="advFilter.selected"
          [transitionOptions]="'280ms cubic-bezier(0.4, 0, 0.2, 1)'"
        >
          <div fxLayout="row wrap" fxLayoutGap="10px">
            <div
              fxLayout="row wrap"
              fxLayoutGap="0.75rem"
              fxFlex
              fxLayoutAlign="start center"
            ></div>
            <div
              fxLayout="row"
              fxLayoutGap="4px"
              fxFlex="140px"
              fxLayoutAlign="end"
            >
              <button
                pButton
                pTooltip="Clear Advanced Search"
                tooltipPosition="bottom"
                class="p-button-text p-button-plain"
                icon="pi pi-times"
                label="Clear"
                (click)="clearSearch()"
              ></button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
      <div class="row" fxLayoutAlign="end">
        <button pButton type="button" class="p-button-outlined" label="Finish and Quit"
                style="margin-left: 16px" icon="pi pi-power-off" (click)="finishAndQuit()"
        ></button>
      </div>
    </div>
  </p-card>

  <!-- Table Panel -->
  <p-accordion>
    <p-accordionTab   *ngFor="let adm of adminHierarchies!; let i = index"  >
      <ng-template pTemplate="header" >
        <div>{{i + 1+'.'}}   {{adm.name }}</div>
      </ng-template>
      <ng-template pTemplate="content">

      </ng-template>
    </p-accordionTab>
  </p-accordion>
</div>

<p-confirmDialog
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  header="Confirmation Delete My Assessment"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
