<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber id="number" formControlName="number"></p-inputNumber>
          <label for="number">Number </label>
        </span>
        <span
          *ngIf="
            editForm.get('number')!.invalid &&
            (editForm.get('number')!.dirty ||
              editForm.get('number')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="before_start_reminder_sms"
            formControlName="before_start_reminder_sms"
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="before_start_reminder_sms"
            >Before Start Reminder Sms
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('before_start_reminder_sms')!.invalid &&
            (editForm.get('before_start_reminder_sms')!.dirty ||
              editForm.get('before_start_reminder_sms')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="before_end_reminder_sms"
            formControlName="before_end_reminder_sms"
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="before_end_reminder_sms">Before End Reminder Sms </label>
        </span>
        <span
          *ngIf="
            editForm.get('before_end_reminder_sms')!.invalid &&
            (editForm.get('before_end_reminder_sms')!.dirty ||
              editForm.get('before_end_reminder_sms')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="before_start_reminder_days"
            formControlName="before_start_reminder_days"
          ></p-inputNumber>
          <label for="before_start_reminder_days"
            >Before Start Reminder Days
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('before_start_reminder_days')!.invalid &&
            (editForm.get('before_start_reminder_days')!.dirty ||
              editForm.get('before_start_reminder_days')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="before_end_reminder_days"
            formControlName="before_end_reminder_days"
          ></p-inputNumber>
          <label for="before_end_reminder_days"
            >Before End Reminder Days
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('before_end_reminder_days')!.invalid &&
            (editForm.get('before_end_reminder_days')!.dirty ||
              editForm.get('before_end_reminder_days')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="url"
            formControlName="url"
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="url">Url </label>
        </span>
        <span
          *ngIf="
            editForm.get('url')!.invalid &&
            (editForm.get('url')!.dirty ||
              editForm.get('url')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="expected_value_query"
            formControlName="expected_value_query"
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="expected_value_query">Expected Value Query </label>
        </span>
        <span
          *ngIf="
            editForm.get('expected_value_query')!.invalid &&
            (editForm.get('expected_value_query')!.dirty ||
              editForm.get('expected_value_query')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="actual_value_query"
            formControlName="actual_value_query"
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="actual_value_query">Actual Value Query </label>
        </span>
        <span
          *ngIf="
            editForm.get('actual_value_query')!.invalid &&
            (editForm.get('actual_value_query')!.dirty ||
              editForm.get('actual_value_query')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_system_event"
          name="is_system_event"
          formControlName="is_system_event"
        ></p-inputSwitch>
        <label for="is_system_event">Is System Event </label>
      </div>

      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
