<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="objective_type_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            (onChange)="objectiveTypeChanged()"
            [options]="objectiveTypes!"
            formControlName="objective_type_id"
          ></p-dropdown>
          <label for="objective_type_id">Objective Type </label>
        </span>
        <span
          *ngIf="
            editForm.get('objective_type_id')!.invalid &&
            (editForm.get('objective_type_id')!.dirty ||
              editForm.get('objective_type_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('objective_type_id')?.errors?.required"
            >Objective Type is required.</small
          >
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="description"
            type="text"
            pInputText
            formControlName="description"
          />
          <label for="description">Description </label>
        </span>
        <span
          *ngIf="
            editForm.get('description')!.invalid &&
            (editForm.get('description')!.dirty ||
              editForm.get('description')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('description')?.errors?.required"
            >Description is required.</small
          >
        </span>
      </div>

      <div
        *ngIf="selectedObjectiveType && selectedObjectiveType.is_sectoral"
        class="p-field"
        fxFlex
      >
        <span class="p-float-label">
          <p-multiSelect
            id="sectors"
            optionLabel="name"
            dataKey="id"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="sectors!"
            formControlName="sectors"
          ></p-multiSelect>
          <label for="sectors">Sector </label>
        </span>
        <span
          *ngIf="
            editForm.get('sectors')!.invalid &&
            (editForm.get('sectors')!.dirty ||
              editForm.get('sectors')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('sectors')?.errors?.required"
            >Sectors is required.</small
          >
        </span>
      </div>

      <div
        *ngIf="selectedObjectiveType && !selectedObjectiveType.is_incremental"
        class="p-field p-col-12 p-md-4"
        fxFlex
      >
        <span class="p-float-label">
          <input id="code" type="text" pInputText formControlName="code" />
          <label for="code">Code </label>
        </span>
        <span
          *ngIf="
            editForm.get('code')!.invalid &&
            (editForm.get('code')!.dirty ||
              editForm.get('code')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('code')?.errors?.required"
            >Code is required.</small
          >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="parent_id"
            optionValue="id"
            optionLabel="description"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="parents!"
            formControlName="parent_id"
          ></p-dropdown>
          <label for="parent_id">Parent </label>
        </span>
        <span
          *ngIf="
            editForm.get('parent_id')!.invalid &&
            (editForm.get('parent_id')!.dirty ||
              editForm.get('parent_id')!.touched ||
              formError)
          "
        >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
