<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-multiSelect [options]="permissions!" id="permissions" class="p-inputtext-sm" optionValue="id" optionLabel="description"
                         [filter]="true" appendTo="body" formControlName="permissions" display="chip"></p-multiSelect>
          <label for="permissions">Permission</label>
        </span>
        <span
          *ngIf="
            editForm.get('permissions')!.invalid &&
            (editForm.get('permissions')!.dirty ||
              editForm.get('permissions')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('permissions')?.errors?.required"
          >Permission is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          [disabled]="editForm.invalid"
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
