<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
          >Name is required.</small
          >
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="code" type="text" pInputText formControlName="code" />
          <label for="code">Code </label>
        </span>
        <span
          *ngIf="
            editForm.get('code')!.invalid &&
            (editForm.get('code')!.dirty ||
              editForm.get('code')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('code')?.errors?.required">Code is required.</small><br />
          <small class="p-error" *ngIf="editForm.get('code')?.errors?.minlength">Code Length should be at least 8 characters</small><br />
          <small class="p-error" *ngIf="editForm.get('code')?.errors?.maxlength">Code Length should have a maximum of 8 characters</small>
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="facility_type_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="facilityTypes!"
            formControlName="facility_type_id"
          ></p-dropdown>
          <label for="facility_type_id">Facility Type </label>
        </span>
        <span
          *ngIf="
            editForm.get('facility_type_id')!.invalid &&
            (editForm.get('facility_type_id')!.dirty ||
              editForm.get('facility_type_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('facility_type_id')?.errors?.required"
            >Facility Type is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="ownership"
            optionValue="value"
            optionLabel="display"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="ownerships!"
            formControlName="ownership"
          ></p-dropdown>
          <label for="ownership">Ownership </label>
        </span>
        <span
          *ngIf="
            editForm.get('ownership')!.invalid &&
            (editForm.get('ownership')!.dirty ||
              editForm.get('ownership')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('ownership')?.errors?.required"
            >Ownership is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="budget_start_financial_year_id"
              optionValue="id"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              [options]="financialYears!"
              formControlName="budget_start_financial_year_id"
            ></p-dropdown>
            <label for="budget_start_financial_year_id">Budget Start Financial Year</label>
          </span>
      </div>
      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_active"
          name="is_active"
          formControlName="active"
        ></p-inputSwitch>
        <label for="is_active">Active</label>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
