<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="select_level_id"
            optionValue="position"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            (ngModelChange)="loadSections()"
            [options]="sectionLevels!"
            [formControl]="sectionLevelControl"
          ></p-dropdown>
          <label for="select_level_id">Level</label>
        </span>
      </div>
      <div class="p-field" *ngIf="sectionLevelControl.value" fxFlex>
        <span class="p-float-label">
          <p-multiSelect [options]="sections!" id="sections" class="p-inputtext-sm" optionValue="id" optionLabel="name"
                         [filter]="true" appendTo="body" formControlName="sections" display="chip"></p-multiSelect>
          <label for="sections">Planning Unit </label>
        </span>
        <span
          *ngIf="
            editForm.get('sections')!.invalid &&
            (editForm.get('sections')!.dirty ||
              editForm.get('sections')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('sections')?.errors?.required"
          >Section is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          [disabled]="editForm.invalid"
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
