<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div
        class="p-field"
        fxFlex
        *ngIf="admin_hierarchy_position !== undefined"
      >
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="roles"
              optionValue="id"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              appendTo="body"
              [options]="roles!"
              formControlName="roles"
            ></p-dropdown>
            <label for="roles">Roles</label>
          </span>
          <span
            *ngIf="
              editForm.get('roles')!.invalid &&
              (editForm.get('roles')!.dirty ||
                editForm.get('roles')!.touched ||
                formError)
            "
          >
          </span>
        </div>
        <span
          *ngIf="
            editForm.get('roles')!.invalid &&
            (editForm.get('roles')!.dirty ||
              editForm.get('roles')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('roles')?.errors?.required"
            >Role is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          [disabled]="editForm.invalid"
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
