<div class="dialog-content">
  <app-loader [isLoading]="isOpening || isCheking"></app-loader>
  <div fxLayout="column" fxLayoutGap="20px">
    <p-splitter [panelSizes]="[50, 50]">
      <ng-template pTemplate>
        <div fxFlex style="padding: 8px" fxLayout="column" fxLayoutGap="10px">
          <span>Confirm Admin Level and Cost Centres To be Initialized</span>
          <p-tree fxFlex [value]="nodes!" [filter]="true"></p-tree>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div style="padding: 8px" fxLayout="column" fxLayoutGap="10px">
          <span>Configuration to be fixed before Initilization</span>
          <p-message
            *ngFor="let m of preRequisite?.messages"
            fxFlex
            severity="error"
            [text]="m"
          ></p-message>
        </div>
      </ng-template>
    </p-splitter>
    <div fxLayout="row" fxLayoutGap="0.75rem">
      <span fxFlex></span>
      <button
        class="p-button-raised"
        icon="pi pi-check"
        *ngIf="!preRequisite?.failed"
        label="Open"
        pButton
        pRipple
        (click)="open()"
        type="button"
      ></button>
    </div>
  </div>
</div>
