<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="description"
            formControlName="description"
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="description">Description </label>
        </span>
        <span
          *ngIf="
            editForm.get('description')!.invalid &&
            (editForm.get('description')!.dirty ||
              editForm.get('description')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-calendar
            dataType="string"
            appendTo="body"
            id="start_date"
            formControlName="start_date"
          ></p-calendar>
          <label for="start_date">Start Date </label>
        </span>
        <span
          *ngIf="
            editForm.get('start_date')!.invalid &&
            (editForm.get('start_date')!.dirty ||
              editForm.get('start_date')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-calendar
            dataType="string"
            appendTo="body"
            id="end_date"
            formControlName="end_date"
          ></p-calendar>
          <label for="end_date">End Date </label>
        </span>
        <span
          *ngIf="
            editForm.get('end_date')!.invalid &&
            (editForm.get('end_date')!.dirty ||
              editForm.get('end_date')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="hierarchy_position"
            formControlName="hierarchy_position"
          ></p-inputNumber>
          <label for="hierarchy_position">Hierarchy Position </label>
        </span>
        <span
          *ngIf="
            editForm.get('hierarchy_position')!.invalid &&
            (editForm.get('hierarchy_position')!.dirty ||
              editForm.get('hierarchy_position')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="before_start_reminder_sms"
            formControlName="before_start_reminder_sms"
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="before_start_reminder_sms"
            >Before Start Reminder Sms
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('before_start_reminder_sms')!.invalid &&
            (editForm.get('before_start_reminder_sms')!.dirty ||
              editForm.get('before_start_reminder_sms')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <textarea
            id="before_end_reminder_sms"
            formControlName="before_end_reminder_sms"
            [rows]="5"
            [cols]="30"
            pInputTextarea
            [autoResize]="true"
          ></textarea>
          <label for="before_end_reminder_sms">Before End Reminder Sms </label>
        </span>
        <span
          *ngIf="
            editForm.get('before_end_reminder_sms')!.invalid &&
            (editForm.get('before_end_reminder_sms')!.dirty ||
              editForm.get('before_end_reminder_sms')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="before_start_reminder_days"
            formControlName="before_start_reminder_days"
          ></p-inputNumber>
          <label for="before_start_reminder_days"
            >Before Start Reminder Days
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('before_start_reminder_days')!.invalid &&
            (editForm.get('before_start_reminder_days')!.dirty ||
              editForm.get('before_start_reminder_days')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="before_end_reminder_days"
            formControlName="before_end_reminder_days"
          ></p-inputNumber>
          <label for="before_end_reminder_days"
            >Before End Reminder Days
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('before_end_reminder_days')!.invalid &&
            (editForm.get('before_end_reminder_days')!.dirty ||
              editForm.get('before_end_reminder_days')!.touched ||
              formError)
          "
        >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="financial_year_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="financialYears!"
            formControlName="financial_year_id"
          ></p-dropdown>
          <label for="financial_year_id">Financial Year </label>
        </span>
        <span
          *ngIf="
            editForm.get('financial_year_id')!.invalid &&
            (editForm.get('financial_year_id')!.dirty ||
              editForm.get('financial_year_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('financial_year_id')?.errors?.required"
            >Financial Year is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="cas_assessment_round_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="casAssessmentRounds!"
            formControlName="cas_assessment_round_id"
          ></p-dropdown>
          <label for="cas_assessment_round_id">Cas Assessment Round </label>
        </span>
        <span
          *ngIf="
            editForm.get('cas_assessment_round_id')!.invalid &&
            (editForm.get('cas_assessment_round_id')!.dirty ||
              editForm.get('cas_assessment_round_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('cas_assessment_round_id')?.errors?.required"
            >Cas Assessment Round is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="section_level_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="sectionLevels!"
            formControlName="section_level_id"
          ></p-dropdown>
          <label for="section_level_id">Section Level </label>
        </span>
        <span
          *ngIf="
            editForm.get('section_level_id')!.invalid &&
            (editForm.get('section_level_id')!.dirty ||
              editForm.get('section_level_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('section_level_id')?.errors?.required"
            >Section Level is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="sector_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="sectors!"
            formControlName="sector_id"
          ></p-dropdown>
          <label for="sector_id">Sector </label>
        </span>
        <span
          *ngIf="
            editForm.get('sector_id')!.invalid &&
            (editForm.get('sector_id')!.dirty ||
              editForm.get('sector_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('sector_id')?.errors?.required"
            >Sector is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="calendar_event_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="calendarEvents!"
            formControlName="calendar_event_id"
          ></p-dropdown>
          <label for="calendar_event_id">Calendar Event </label>
        </span>
        <span
          *ngIf="
            editForm.get('calendar_event_id')!.invalid &&
            (editForm.get('calendar_event_id')!.dirty ||
              editForm.get('calendar_event_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('calendar_event_id')?.errors?.required"
            >Calendar Event is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
