.mat-list-item {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
  // font-family: "Google Sans", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;

  font-size: 14px !important;
  font-weight: 400;
  color: #fcfcfc;

  .mat-list-item.active {
    background-color: orange;
  }
  .mat-list-item:hover {
    color: #ff4081;
  }
  &:hover,
  &:focus {
    > .mat-list-item:not(.expanded) {
      background-color: orange !important;
    }
  }
}

.mat-list-item {
  padding: 0px 0;
  display: flex;
  width: auto;
  font-size: 14px !important;

  .routeIcon {
    margin-right: 10px;
    color: rgb(218 220 224) !important;
    font-size: 20px !important;
  }
}
