<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <p-inputNumber
            id="sort_order"
            formControlName="sort_order"
          ></p-inputNumber>
          <label for="sort_order">Sort Order </label>
        </span>
        <span
          *ngIf="
            editForm.get('sort_order')!.invalid &&
            (editForm.get('sort_order')!.dirty ||
              editForm.get('sort_order')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('sort_order')?.errors?.required"
            >Sort Order is required.</small
          >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="category_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="categories!"
            formControlName="category_id"
          ></p-dropdown>
          <label for="category_id">Category </label>
        </span>
        <span
          *ngIf="
            editForm.get('category_id')!.invalid &&
            (editForm.get('category_id')!.dirty ||
              editForm.get('category_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('category_id')?.errors?.required"
            >Category is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown [showClear]="true"
            id="category_option_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="categoryOptions!"
            formControlName="category_option_id"
          ></p-dropdown>
          <label for="category_option_id">Category Option </label>
        </span>
        <span
          *ngIf="
            editForm.get('category_option_id')!.invalid &&
            (editForm.get('category_option_id')!.dirty ||
              editForm.get('category_option_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('category_option_id')?.errors?.required"
            >Category Option is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
