<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="code" type="text" pInputText formControlName="code" />
          <label for="code">Code </label>
        </span>
        <span
          *ngIf="
            editForm.get('code')!.invalid &&
            (editForm.get('code')!.dirty ||
              editForm.get('code')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('code')?.errors?.required"
            >Code is required.</small
          >
        </span>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_conditional"
          name="is_conditional"
          formControlName="is_conditional"
        ></p-inputSwitch>
        <label for="is_conditional">Conditional </label>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_foreign"
          name="is_foreign"
          formControlName="is_foreign"
        ></p-inputSwitch>
        <label for="is_foreign">Foreign </label>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="is_treasurer"
          name="is_treasurer"
          formControlName="is_treasurer"
        ></p-inputSwitch>
        <label for="is_treasurer">Treasurer </label>
      </div>

      <div fxLayout="row" fxLayoutGap="2px">
        <p-inputSwitch
          id="can_project"
          name="can_project"
          formControlName="can_project"
        ></p-inputSwitch>
        <label for="can_project">Can Project </label>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="gfs_code_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="gfsCodes!"
            formControlName="gfs_code_id"
          >
            <ng-template let-item pTemplate="item">
              [{{ item.code }}] {{ item.name }}
            </ng-template>
            <ng-template let-item pTemplate="selectedItem">
              [{{ item.code }}] {{ item.name }}
            </ng-template>
          </p-dropdown>
          <label for="gfs_code_id">GFS Code </label>
        </span>
        <span
          *ngIf="
            editForm.get('gfs_code_id')!.invalid &&
            (editForm.get('gfs_code_id')!.dirty ||
              editForm.get('gfs_code_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('gfs_code_id')?.errors?.required"
            >GFS Code is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="fund_source_category_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="fundSourceCategories!"
            formControlName="fund_source_category_id"
          ></p-dropdown>
          <label for="fund_source_category_id">Fund Source Category </label>
        </span>
        <span
          *ngIf="
            editForm.get('fund_source_category_id')!.invalid &&
            (editForm.get('fund_source_category_id')!.dirty ||
              editForm.get('fund_source_category_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('fund_source_category_id')?.errors?.required"
            >Fund Source Category is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
