<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="code" type="text" pInputText formControlName="code" />
          <label for="code">Code </label>
        </span>
        <span
          *ngIf="
            editForm.get('code')!.invalid &&
            (editForm.get('code')!.dirty ||
              editForm.get('code')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('code')?.errors?.required"
            >Code is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required.</small
          >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="admin_hierarchy_level_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="adminHierarchyLevels!"
            formControlName="admin_hierarchy_level_id"
          ></p-dropdown>
          <label for="admin_hierarchy_level_id">Admin Hierarchy Level </label>
        </span>
        <span
          *ngIf="
            editForm.get('admin_hierarchy_level_id')!.invalid &&
            (editForm.get('admin_hierarchy_level_id')!.dirty ||
              editForm.get('admin_hierarchy_level_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('admin_hierarchy_level_id')?.errors?.required"
            >Admin Hierarchy Level is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="lga_level"
            optionValue="value"
            optionLabel="display"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="lgaLevels!"
            formControlName="lga_level"
          ></p-dropdown>
          <label for="lga_level">Lga Level</label>
        </span>
        <span
          *ngIf="
            editForm.get('lga_level')!.invalid &&
            (editForm.get('lga_level')!.dirty ||
              editForm.get('lga_level')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('lga_level')?.errors?.required"
            >Lga Level is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-multiSelect
            id="sections"
            optionValue="id"
            optionLabel="name"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="sections!"
            formControlName="sections"
          ></p-multiSelect>
          <label for="sections">Section/Cost Centres</label>
        </span>
        <span
          *ngIf="
            editForm.get('sections')!.invalid &&
            (editForm.get('sections')!.dirty ||
              editForm.get('sections')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('sections')?.errors?.required"
            >Section is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          [disabled]="editForm.invalid"
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
