<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input
            id="description"
            type="text"
            pInputText
            formControlName="description"
          />
          <label for="description">Description </label>
        </span>
        <span
          *ngIf="
            editForm.get('description')!.invalid &&
            (editForm.get('description')!.dirty ||
              editForm.get('description')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('description')?.errors?.required"
            >Description is required.</small
          >
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="code" type="text" pInputText formControlName="code" />
          <label for="code">Code </label>
        </span>
        <span
          *ngIf="
            editForm.get('code')!.invalid &&
            (editForm.get('code')!.dirty ||
              editForm.get('code')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('code')?.errors?.required"
            >Code is required.</small
          >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="strategic_plan_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="strategicPlans!"
            formControlName="strategic_plan_id"
          ></p-dropdown>
          <label for="strategic_plan_id">Strategic Plan </label>
        </span>
        <span
          *ngIf="
            editForm.get('strategic_plan_id')!.invalid &&
            (editForm.get('strategic_plan_id')!.dirty ||
              editForm.get('strategic_plan_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('strategic_plan_id')?.errors?.required"
            >Strategic Plan is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="objective_id"
            optionValue="id"
            optionLabel="description"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="objectives!"
            formControlName="objective_id"
          ></p-dropdown>
          <label for="objective_id">Objective </label>
        </span>
        <span
          *ngIf="
            editForm.get('objective_id')!.invalid &&
            (editForm.get('objective_id')!.dirty ||
              editForm.get('objective_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('objective_id')?.errors?.required"
            >Objective is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="section_id"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="sections!"
            formControlName="section_id"
          ></p-dropdown>
          <label for="section_id">Section </label>
        </span>
        <span
          *ngIf="
            editForm.get('section_id')!.invalid &&
            (editForm.get('section_id')!.dirty ||
              editForm.get('section_id')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('section_id')?.errors?.required"
            >Section is required.</small
          >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
