<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
  >
    <p-divider></p-divider>

    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
         Activity: {{activity?.code}} - {{activity?.description}}
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
         Facility: {{activity?.facility_code}} - {{activity?.facility_name}}
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="1rem">
        <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
         Budget: {{activity?.budget | currency:'TZS  '}}
        </span>
        </div>
        <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
         Expenditure: {{activity?.expenditure | currency:'TZS  '}}
        </span>
        </div>
        <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
         Balance: {{activity?.budget! - activity?.expenditure! | currency:'TZS  '}}
        </span>
        </div>
      </div>
      <p-divider></p-divider>
    </div>
    <div fxLayout="column" fxLayoutGap="1rem">
      <div fxLayout="row" fxLayoutGap="1rem">

      </div>
    </div>

  </form>
</div>
