<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
  >
    <p-divider></p-divider>
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
         Activity: {{activity?.code}} - {{activity?.description}}
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
         Facility: {{activity?.code}}
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
         Quarter: {{activity?.quarter}}
        </span>
      </div><div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
         Budget: {{activity?.budget}}
        </span>
    </div>
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
         Expenditure: {{activity?.expenditure}}
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
         Balance: {{activity?.balance}}
        </span>
      </div>
    </div>
    <p-table [value]="activities!" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Quarter</th>
          <th>Status</th>
          <th>Achievement</th>
          <th>Achievement Value</th>
          <th>Completion(%)</th>
          <th>Date Updated</th>
          <th>Remarks</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-act>
        <tr>
          <td>{{act.period}}</td>
          <td>{{act.status}}</td>
          <td>{{act.achievement}}</td>
          <td>{{act.achievement_value}}</td>
          <td>{{act.completion}}</td>
          <td>{{act.updated_at}}</td>
          <td>{{act.remarks}}</td>
        </tr>
      </ng-template>
    </p-table>

  </form>
</div>
