<div class="content" fxLayout="column" fxLayoutGap="0.75rem">
  <!-- Filter Panel -->
  <p-card class="filter">
    <ng-template pTemplate="header">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <i class="pi pi-filter"></i>
        <!-- <span class="card-header-text">Filter</span> -->
        <p-divider class="title">
          <span>{{ currentUser?.admin_hierarchy?.name }}</span>
        </p-divider>
      </div>
    </ng-template>
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutGap="8px" fxFlex fxLayoutAlign="start">
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="cas_plan_id"
              optionValue="id"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              [options]="casPlans!"
              (onChange)="loadDataSets()"
              [(ngModel)]="cas_plan_id"
            ></p-dropdown>
            <label for="cas_plan_id">Cas Plan </label>
          </span>
        </div>
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="data_set"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              [options]="dataSets!"
              (onChange)="onDataSetChange()"
              [(ngModel)]="dataSet"
            ></p-dropdown>
            <label for="data_set">Data Set </label>
          </span>
        </div>
      </div>
      <p-divider layout="vertical"></p-divider>
      <div fxLayout="column" fxLayoutGap="8px" fxFlex fxLayoutAlign="start">
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="financial_year_id"
              optionValue="id"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              [options]="financialYears!"
              (onChange)="filterChanged()"
              [(ngModel)]="financial_year_id"
            ></p-dropdown>
            <label for="financial_year_id">Financial Year </label>
          </span>
        </div>
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="period_id"
              optionValue="id"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              [options]="periods!"
              (onChange)="filterChanged()"
              [(ngModel)]="period_id"
            ></p-dropdown>
            <label for="period_id">Period</label>
          </span>
        </div>
      </div>
      <p-divider layout="vertical"></p-divider>
      <div fxLayout="column" fxLayoutGap="8px" fxFlex fxLayoutAlign="start">
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="facility_type_id"
              optionValue="id"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              [options]="facilityTypes!"
              (onChange)="loadFacilities()"
              [(ngModel)]="facility_type_id"
            ></p-dropdown>
            <label for="facility_type_id">Facility Type</label>
          </span>
        </div>
        <div class="p-field" fxFlex>
          <span class="p-float-label">
            <p-dropdown
              id="facility_id"
              optionValue="id"
              optionLabel="name"
              [autoDisplayFirst]="false"
              [filter]="true"
              class="p-inputtext-sm"
              [options]="facilities!"
              (onChange)="filterChanged()"
              [(ngModel)]="facility_id"
            ></p-dropdown>
            <label for="facility_id">Facility </label>
          </span>
        </div>
      </div>
    </div>
  </p-card>

  <!-- Table Panel -->
  <p-card>
    <div fxLayout="column" fxLayoutGap="10px">
      <div
        fxLayout="column"
        fxLayoutGap="10px"
        *ngFor="let catComb of categoryCombinations"
      >
        <span>By {{ catComb.name }}</span>
        <table
          cellspacing="0"
          class="p-datatable p-datavalue-table p-datatable-gridlines"
          style="width: 100%"
        >
          <thead class="p-datatable-thead">
          <tr>
            <th></th>
            <th *ngFor="let coc of catComb.category_option_combinations">
              {{ coc.name }}
            </th>
          </tr>
          </thead>
          <tbody class="p-datatable-tbody">
          <tr *ngFor="let de of filterByCategoryCombo(catComb.id!)">
            <td>
              {{ de.name }}
            </td>
            <td *ngFor="let coc of catComb.category_option_combinations">
              <input
                *ngIf="de.value_type === 'TEXT'"
                autocomplete="off"
                id="{{ de.id! }}-{{ coc.id! }}"
                (blur)="saveValue(dataValuesArray[de.id!][coc.id!])"
                type="text"
                pInputText
                [(ngModel)]="dataValuesArray[de.id!][coc.id!].value"
              />
              <p-inputNumber
                *ngIf="de.value_type === 'NUMBER'"
                autocomplete="off"
                id="{{ de.id! }}-{{ coc.id! }}"
                (onBlur)="saveValue(dataValuesArray[de.id!][coc.id!])"
                type="text"
                [(ngModel)]="dataValuesArray[de.id!][coc.id!].value"
              ></p-inputNumber>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </p-card>
</div>

<p-confirmDialog
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  header="Confirmation Delete Data Value"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
