<div class="dialog-content">
  <p-table #cl [value]="ceilings!" selectionMode="single"   dataKey="id" styleClass="p-datatable-gridlines" responsiveLayout="scroll"
           [rows]="10" [paginator]="false" >
    <ng-template pTemplate="caption">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(cl)"></button>
        <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input #ceilingSearchInput pInputText type="text"  placeholder="Search keyword" />
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Fund Source</th>
        <th>Budget Class</th>
        <th style="text-align: end">Initiate</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>[{{rowData?.fund_source?.gfs_code.code}}] {{rowData?.fund_source?.gfs_code?.name}}</td>
        <td>{{rowData?.fund_source?.name}}</td>
        <td>{{rowData?.budget_class?.name}}</td>
        <td style="text-align: end">
          <button
            type="text"
            pButton
            pRipple
            pTooltip="Add Bank Account"
            tooltipPosition="bottom"
            iconPos="left"
            type="button"
            class="p-button-outlined"
            (click)="initiate(rowData)"
          >
            initiate &nbsp; &nbsp;<i class="pi pi-pencil"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="p-dialog-footer">
  <p-button (onClick)="close()" label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"></p-button>
  &nbsp;<p-button (onClick)="save()"   label="Save" icon="pi pi-save"></p-button>
</div>

