<div class="dialog-content">
  <form
    name="editForm"
    role="form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="editForm"
  >
    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="p-field p-col-12 p-md-4" fxFlex>
        <span class="p-float-label">
          <input id="name" type="text" pInputText formControlName="name" />
          <label for="name">Name </label>
        </span>
        <span
          *ngIf="
            editForm.get('name')!.invalid &&
            (editForm.get('name')!.dirty ||
              editForm.get('name')!.touched ||
              formError)
          "
        >
          <small class="p-error" *ngIf="editForm.get('name')?.errors?.required"
            >Name is required.</small
          >
        </span>
      </div>

      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="admin_hierarchy_level_position"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            optionValue="position"
            optionLabel="name"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="adminHierarchyLevels!"
            formControlName="admin_hierarchy_level_position"
          ></p-dropdown>
          <label for="admin_hierarchy_level_position"
            >Admin Hierarchy Level
          </label>
        </span>
        <span
          *ngIf="
            editForm.get('admin_hierarchy_level_position')!.invalid &&
            (editForm.get('admin_hierarchy_level_position')!.dirty ||
              editForm.get('admin_hierarchy_level_position')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('admin_hierarchy_level_id')?.errors?.required"
            >Admin Hierarchy Level is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-dropdown
            id="section_level_position"
            optionValue="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [filter]="true"
            optionValue="position"
            optionLabel="name"
            class="p-inputtext-sm"
            appendTo="body"
            [options]="sectionLevels!"
            formControlName="section_level_position"
          ></p-dropdown>
          <label for="section_level_position">Section Level </label>
        </span>
        <span
          *ngIf="
            editForm.get('section_level_position')!.invalid &&
            (editForm.get('section_level_position')!.dirty ||
              editForm.get('section_level_position')!.touched ||
              formError)
          "
        >
          <small
            class="p-error"
            *ngIf="editForm.get('section_level_position')?.errors?.required"
            >Section Level is required.</small
          >
        </span>
      </div>
      <div class="p-field" fxFlex>
        <span class="p-float-label">
          <p-multiSelect
            [options]="nextDecisionLevels!"
            formControlName="next_decision_level_ids"
            optionLabel="name"
            dataKey="id"
            [filter]="true"
            class="p-inputtext-sm"
            appendTo="body"
          >
          </p-multiSelect>
          <label for="next_decision_level_ids">Next Decision Level</label>
        </span>
        <span
          *ngIf="
            editForm.get('next_decision_level_ids')!.invalid &&
            (editForm.get('next_decision_level_ids')!.dirty ||
              editForm.get('next_decision_level_ids')!.touched ||
              formError)
          "
        >
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="0.75rem">
        <span fxFlex></span>
        <button
          class="p-button-raised"
          icon="pi pi-check"
          label="Save"
          pButton
          type="submit"
        ></button>
      </div>
    </div>
  </form>
</div>
